@charset "windows-1250";
/* CSS Document */

.countdown {
        color: #fff !important;
    }
    .countdown h3 {
        font-size: 1.6em;
        margin-bottom: 0px;
        padding-bottom: 0px;
        line-height: 1.08em;
        margin: 0px;
    }
    p.intro {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    p a.arrow {
        background-image: url('/en_GX/webadmin/assets/image/wbtile-white-arrow.gif');
        background-position: right bottom;
        background-repeat: no-repeat;
        padding-right: 15px;
        margin-bottom: 0px !important;
        width: 107px;
    }
    .clock_wrapper {
        width: 220px;
        color: #fff;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 14px;
	position: relative;
	left: -6px;
    }
    .info {
        width: 55px;
        float: left;
        margin: 0px;
        text-align: center;
        padding-right: 0px;
        font-size: 10px;
    }
    .info span {
        font-size: 36px;
        display: block;
        font-weight: bold;
        line-height: 26px;
    }
    .info.last {
        margin-right: 0px;
        border-right: none;
    }
    p.no-padding {
        padding: 0px;
    }
    p.no-margin {
        margin: 0px;
    }
#pwcmobile .countdown {
        color: #dc6900 !important;
    }

#pwcmobile .clock_wrapper {
        color: #dc6900;
    }
#pwcmobile #homeslider .content p{
	display: block !important;
	}