#pwcslider { padding-bottom: 45px; height: 350px !important; width: 770px !important;}
#pwcslider .items {  height: 100% !important; }
#pwcslider .items .feature { padding: 0; overflow: hidden; margin: 0 10px 0 0; width: 770px !important; height: 349px !important; position: relative;}
#pwcslider .sliderfooter { position: relative; bottom: 0; height: 33px; }
#pwcslider .sliderfooter .browse { background-position: 50% 50%  }
#pwcslider .sliderfooter .navi { position: static; margin-left: 290px;  }
#pwcslider .sliderfooter .navi a { width: 60px; height: 23px; border: 0; margin-right: 2px; border-bottom: 3px solid #ccc; text-decoration: none; font-size: 1.5em; line-height: 1.2em; font-family: Georgia, "Times New Roman"; font-style: italic; text-align:center; padding-top:3px;}

#pwcslider .fsregfeature { position: relative; height: 100%; float: left; display: block; }
#pwcslider .fsregfeature, #pwcslider fsregfeature.halfheightwide, #pwcslider fsregfeature.halfheight { overflow: hidden;}
#pwcslider .fsregfeature { width: 255px; margin-right: 1px;}
#pwcslider .halfheightwide { width: 511px; height: 50%; margin-bottom: 1px; margin-right: 1px; }
#pwcslider .halfheight { height: 50%; margin-bottom: 1px; margin-right: 1px;}

#pwcslider .fsregfeature .fsregcontent, #pwcslider .fsregfeature .fsregsub { position: absolute; top: 0; padding: 10px; filter:alpha(opacity=90); opacity:0.9; color: #fff !important; width: 95%;}
#pwcslider .fsregfeature .fsregsub { bottom: 0; top: auto; }
#pwcslider .fsregfeature .fsregcontent a { color: #fff !important; display: block; margin: 5px 0; font-family: Georgia, "Times New Roman"; font-style: italic; font-size: 1.3em; font-weight: bold; text-decoration: none; line-height: 1.2em; }
#pwcslider .fsregfeature .fsregcontent a:hover { text-decoration: underline; }
#pwcslider .fsregfeature .fsregcontent small { font-size: 1em; font-weight:bold; }
#pwcslider .fsregfeature .fsregsub a { color: #fff; text-decoration: none; display: block; font-size: 1em; margin: 5px 10px 5px 0; font-style: normal; font-weight: normal; font-family: Arial, Helvetica, sans-serif; }
#pwcslider .fsregfeature .fsregsub a:hover {color: #fff; text-decoration: underline; display: block; font-size: 1em; margin: 5px 10px 5px 0; font-style: normal; font-weight: normal; font-family: Arial, Helvetica, sans-serif; }
#pwcslider .fsregfeature a span, #pwcslider .fsregfeature.halfheightwide a span { display: block; font-size: .8em; line-height: 1.2em; font-style: normal; font-weight: normal; font-family: Arial, Helvetica, sans-serif; margin: 5px 5px 5px 0; }
#pwcslider .fsregfeature.halfheight a, #pwcslider .fsregfeature.halfheightwide a { font-size: 1.2em; margin: 3px 0;}
#pwcslider .fsregfeature.halfheight small {}
#pwcslider .fsregfeature.halfheightwide.white .fsregcontent {  width: 45%; top: 5px; height: 70%; filter:alpha(opacity=90); opacity:0.9;}

#pwcslider .fsregfeature.tangerine .fsregcontent { background-color: #eb8c00; }
#pwcslider .fsregfeature.orange .fsregcontent { background-color: #dc6900; }
#pwcslider .fsregfeature.red .fsregcontent { background-color: #e0301e; }
#pwcslider .fsregfeature.rose .fsregcontent { background-color: #db536a; }
#pwcslider .fsregfeature.burgundy .fsregcontent { background-color: #a32020; }
#pwcslider .fsregfeature.maroon .fsregcontent { background-color: #602320; }
#pwcslider .fsregfeature.black .fsregcontent { background-color: #6d6e71; }

#pwcslider .fsregfeature.tangerine .fsregsub { background-color: #eb8c00; }
#pwcslider .fsregfeature.orange .fsregsub { background-color: #dc6900; }
#pwcslider .fsregfeature.red .fsregsub { background-color: #e0301e; }
#pwcslider .fsregfeature.rose .fsregsub { background-color: #db536a; }
#pwcslider .fsregfeature.burgundy .fsregsub { background-color: #a32020; }
#pwcslider .fsregfeature.maroon .fsregsub { background-color: #602320; }
#pwcslider .fsregfeature.black .fsregsub { background-color: #6d6e71; }

#pwcslider .fsregfeature.white {  }
#pwcslider .fsregfeature.white .fsregcontent, #pwcslider .fsregfeature.white2 .fsregcontent { background-color: #fff; bottom: 0; top: auto; margin: 10px; width: 85%; }
#pwcslider .fsregfeature.halfheight.white .fsregcontent, #pwcslider .fsregfeature.halfheight.white2 .fsregcontent { margin: 0; top: 0;}
#pwcslider .fsregfeature.tangerine.white .fsregcontent, #pwcslider .fsregfeature.tangerine.white .fsregcontent a, #pwcslider .fsregfeature.tangerine.white2 .fsregcontent, #pwcslider .fsregfeature.tangerine.white2 .fsregcontent a, #pwcslider .fsregfeature.tangerine.white3 .fsregcontent, #pwcslider .fsregfeature.tangerine.white3 .fsregcontent a { color: #eb8c00 !important; }
#pwcslider .fsregfeature.orange.white .fsregcontent, #pwcslider .fsregfeature.orange.white .fsregcontent a, #pwcslider .fsregfeature.orange.white2 .fsregcontent, #pwcslider .fsregfeature.orange.white2 .fsregcontent a, #pwcslider .fsregfeature.orange.white3 .fsregcontent, #pwcslider .fsregfeature.orange.white3 .fsregcontent a { color: #dc6900 !important; }
#pwcslider .fsregfeature.red.white .fsregcontent, #pwcslider .fsregfeature.red.white .fsregcontent a, #pwcslider .fsregfeature.red.white2 .fsregcontent, #pwcslider .fsregfeature.red.white2 .fsregcontent a, #pwcslider .fsregfeature.red.white3 .fsregcontent, #pwcslider .fsregfeature.red.white3 .fsregcontent a { color: #e0301e !important; }
#pwcslider .fsregfeature.rose.white .fsregcontent, #pwcslider .fsregfeature.rose.white .fsregcontent a, #pwcslider .fsregfeature.rose.white2 .fsregcontent, #pwcslider .fsregfeature.rose.white2 .fsregcontent a, #pwcslider .fsregfeature.rose.white3 .fsregcontent, #pwcslider .fsregfeature.rose.white3 .fsregcontent a { color: #db536a !important; }
#pwcslider .fsregfeature.burgundy.white .fsregcontent, #pwcslider .fsregfeature.burgundy.white .fsregcontent a, #pwcslider .fsregfeature.burgundy.white2 .fsregcontent, #pwcslider .fsregfeature.burgundy.white2 .fsregcontent a, #pwcslider .fsregfeature.burgundy.white3 .fsregcontent, #pwcslider .fsregfeature.burgundy.white3 .fsregcontent a { color: #a32020 !important; }
#pwcslider .fsregfeature.maroon.white .fsregcontent, #pwcslider .fsregfeature.maroon.white .fsregcontent a, #pwcslider .fsregfeature.maroon.white2 .fsregcontent, #pwcslider .fsregfeature.maroon.white2 .fsregcontent a, #pwcslider .fsregfeature.maroon.white3 .fsregcontent, #pwcslider .fsregfeature.maroon.white3 .fsregcontent a { color: #602320 !important; }
#pwcslider .fsregfeature.black.white .fsregcontent, #pwcslider .fsregfeature.black.white .fsregcontent a, #pwcslider .fsregfeature.black.white2 .fsregcontent, #pwcslider .fsregfeature.black.white2 .fsregcontent a, #pwcslider .fsregfeature.black.white3 .fsregcontent, #pwcslider .fsregfeature.black.white3 .fsregcontent a { color: #6d6e71 !important; }

#pwcslider .fsregfeature.halfheight.white3 .fsregcontent { background-color:#fff !important; bottom: 0 !important; top: auto !important; width: 85% !important; height: 50% !important; filter:alpha(opacity=90); opacity:0.9; margin:10px !important;}

#pwcslider .fsregfeature.halfheight.tangerine { background-color: #eb8c00; }
#pwcslider .fsregfeature.halfheight.orange { background-color: #dc6900; }
#pwcslider .fsregfeature.halfheight.red { background-color: #e0301e; }
#pwcslider .fsregfeature.halfheight.rose { background-color: #db536a; }
#pwcslider .fsregfeature.halfheight.burgundy { background-color: #a32020; }
#pwcslider .fsregfeature.halfheight.maroon { background-color: #602320; }
#pwcslider .fsregfeature.halfheight.black { background-color: #939598; }
#pwcslider .fsregfeature.halfheight.grey { background-color: #968c6d; }

#pwcslider .fsregfeature.halfheight.tangerine .fsregcontent, 
#pwcslider .fsregfeature.halfheight.orange .fsregcontent, 
#pwcslider .fsregfeature.halfheight.red .fsregcontent, 
#pwcslider .fsregfeature.halfheight.rose .fsregcontent, 
#pwcslider .fsregfeature.halfheight.burgundy .fsregcontent, 
#pwcslider .fsregfeature.halfheight.maroon .fsregcontent, 
#pwcslider .fsregfeature.halfheight.black .fsregcontent { background: none; }
#pwcslider .fsregfeature.halfheight.white { background-color: #fff; }
#pwcslider .fsregfeature.halfheight.white2 .fsregcontent { background-color: #fff; filter:alpha(opacity=100); opacity:1.0; height: 100%; width: 45%;}

#pwcslider .fsregfeature.halfheight.tangerine.white .fsregcontent small, #pwcslider .fsregfeature.halfheightwide.tangerine.white .fsregcontent small { color: #eb8c00; }
#pwcslider .fsregfeature.halfheight.orange.white .fsregcontent small, #pwcslider .fsregfeature.halfheightwide.orange.white .fsregcontent small { color: #dc6900; }
#pwcslider .fsregfeature.halfheight.red.white .fsregcontent small, #pwcslider .fsregfeature.halfheightwide.red.white .fsregcontent small { color: #e0301e; }
#pwcslider .fsregfeature.halfheight.rose.white .fsregcontent small, #pwcslider .fsregfeature.halfheightwide.rose.white .fsregcontent small { color: #db536a; }
#pwcslider .fsregfeature.halfheight.burgundy.white .fsregcontent small, #pwcslider .fsregfeature.halfheightwide.burgundy.white .fsregcontent small { color: #a32020; }
#pwcslider .fsregfeature.halfheight.maroon.white .fsregcontent small, #pwcslider .fsregfeature.halfheightwide.maroon.white .fsregcontent small { color: #602320; }
#pwcslider .fsregfeature.halfheight.black.white .fsregcontent small, #pwcslider .fsregfeature.halfheightwide.black.white .fsregcontent small { color: #939598; }
#pwcslider .fsregfeature.halfheight.white .fsregcontent a span, #pwcslider .fsregfeature.halfheightwide.white .fsregcontent a span { color: #000; }

#pwcslider .fsregfeature.halfheightwide .fsregcontent { filter:alpha(opacity=100); opacity:1.0; height: 100%;}

#pwcslider .sliderfooter .navi a.active#navi1 { border-bottom: 6px solid #eb8c00; color: #eb8c00; font-weight:bold;}
#pwcslider .sliderfooter .navi a.active#navi2 { border-bottom: 6px solid #e0301e; color: #e0301e; font-weight:bold; }
#pwcslider .sliderfooter .navi a.active#navi3 { border-bottom: 6px solid #db536a; color: #db536a; font-weight:bold; }

/* Smaller Hub version */
#pwcslider.fsreghub { padding-bottom: 68px; }
#pwcslider.fsreghub, #pwcslider.fsreghub .items .feature { width: 556px !important; height: 300px !important }
#pwcslider.fsreghub .fsregfeature { width: 277px; }
#pwcslider.fsreghub .sliderfooter { text-align: center; margin-top: 1px; }
#pwcslider .sliderfooter .browse { width: 30px; }
#pwcslider.fsreghub .sliderfooter .navi { position: static; text-align: center; width: auto !important; margin-left: auto; margin-right: auto; display: inline-block; zoom: 1; *display: inline; }
#pwcslider.fsreghub .sliderfooter .navi a { width: 60px; font-size: 1.5em; line-height: 1.2em; height: 23px; font-style: italic; color: #939598; font-family: Georgia, "Times New Roman"; }
#pwcslider.fsreghub .fsregcontent { display: block; width: auto; }
#pwcslider .sliderhead { width: 535px !important; margin-bottom: 1px;}

#pwcslider.fsreghub.static .sliderfooter { display: none; }
#pwcslider.fsreghub.static { padding-bottom: 0; height: 330px !important;}

#pwcslider.fsreghub .bgimage .fsregcontent { top: auto; bottom: 0; width: 80%; }
#pwcslider.fsreghub .bgimage.tangerine .fsregcontent { background-color: #eb8c00; }
#pwcslider.fsreghub .bgimage.orange .fsregcontent { background-color: #dc6900; }
#pwcslider.fsreghub .bgimage.red .fsregcontent { background-color: #e0301e; }
#pwcslider.fsreghub .bgimage.rose .fsregcontent { background-color: #db536a; }
#pwcslider.fsreghub .bgimage.burgundy .fsregcontent { background-color: #a32020; }
#pwcslider.fsreghub .bgimage.maroon .fsregcontent { background-color: #602320; }
#pwcslider.fsreghub .bgimage.black .fsregcontent { background-color: #6d6e71; }

#pwcslider.fsreghub .fsregfeature .fsregcontent.iconepub,
#pwcslider.fsreghub .fsregfeature .fsregcontent.iconpdf,
#pwcslider.fsreghub .fsregfeature .fsregcontent.icondata,
#pwcslider.fsreghub .fsregfeature .fsregcontent.iconplay {
padding-bottom: 28px;
background-repeat: no-repeat;
background-position: bottom left;
bottom: 0;
}

#pwcslider.fsreghub .fsregfeature .fsregcontent.iconepub { background-image: url('/en_GX/webadmin/assets/image/icon_video.gif'); }
#pwcslider.fsreghub .fsregfeature .fsregcontent.iconpdf { background-image: url('/en_GX/webadmin/assets/image/icon_pub.gif'); }
#pwcslider.fsreghub .fsregfeature .fsregcontent.icondata { background-image: url('/en_GX/webadmin/assets/image/icon_graph.gif'); }
#pwcslider.fsreghub .fsregfeature .fsregcontent.iconplay { background-image: url('/en_GX/webadmin/assets/image/icon_video.gif'); }



/* MOBILE */
#pwcmobile #pwcslider { padding: 0; height: 100% !important; width: 100% !important; border-top: 1px dotted #939598;}
#pwcmobile #pwcslider .feature.cloned { display: none; }
#pwcmobile #pwcslider .items .feature { padding-bottom: 0 !important; border: 0;}
#pwcmobile #pwcslider .items .feature { margin: 0; width: 100% !important; height: inherit !important; float: none !important; }
#pwcmobile #pwcslider .sliderfooter { display: none; }
#pwcmobile #pwcslider .fsregfeature { float: none; width: 100%; margin: 0; background-image: none !important; }

#pwcmobile #pwcslider .halfheightwide, #pwcmobile #pwcslider .halfheight { width: 100%; height: 100%; margin: 0; }

#pwcmobile #pwcslider .fsregfeature .fsregcontent { position: static; padding: 5px; filter:alpha(opacity=100); opacity:1.0; }
#pwcmobile #pwcslider .fsregfeature .fsregsub { display: none; }

#pwcmobile #pwcslider .fsregfeature.halfheightwide.white .fsregcontent {  width: 100%; top: 0; height: 100%; }
#pwcmobile #pwcslider .fsregfeature.halfheight.white .fsregcontent, #pwcmobile #pwcslider .fsregfeature.halfheight.white2 .fsregcontent { width: 100%;}
#pwcmobile #pwcslider .fsregfeature.white .fsregcontent, #pwcmobile #pwcslider .fsregfeature.white2 .fsregcontent { margin: 0; }

/* Smaller Hub version (mobile) */
#pwcmobile #pwcslider.fsreghub, #pwcmobile #pwcslider.fsreghub .items .feature { width: 100% !important; }
#pwcmobile #pwcslider.fsreghub .fsregfeature { width: 100%; }

/* Mobile colours */

#pwcmobile #pwcslider .fsregfeature .fsregcontent { background-color: #ffffff !important; border-bottom: 1px dotted #939598;}
#pwcmobile #pwcslider .fsregfeature.tangerine .fsregcontent, #pwcmobile #pwcslider .fsregfeature.tangerine .fsregcontent a { color: #eb8c00 !important; }
#pwcmobile #pwcslider .fsregfeature.orange .fsregcontent, #pwcmobile #pwcslider .fsregfeature.orange .fsregcontent a { color: #dc6900 !important; }
#pwcmobile #pwcslider .fsregfeature.red .fsregcontent, #pwcmobile #pwcslider .fsregfeature.red .fsregcontent a { color: #e0301e !important; }
#pwcmobile #pwcslider .fsregfeature.rose .fsregcontent, #pwcmobile #pwcslider .fsregfeature.rose .fsregcontent a { color: #db536a !important; }
#pwcmobile #pwcslider .fsregfeature.burgundy .fsregcontent, #pwcmobile #pwcslider .fsregfeature.burgundy .fsregcontent a { color: #a32020 !important; }
#pwcmobile #pwcslider .fsregfeature.maroon .fsregcontent, #pwcmobile #pwcslider .fsregfeature.maroon .fsregcontent a { color: #602320 !important; }
#pwcmobile #pwcslider .fsregfeature.black .fsregcontent, #pwcmobile #pwcslider .fsregfeature.black .fsregcontent a { color: #6d6e71 !important; }

#pwcmobile #pwcslider .fsregfeature.halfheight { background-color: #fff !important; }
#pwcmobile #pwcslider .fsregfeature.halfheight.tangerine { color: #dc6900; }
#pwcmobile #pwcslider .fsregfeature.halfheight.orange { color: #e0301e; }
#pwcmobile #pwcslider .fsregfeature.halfheight.red { color: #dc6900; }
#pwcmobile #pwcslider .fsregfeature.halfheight.rose { color: #e0301e; }
#pwcmobile #pwcslider .fsregfeature.halfheight.burgundy { color: #e0301e; }
#pwcmobile #pwcslider .fsregfeature.halfheight.maroon { color: #a32020; }
#pwcmobile #pwcslider .fsregfeature.halfheight.black { color: #939598; }

/* BOTTOM BLOCKS */
.shareblock {background-color: #6D6E71; width: 499px; color: #fff; font-family: georgia; font-size: 1.2em; font-weight:bold; font-style:italic; padding:6px;}

.landingcolumn.rightcolumn {background-color: #6D6E71 !important; color: #FFFFFF !important; position: relative; margin-right:0; width:236px;}
.landingcolumn {width:235px; background-color:#e7e7e8 !important; margin-right:1px; padding:10px 10px 30px 10px; display:inline-block; float:left; vertical-align:top;}
.landingcolumn h2 {
    background-color: transparent !important;
    border: 0 none !important;
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.3em;
    margin:0 0 5px 0;
    padding: 0;
}
.landingcolumn.rightcolumn h2 {color:#fff !important;}

.landingcolumn p {
    font-family: arial;
    font-size: 1em;
    margin: 7px 0;
}
.landingcolumn small {
    display: block;
    font-size: 0.85em;
}

.landingcolumn ul {
    margin-bottom: 10px;
}
.landingcolumn ul li {
    border: 0 none;
    font-size: 1em;
    line-height: 1.1em;
    margin-left: auto !important;
    padding: 3px !important;
}
* html .landingcolumn ul li {
    margin-left: -5px !important;
}
:first-child + html .landingcolumn ul li {
    margin-left: -5px !important;
}
.landingcolumn a, {
    display: block;
    font-family: Georgia,"Times New Roman";
    font-size: 0.95em;
    text-decoration: none !important;
}
.landingcolumn p a, .landingcolumn ul li a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none !important;
}
.landingcolumn a:hover {
    text-decoration: underline !important;
}
.landingcolumn.tangerine a {
    color: #DC6900 !important;
    text-decoration: none !important;
}
.landingcolumn.orange a {
    color: #E0301E !important;
        text-decoration: none !important;
}
.landingcolumn.red a {
    color: #DC6900 !important;
    text-decoration: none !important;
}
.landingcolumn.rose a {
    color: #E0301E !important;
    text-decoration: none !important;
}
.landingcolumn.burgundy a {
    color: #E0301E !important;
    text-decoration: none !important;
}
.landingcolumn.maroon a {
    color: #A32020 !important;
    text-decoration: none !important;
}
.landingcolumn.grey a {
    color: #968C6D !important;
    text-decoration: none !important;
}
.landingcolumn.tangerine a:hover {
    color: #DC6900 !important;
    text-decoration: underline !important;
}
.landingcolumn.orange a:hover {
    color: #E0301E !important;
        text-decoration: underline !important;
}
.landingcolumn.red a:hover {
    color: #DC6900 !important;
    text-decoration: underline !important;
}
.landingcolumn.rose a:hover {
    color: #E0301E !important;
    text-decoration: underline !important;
}
.landingcolumn.burgundy a:hover {
    color: #E0301E !important;
    text-decoration: underline !important;
}
.landingcolumn.maroon a:hover {
    color: #A32020 !important;
    text-decoration: underline !important;
}
.landingcolumn.grey a:hover {
    color: #968C6D !important;
    text-decoration: underline !important;
}
.landingcolumn.tangerine ul li a, .landingcolumn.orange ul li a, .landingcolumn.red ul li a, .landingcolumn.rose ul li a, .landingcolumn.burgundy ul li a, .landingcolumn.maroon ul li a, .landingcolumn.grey ul li a {
    color: #404041 !important;
}
.landingcolumn.tangerine p a, .landingcolumn.orange p a, .landingcolumn.red p a, .landingcolumn.rose p a, .landingcolumn.burgundy p a, .landingcolumn.maroon p a, .landingcolumn.grey p a {
    color: #404041 !important;
}
.landingcolumn.tangerine ul li {
    list-style: disc outside url("/en_GX/webadmin/assets/image/tangerine_square.gif") !important;
}
.landingcolumn.orange ul li {
    list-style: disc outside url("/en_GX/webadmin/assets/image/orange_square.gif") !important;
}
.landingcolumn.red ul li {
    list-style: disc outside url("/en_GX/webadmin/assets/image/red_square.gif") !important;
}
.landingcolumn.rose ul li {
    list-style: disc outside url("/en_GX/webadmin/assets/image/rose_square.gif") !important;
}
.landingcolumn.burgundy ul li {
    list-style: disc outside url("/en_GX/webadmin/assets/image/burgundy_square.gif") !important;
}
.landingcolumn.maroon ul li {
    list-style: disc outside url("/en_GX/webadmin/assets/image/maroon_square.gif") !important;
}
.landingcolumn.grey ul li {
    list-style: disc outside url("/en_GX/webadmin/assets/image/grey_square.gif") !important;
}
.landingcolumn.rightcolumn a {color:#fff !important; text-decoration:none !important;}
.landingcolumn.rightcolumn a:hover {color:#fff !important; text-decoration:underline !important;}
.landingcolumn.tangerine {
    background-color: #FDF4E5;
}
.landingcolumn.orange {
    background-color: #FBF0E5;
}
.landingcolumn.red {
    background-color: #FCEAE9;
}
.landingcolumn.rose {
    background-color: #FBEEF0;
}
.landingcolumn.burgundy {
    background-color: #F6E9E9;
}
.landingcolumn.tangerine ul li a:hover, .landingcolumn.tangerine p a:hover {
    color: #EB8C00 !important;
        text-decoration: underline !important;
}
.landingcolumn.orange ul li a:hover, .landingcolumn.orange p a:hover {
    color: #DC6900 !important;
        text-decoration: underline !important;
}
.landingcolumn.red ul li a:hover, .landingcolumn.red p a:hover {
    color: #E0301E !important;
        text-decoration: underline !important;
}
.landingcolumn.rose ul li a:hover, .landingcolumn.rose p a:hover {
    color: #DB536A !important;
        text-decoration: underline !important;
}
.landingcolumn.burgundy ul li a:hover, .landingcolumn.burgundy p a:hover {
    color: #A32030 !important;
        text-decoration: underline !important;
}
.landingcolumn.maroon ul li a:hover, .landingcolumn.maroon p a:hover {
    color: #EB8C00 !important; 
    text-decoration: underline !important;
}
.landingcolumn.black ul li a:hover, .landingcolumn.black p a:hover {
    color: #602320 !important;
        text-decoration: underline !important;
}
.landingcolumn.maroon h2 {
    color: #602320;
}
.landingcolumn.tangerine h2 {
    color: #eb8c00;
}
.landingcolumn.orange h2 {
    color: #FBF0E5;
}
.landingcolumn.red h2 {
    color: #dc6900;
}
.landingcolumn.rose h2 {
    color: #db536a;
}
.landingcolumn.burgundy h2 {
    color: #a32020;
}

.landingcolumn p.blogheading {margin:3px 0 0 0;}
.landingcolumn p.blogheading a {margin:0 0 3px 0 !important; font-weight:bold !important; font-family:georgia !important; color:#E0301E !important;}
.landingcolumn p.blogabstract {margin:0 !important;}   
.landingcolumn p.blogabstract a.news {font-family:arial, sans-serif !important; font-weight:normal !important; color:#404041 !important;}
.blogblock {height: 330px;} 

#pwcmobile .landingcolumn {width:100%; float:none;}


