@charset "UTF-8";
/* CSS Document */
body{
	margin:0;
}

#balloon{
	display:none;
}
.mapcontainer{
	position:absolute;
	left:0px;
	width:550px;
	height:450px;
	background-image:url(/en_uk/uk/who-we-are/assets/map_nb.png);
	background-position:left;
	background-repeat:no-repeat;
	margin:0;
}

.map_locationlist{
	position:absolute;
	left:360px;
	top:20px;
	width:150px;
	height:390px;
	padding:10px;
	background-color:#Db536a;
	overflow:hidden;
	border-top:4px solid #A32020;
}
div.map_listholder{
	position:absolute;
	color:#FFF;
	font:12px Georgia;
	margin:0 0 4px 0;
	padding:0;
}

.map_locationlist h2{
	margin:0 0 8px 0;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-style:italic;
	font-size:14px;
	color:#FFF;
}
div.map_regiontitle{
	margin:0 0 4px 0;
	padding:0;
	cursor:pointer;
	list-style:none;
	margin:6px 0 6px 0;
	font-family:Arial;
	font-weight:bold;
	font-size:12px;
	color:#FFF;
}
div.map_location{
	margin:0 0 4px 0;
	padding:0 0 0 8px;
	cursor:pointer;
	margin:0 0 6px 0;
	font-family:Arial;
	font-weight:normal;
	font-size:12px;
	color:#FFF;
}
.scrollpane{
	position:absolute;
	left:10px;
	top:30px;
	width:150px;
	height:360px;
	overflow:hidden;
}
.scrollbar{
	position:absolute;
	top:0;
	right:0;
	width:10px;
	height:360px;
	background-color:#f6d4da;
}
.scrollthumb{
	position:absolute;
	left:0;
	top:0;
	width:8px;
	min-height:12px;
	border:1px solid #F6D4DA;
	background-color:#DC536A;
	cursor:pointer;
}
div.map_regiontitle.over,div.map_location.over{
	background-color:#A32020;
}
.balloon{
	display:none;
	background-color:#e4e1da;
	position:absolute;
	padding:10px;
	border:1px dotted #FFF;
}
#balloontext{
	font: 14px Georgia;
	color:#404041;
	text-align:center;
}
#balloontext a{
	font: 11px Arial;
	text-decoration:none;
	color:#A32020;
}
.marker{
	position:absolute;
	width:5px;
	height:6px;
	background-color:#FFF;
	cursor:pointer;
}

