h2, h3, h4, h5, h6, h7{
font-family: georgia;
font-weight: bold;
}


h2{
font-size:  125%;
padding-bottom: 6px;
}


h5{
font-size:  150%;
font-style: italic;
color: #a32020 !important;
margin-bottom: 6px;
border-top: 4px solid #a32020;
padding-top:6px;
}

h6{
font-size:  150%;
font-style: italic;
color: #dc6900 !important;
margin-bottom: 6px;
border-top: 4px solid #dc6900;
padding-top:6px;
}


#content-section h2, #left-section h2, #right-section h2, #banner-section h2{
font-size:14px;
}
#banner-right h2{
font-style:italic;
}
#content-section h2{
padding-bottom: 6px;
border-bottom: 4px solid;
}


#right-section h4, #right-section h4 a{}
h5{}
h6, h6 a{}

hr{
border: 1px dotted #C7C8CA; 
border-style: none none dotted; 
}

p {
font-size: 0.95em;
margin: 0.85em 0;
letter-spacing: 0.004em;
}
 
.borderless { 
border-top: none; 
border-left: none; 
border-right: none; 
border-bottom: none; 
} 
 
/* ********** GENERIC ENDS ********** */

#main-section {
width: 980px;
padding: 35px 0px 35px 0px;
border-bottom: 1px dotted #C7C8CA;
margin-bottom: 28px;
}


	
#left-section .tangerine a, #right-section .tangerine a, #left-section .orange a,
#right-section .orange a, #left-section .red a, #right-section .red a,
#left-section .redblock a, #right-section .redblock a,
#left-section .rose a, #right-section .rose a, #left-section .burgundy a,
#right-section .burgundy a, #left-section .maroon a, #right-section .maroon a,
#left-section .grey a, #right-section .grey a, #left-section .black a, #right-section .black a
{color:#FFFFFF; font-weight:bold;}

#left-section .tangerine a:hover, #right-section .tangerine a:hover, #left-section .orange a:hover,
#right-section .orange a:hover, #left-section .red a:hover, #right-section .red a:hover,
#left-section .rose a:hover, #right-section .rose a:hover, #left-section .burgundy a:hover,
#right-section .burgundy a:hover, #left-section .maroon a:hover, #right-section .maroon a:hover,
#left-section .grey a:hover, #right-section .grey a:hover, #left-section .black a:hover, #right-section .black a:hover
{color:#FFFFFF; text-decoration:underline;}

#left-section {
display: inline;
float: left;
margin: 0;
padding-top: 0px;
width: 192px;
clear:right;
min-height:1px;
}

#left-section p, #right-section p, {
}

#left-section li, #right-section li{
margin-top:0px;
}

#left-section a{
color:#404041;
}
#right-section a, 
#right-section a:visited{color:#404041; text-decoration:none;}
#right-section a:hover {color: #404041; /*colour change */ text-decoration:underline;}
#right-section a:link {color:#404041; /*colour change */ text-decoration:none;}
#right-section a:hover{} 
 
#content-section {
display: inline;
float: left;
border: 0;
margin: 0px 20px 0px 20px;
width: 556px;
}


 
#right-section {
display: inline;
float: left;
padding: 0;
margin: 0;
width: 192px;
}

/* ********** MAIN SECTION BEGINS ********** */	


#main-section_subpages #left-section {
border-top: 4px solid; 
padding-top: 6px;
}

/* ********** CONTENT SECTION BEGINS ********** */	
		
#content-banner {margin-bottom: 10px;}

#content-section a, #content-section a:visited{
color:#404041 !important;
text-decoration:underline !important;
}


#content-section a:hover {
color: #db536a !important; /*colour change */
text-decoration:underline !important;
}

#content-section a:link {color:#404041 !important; /*colour change */
text-decoration:underline !important;
}


#content-section a:visited {color: #404041 !important; /*colour change */
text-decoration:underline !important;
}


#content-section ul a:link {
color:#db536a; /* colour change */
text-decoration:none;
}

#content-section ul a:hover {text-decoration:underline !important; color: #EB8C00 !important;}
#content-section ul{margin-bottom:15px;}
#content-section ul li {color:#404041; /* colour change */
list-style: outside;    
list-style-type: square;
margin-left: 20px;   
}

		
/* ********** CONTENT SECTION ENDS ********** */
		
.bsi_credential {

font-weight:bold;
font-style:italic;
text-align: center; 
width:100px;


}

/*general*/
/*colours*/

.tangerine, .orange, .red, .rose, .burgundy, .maroon, .grey, .black, .redblock{color:#FFFFFF;}



/* tangerine */
.tangerine{background-color:#EB8C00; border-top-color:#EB8C00;}
.tangerine10, div.tangerine10, p.tangerine10{background-color:#FDF4E5; border-top-color:#EB8C00;}
h2.tangerine{color:#EB8C00; background-color:#FFFFFF; padding: 0px 10px 6px 0px;}

/*orange */
.orange{background-color:#DC6900; border-top-color:#DC6900;}
.orange10, div.orange10, p.orange10{background-color:#FBF0E5; border-top-color:#DC6900;}
h2.orange{color:#DC6900; background-color:#FFFFFF; padding: 0px 10px 6px 0px;}

/* red */
.red{background-color:#E0301E; border-top-color:#E0301E;}
.red10, div.red10, p.red10{background-color:#FCEAE9; border-top:4px solid; border-top-color:#E0301E; padding: 0px 10px 6px 0px;}
h2.red{color:#E0301E; background-color:#FFFFFF}

/* rose */
.rose{background-color:#DB536A; border-top-color:#DB536A;}
.rose10, div.rose10, p.rose10{background-color:#FBEEF0; border-top-color:#DB536A; padding: 0px 10px 6px 0px;}
h2.rose{color:#DB536A; background-color:#FFFFFF;}
div.rose25, p.rose25{background-color:#F6D4DA; border-top-color:#DB536A; padding: 0px 10px 6px 0px;}

/* burgundy */
.burgundy{background-color:#A32020; border-top-color:#A32020;}
.burgundy10, div.burgundy10, p.burgundy10{background-color:#F6E9E9; border-top-color:#A32020;}
h2.burgundy{color:#A32020; background-color:#FFFFFF; padding: 0px 10px 6px 0px;}

/*maroon */
.maroon{background-color:#602320; border-top-color:#602320;}
.maroon10, div.maroon10, p.maroon10{background-color:#EFE9E9; border-top-color:#602320;}
h2.maroon{color:#602320; background-color:#FFFFFF; padding: 0px 10px 6px 0px;}

/* grey */
.grey{background-color:#968C6D; border-top-color:#968C6D;}
.grey10, div.grey10, p.grey10{background-color:#F5F4F0; border-top-color:#968C6D;}
h2.grey{color:#404041; background-color:#FFFFFF; padding: 0px 10px 10px 0px;}

/* black */
.black{background-color:#6D6E71; border-top-color:#6D6E71;}
.black10, div.black10, p.black10{background-color:#E7E7E8; border-top-color:#6D6E71;}
h2.black{color:#6D6E71; background-color:#FFFFFF; padding-bottom: 6px;}

/* end colours */




/*home*/

.main_panels{width: 268px; float: left; }
.main_panels:first-child{margin-right:20px !important; width: 268px;}
.main_panels h4 a {text-decoration:none !important;}
.main_panels p.em {margin-top:10px !important; font-weight: bold; font-size: 14px; font-style: italic; font-family: georgia;}
.main_panels h4 a{color:#e0301e !important;}
.main_panels h4 {border-color:#e0301e !important; border-bottom:4px solid; padding-bottom:6px; color:#e0301e !important;}


.main-panel a {color:#404041! important; font-family: georgia !important;}
.main-panel-abstract {padding-bottom: 17px;}

/*case studies page*/
.right_panels{width: 192px; float: left; }
.right_panels:first-child{margin-right:0px !important; width: 192px;}
.right_panels h4 a {text-decoration:none !important;}
.right_panels p {margin-top:10px !important; }
.right_panels p.em {margin-top:10px !important; font-weight: bold; font-size: 14px; font-style: italic; font-family: georgia;}
.right_panels h4 a{color:#DC6900 !important;}
.right_panels h4 {border-color:#DC6900 !important; border-bottom:4px solid; padding-bottom:6px; color:#DC6900 !important;}

.right-panel{margin-top: 4px !important; padding: 4px !important; width: 258px;}
.right-panel a {color:#404041! important; font-family: georgia !important;}




#content-section a:visited {color: #404041 !important; /*colour change */
text-decoration:underline !important;
}
.selectbox{
border-top:4px solid;
font-family:Arial,Helvetica,sans-serif;
width: 172px;
margin-bottom:10px;
font-weight: bold;
padding: 5px 12px 10px 12px !important;
height: 190px;
line-height: 1.5em;
float: right;

}
.selectbox p{
font-family:georgia;
margin-bottom:0.1em;
color:#6D6E71;
}

/*case studies page*/



.highlightbox{
font-family:Arial,Helvetica,sans-serif;
margin-bottom:10px;
font-weight: bold;
padding: 5px 12px 10px 12px !important;
height: auto;
width: 170px;
line-height: 1.2em;
float: right;


}
.highlightbox p{
font-family:georgia;
margin-bottom:0.1em;
color:#6D6E71;
}

#content-section .highlightbox{
border-top:0 none;
font-family:georgia;
font-size:14px;
font-style:italic;
font-weight:bold;
padding:10px;
width:192px;

}

.highlightbox_right{
border-top:4px solid;
margin-bottom:10px;
padding: 5px 12px 10px 12px;
height: 193px
}


#content-section .left{
float:left;
margin-right:15px;
}
#content-section .right{
float:right;
margin-left:15px;
}
.main_block{width: 980px; }

.home
{margin:10px 0px;
	padding-bottom:25px;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width: 768px;
	height: 320px;
	float:left;
	background-repeat:no-repeat;}

.home h1{
position:absolute; left:60px; top:225px;}


.infoblock
{
}


.infoblock p 
{font-family: Arial,Helvetica,sans-serif;
color:#fff;
margin-left:10px;
}

.infoblock  a:visited{
color:#fff !important;
text-decoration:none !important;
}

.infoblock  a:hover {
color:#fff !important;
text-decoration:none !important;
}
.infoblock  a:link {color:#fff !important;
text-decoration:none !important;
}

.infoblock  a:visited {color:#fff !important;
text-decoration:none !important;
}
.infoblock h3
{font-style:italic;
font-weight:bold;
font-size:15px;
padding-left: 10px;
padding-top: 95px;
color:#fff;
}

.feedback 
{
float:left;
width: 192px;
height: 125px;
margin-top:10px; 
margin-bottom: 12px;
background-repeat:no-repeat; 
}


/*home ends*/



/*contacts*/

#contactbox {
    border-bottom: 1px dotted #404041;
    border-top: 1px dotted #404041;
    margin-bottom: 15px;
    margin-top: 15px;
    min-height: 118px;
    padding-bottom: 10px;
    padding-top: 15px;
padding-left: 220px;
position:relative;
width:556px;
}

.keyline_exec {float:left; border-bottom:dotted 1px #968c6d; padding:5px 0 5px 0; height:auto; min-height: 95px; width:556px;}
.leftline {float:left; width:70px; margin:2px; }
.leftline p {float:left;}
.rightline {float:left; width:456px;margin-top: 10px; }
.rightline p {width:440px;}.img {margin-bottom:5px;}

/*contacts*/

table {border-collapse:collapse; margin-bottom:15px;}

table, th, td {border-bottom: 1px solid #968c6d;}

table.holder {
	width:100%;
}

table.stakeholder td, table.stakeholder th {padding:5px; text-align:left;  vertical-align:top;}

th.shade {background-color:#dc6900; color:#fff;}
td.shade2 {background-color:#fbf0e5;}
td.shadeheader {background-color:#fbf0e5; font-weight:bold; color:black;}

td.small {width:20%;}
td.wide {width:40%;}

table.scorecard {
	width:100%;
}
table.scorecard td {
padding: 3px;
}

.credentials {float:left; width:175px; margin-right:15px; margin-top:15px;}
.credentials_para {float:left; width:366px; margin-top:15px;}

.case {float:left; width:200px; margin-right:15px; margin-top:15px; margin-bottom:10px;}
.case_para {float:left; width:341px; margin-top:10px; padding:0;}
.case_para h3 {margin:0 !important;}

.pdfmasher_widget {
    background-color: #F6E9E9;
    float: left;
    padding: 0 10px 30px;
	width: 535px;
    }
	
.pdfmasher_widget .download_button {
    background-color: #DC6900;
    border: medium none;
    bottom: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: georgia;
    font-weight: bold;
    height: 26px;
	margin-left:135px;
    right: 5px;
    width: 190px;
}

.pdfmasher_widget .select_button {
    background-color: #DC6900;
    border: medium none;
    bottom: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: georgia;
    font-weight: bold;
    height: 26px;
	margin-left:0px;
    right: 5px;
    width: 100px;
}
	

/* form section begins */

#main-form-section {
width: 980px;
padding: 35px 0px 35px 0px;
border-bottom: 1px dotted #C7C8CA;
margin-bottom: 28px;
}


#form-section {
display: inline;
float: left;
border: 0;
margin: 0px 20px 0px 20px;
width: 556px;
}



#form-section table.formtable {
	width:490px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	opacity:1;
	background-color:#FFF;
}
#form-section .tablecell {
	width:58px !important;
}
#form-section .tablecellb {
	width: 165px !important;
	float:right;
}
#form-section .tablecellc {
	width: 340px !important;	
}
#form-section .tablecelle {
	width: 7px !important;	
}
#form-section .tablecellf {
	width: 70px !important;	
}
#form-section table.formtable tr td.question {
	border-bottom:1px solid #CCC !important;
	vertical-align:middle;
}
#form-section table.formtable tr td.serial {
	border-bottom:2px solid #f6d4da; !important;
	vertical-align:middle;
	font-weight:bold; 
	padding-right:10px;
	text-align:right;
	padding-top:15px;
}
#form-section table.formtable tr td.questionf {
	border-bottom:2px solid #f6d4da; !important;
	vertical-align:middle;
	font-weight:bold;
	padding-top:15px;
	
}
#form-section table, th {
	border:none !important;
}
#form-section table.formtable tr td.questionlast {
	border-bottom:2px solid #f6d4da;
	vertical-align:bottom;
	padding-left:20px;
}
#form-section table.formtable tr td.questionlastrose {
	border-bottom:2px solid #DB536A;
}
#form-section table.formtable tr td.radiolast {
	border-bottom:2px solid #DC6900;
}
#form-section table.formtable tr td.radiolastrose {
	border-bottom:2px solid #DB536A;
}
#form-section table.formtable tr td.radio {
	text-align:center !important;
	border-bottom:1px solid #CCC;
	vertical-align:middle;
}
#form-section table.formtable tr td.radiof {
	border-bottom:2px solid #f6d4da; !important;
	vertical-align:bottom;
	font-weight:bold;
	padding-top:15px;
	text-align:center;	
}
#form-section table.formtable input.q1 {
	vertical-align:middle;
	margin-right:3px;
}
#form-section table.formtable textarea {
	vertical-align:middle;	
}
.texta {
	display:inline;
	width:auto;
	margin-left:10px;
	vertical-align:middle;
}
.textb {
	display:inline;
	width:100px;
	margin-left:10px;
	vertical-align:middle;
}
.textc {
	display:inline;
	width:200px;
	margin-left:0px;
	vertical-align:middle;
}
.textd {
	float:left;
	display:inline;
	width:325px;
}
.texte {
	float:right;
	display:block;
	width:340px;
	height:30px;
}
.textf {
	float:right;
	display:block;
	width:435px;
	height:40px;
}
.textg {
	float:left;
	margin-top:5px;
	width:99%;
	vertical-align:middle;
	height:49px;
	
}
.texth {
	float:right;
	display:inline;
	width:93%;	
}
.texti {
	float:left;
	display:inline;
	width:15px;
	height:15px;
}


/* form section ends */

/* AR case studies */
blockquote {
font-size: 130%;
font-style: italic;
font-weight:normal;
color: #eb8c00;
font-family: georgia;
margin-left:0;
margin-right:40px;
line-height:1.2em;
}


.case-study {font-size:0.8em;}

img.case-study-image {float:left; margin-bottom:0px;}

blockquote.case-study-quote {
	margin-left:330px;
	font-size:1em;
	font-weight: bold;
	line-height: 1.3em;} 
	
p.case-study-byline {width:310px; color:#6e6d71; font-weight:bold; padding-top: 3px; padding-bottom:3px; border-top: 2px solid #6d6e71; border-bottom: 1px dotted #6d6e71; margin-bottom:0;}

p.case-study-byline2 {color: #6e6d71; margin-top:0; padding-top:3px; margin-bottom:0;}

hr.grey-bar {
  border:1px solid #6D6E71;
	width: 310px;
	margin:0;
}


.case-study a {color:#404041 !important;}
.case-study a:hover {color:#404041 !important; text-decoration:none;}

/** Modal video transcript links **/
#media-details a {font-weight:bold; color:#404041 !important;}
#media-details a:hover {color: #404041 !important; text-decoration:none;}

/* AR Case studies */
