h1 { 
	border-top: 0;
	color: #fff !important;
	font-style: italic;
	margin-left: 15px;
	margin-top: 5px;
	position: absolute;
}

h1.panto {
	display: block;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


div.clear {
clear:both;
}
 
a {
text-decoration: none;
}

dl, dt, dd {
 display: inline;
 line-height: 1.3em;
}

h2 {
font-size:  125%;
color: #000;
font-style: italic;
margin-top: 5px;
line-height:1.1em;
}
 
h3 {
background-image: url('/en_uk/uk/assets/images/bullet.gif');
background-repeat: no-repeat;
background-position: 0 50%;
padding-left: 10px;
margin-top: 5px;
color: #000;
}

h6 {color:#e0301e; font-size:120%;}

hr {
color: #fff; 
background-color: #fff; 
border: 1px dotted #C7C8CA; 
border-style: none none dotted; 
}

#top-section, #footer-section {
width: 100%;
height: 83px;
padding: 0px;
margin-top:10px;
}

#top-logo {
float: left; margin-left:0px;
}

#top-search{
float: right;
margin-top:16px;
line-height:1.2em;
}
/* ********** TOP SECTION BEGINS ***********/

#top-search {
color:#6D6E71;
	display:inline;
	font-family:Georgia,"Times New Roman";
	font-size:1.2em;
	font-weight:bold;
}

#top-nav  {
width: 911px;
height: 31px;
margin:0;
}

/* MAIN CONTENT */

#content_holder_top {
	width:911px;
	height:30px;
	margin:0;
	padding:0px;
}

#content_background_main {
	width:911px;
	margin:0;
}

#content_holder {
	width:911px;
	padding:20px 0px 0 0px;
}

#media_player {width:911px; }


#home_left {
	width:681px;
	margin:15px 20px 10px 0px;
	float:left;
}
#home_left h1 {
	color:  #dc6900; /* colour change */
	font-size:  150%;
	font-style: italic;
padding-bottom: 10px;
}

#home_right {
	width:200px;
	margin:10px 10px 10px 0;
	float:left;
}

#home_right h2 {
	font-size:1.4em;
	font-weight:normal;
	color:#6d6e71;
	border-bottom:1px dotted #6d6e71;
	padding:0 0 10px 0;
	margin:40px 0 4px 0;
}

#home_right h4 {
	font-size:1em;
	color:#6d6e71;
	padding:0;
	margin:0;
}

#home_left p {margin-top:0;}



/* CONTENT PAGES */

#content_left {
	width:210px;
	margin:10px 20px 0 0px;
	float:left;
}

#content_left h1 {
	font-size:1.2em;
	font-weight:normal;
	color:#dc6900;
	border-bottom:1px dotted #dc6900;
	padding:0 0 8px 0px;
}

#content_left h1 a{
	color:#dc6900;
	text-decoration:none;
}

#content_left h1 a:hover {
	color:#dc6900;
	text-decoration:underline;
}

#content_left h2 {
	font-size:1.2em;
	font-weight:normal;
	color:#6d6e71;
	border-bottom:1px dotted #6d6e71;
	padding:0 0 8px 0px;
	margin-top:10px;
}

#content_left2 {
	width:210px;
	margin:0 20px 0 0px;
	float:left;
}

#content_left2 h1 {
	font-size:1.2em;
	font-weight:normal;
	color:#dc6900;
	border-bottom:1px dotted #dc6900;
	padding:0 0 8px 0px;
}

#content_left2 h2 {
	font-size:1.2em;
	font-weight:normal;
	color:#6d6e71;
	border-bottom:1px dotted #6d6e71;
	padding:0 0 8px 0px;
	margin-top:10px;
}

#content_right {
	width:671px;
	margin:10px 10px 0 0;
	float:left;
}


#content_right2 {
	width:436px;
	margin:0 10px 10px 0;
	float:left;
}

#content_right3 {
	width:225px;
	margin:0 10px 10px 0;
	float:left;
}

#content_right3 h4 {
	font-size:.9em;
	color:#6d6e71;
	padding:5px 0 0 0;
	margin:5px 0 0 0;
	border-top:1px dotted #6d6e71;
}


#content_right4 {
	width:671px;
	margin:0 10px 0 0;
	float:left;
}

.snow_logo {float:right;}

#content_right p {margin-top:0;}
#content_right2 p {margin-top:0;}
#content_right4 p {margin-top:0;}

.text_left {float:left; width:350px; margin-right:10px;}




h2 {
	color:#fff;
	font-size:  150%;
	font-style: italic;
}


a {color:#000;text-decoration:none;}
a:link {text-decoration:none;}
a:hover {text-decoration:underline;}
/* NEW HOMEPAGE */

.panto_container{
	width:910px;
	height:299px;
	border-bottom:1px dotted #6C6C71;
}
.panto_text{
	left:20px;
	top:20px;
	width:380px;
	font:14px Georgia;
	color:#6C6C71;
}
.panto_header{
	width:380px;
	font:Bold Italic 24px Georgia;
	color:#DB536A;
	padding:0 0 8px 0;
}
.panto_vidbutton{
	width:288px;
	padding:6px;
	background-color:#DC6900;
	margin:10px 0 0 0;
	color:#FFFFFF;
	font:14px Arial;
	cursor:pointer;
}
.panto_imgarea{
	position:absolute;
	top:0;
	left:480px;
	background-color:#FFF;
	width:400px;
	height:299px;
	overflow:hidden;
}
.panto_imgwindow{
	float:left;
	width:400px;
	height:299px;
	background-color:#FFF;
	overflow:hidden;
}
.panto_imagecontainer{
	position:relative;
	left:0;
	top:0;
	height:299px;
	width:10000px;
}
.panto_imagecontainer img{
	float:left;
}
.panto_thumbbar{
	position:absolute;
	left:0;
	top:250px;
	width:898px;
	height:37px;
	padding:6px;
	background-color:#404041;
	opacity:0.3;
}
.panto_thumbbar img{
	float:left;
	width:50px;
	height:37px;
	margin:0 6px 0 0;
}
	
/* MOBILE SPECIFIC */
#pwcmobile .panto-top-img { display: none !important; }
#pwcmobile h1 {color:#dc6900 !important; display:block; position:relative !important; margin-left:5px !important;}

