/* @@ Remove Columns & Logo */
#container, #center { padding: 0; }
#left, #right { visibility: hidden; }
/*
#headerlogo { background-image: none; }
#headerlogo img { display: none; }
*/

* html #container { position: static !important;  } /* IE6 */

/* 2013 Design */
#homefollow { color: #fff; background-color: #6d6e71; padding: 5px 10px 1px 5px; width: 719px;}
#homefollow span { display: inline-block; zoom: 1; *display: inline; font-size: 1.1em; font-weight: bold; padding: 0 5px 0 5px; vertical-align: 40%; font-style: italic; font-family: Georgia, "Times New Roman" }
#homefollow a { display: inline-block; zoom: 1; *display: inline; margin: 0 5px;}

.homecolumn { width: 224px; padding: 10px; margin-right: 1px; background-color: #fdf4e5 !important; }
.homecolumn.double { width: 469px; }
.homecolumn h2 { font-style: italic; background-color: transparent !important; border: 0 !important; line-height: 1.3em; padding: 0; font-size: 1.4em; margin-bottom: 5px;}
.homecolumn p { font-sizce: 1.1em; margin: 7px 0; font-family: arial; font-size: 1em; }
.homecolumn small { display: block; font-size: .85em;}
.homecolumn a, .homecolumn ul li a { display: block; text-decoration: none !important; font-family: Georgia, "Times New Roman"; font-size: 0.95em; font-weight: bold;}
.homecolumn ul { margin-bottom: 10px; }

.homecolumn ul li {
	border: 0;
	margin-left: auto !important;
	padding: 3px !important;
	line-height: 1.1em;
	font-size: 1em;
}
* html .homecolumn ul li { margin-left: -5px !important; }
*:first-child+html .homecolumn ul li { margin-left: -5px !important; }

.homecolumn ul li a { font-size: 1em; font-family: Arial, Helvetica, sans-serif; font-weight: normal;}
.homecolumn a:hover { text-decoration: underline !important;}

.homecolumn.tangerine a { color: #dc6900 !important; }
.homecolumn.orange a { color: #e0301e !important; }
.homecolumn.red a { color: #dc6900 !important; }
.homecolumn.rose a { color: #e0301e !important; }
.homecolumn.burgundy a { color: #e0301e !important; }
.homecolumn.maroon a { color: #a32020 !important; }
.homecolumn.grey a { color: #968c6d !important; }
.homecolumn.black a { color: #6d6e71 !important; }
.homecolumn.tangerine ul li a, .homecolumn.orange ul li a, .homecolumn.red ul li a, .homecolumn.rose ul li a, .homecolumn.burgundy ul li a, .homecolumn.maroon ul li a, .homecolumn.grey ul li a, .homecolumn.black ul li a { color: #404041 !important; }
.homecolumn.tangerine ul li {
  list-style-image: url(/en_GX/webadmin/assets/image/tangerine_square.gif) !important;
  list-style: url(/en_GX/webadmin/assets/image/tangerine_square.gif) !important;
}
.homecolumn.orange ul li {
  list-style-image: url(/en_GX/webadmin/assets/image/orange_square.gif) !important;
  list-style: url(/en_GX/webadmin/assets/image/orange_square.gif) !important;
}
.homecolumn.red ul li {
  list-style-image: url(/en_GX/webadmin/assets/image/red_square.gif) !important;
  list-style: url(/en_GX/webadmin/assets/image/red_square.gif) !important;
}
.homecolumn.rose ul li {
  list-style-image: url(/en_GX/webadmin/assets/image/rose_square.gif) !important;
  list-style: url(/en_GX/webadmin/assets/image/rose_square.gif) !important;
}
.homecolumn.burgundy ul li {
  list-style-image: url(/en_GX/webadmin/assets/image/burgundy_square.gif) !important;
  list-style: url(/en_GX/webadmin/assets/image/burgundy_square.gif) !important;
}
.homecolumn.maroon ul li {
  list-style-image: url(/en_GX/webadmin/assets/image/maroon_square.gif) !important;
  list-style: url(/en_GX/webadmin/assets/image/maroon_square.gif) !important;
}
.homecolumn.grey ul li {
  list-style-image: url(/en_GX/webadmin/assets/image/grey_square.gif) !important;
  list-style: url(/en_GX/webadmin/assets/image/grey_square.gif) !important;
}
.homecolumn.black ul li {
  list-style-image: url(/en_GX/webadmin/assets/image/black_square.gif) !important;
  list-style: url(/en_GX/webadmin/assets/image/black_square.gif) !important;
}

.homecolumn a.readmore { text-decoration: underline !important;	font-family: Arial, Helvetica, sans-serif; color: #404041 !important; }

.homecolumn a.morebutton { color: #fff !important; font-size: .9em; font-weight: bold; padding: 5px; font-style: italic; background-image: url('/en_GX/webadmin/assets/image/wbtile-white-arrow.gif'); background-position: 97% 65%; background-repeat: no-repeat; padding-right: 15px;}
.homecolumn.tangerine a.morebutton { background-color: #eb8c00; }
.homecolumn.orange a.morebutton { background-color: #dc6900; }
.homecolumn.red a.morebutton { background-color: #e0301e; }
.homecolumn.rose a.morebutton { background-color: #db536a; }
.homecolumn.burgundy a.morebutton { background-color: #a32020; }
.homecolumn.maroon a.morebutton { background-color: #602320; }
.homecolumn.grey a.morebutton { background-color: #968c6d; }
.homecolumn.black a.morebutton { background-color: #6d6e71; }

.rightcolumn { position: relative; top: -38px; background-color: #6d6e71 !important; color: #fff !important; padding: 10px 0; width: 245px; margin: 0 !important;}
@media screen\9 { .rightcolumn { top: -37px;} }
@media screen and (min-width:0\0) { .rightcolumn { top: -39px;} }
@media screen\0 { .rightcolumn { top: -39px;} }


.rightcolumn h2, .rightcolumn h3, .rightcolumn h4 { color: #fff !important; padding: 0 10px; }
.homecolumn.rightcolumn a { color: #fff !important; font-family: arial; font-size: .9em; text-decoration: underline !important;  }

/* 2013 Slider component */
	#homeslider {	
		position: relative;
		overflow: hidden;
	}
	#homeslider .items {
		width: 20000em;
		position: relative;
		clear: both;
	}
	#homeslider .items .slide {
		float: left;
		padding: 0 20px;
		background-position: top left;
	}
	
	#homeslider a.browse {
		display: block;
		position: absolute;
		top: 0;
		z-index: 1;
		height: 100%;
		width: 20px;
		cursor: pointer;
		background-color: #c7c8ca;
  		background-repeat: no-repeat;
		background-position: 50% 55%;
	}

	#homeslider .navi {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#homeslider .navi a {
		width: 8px;
		height: 8px;
		float: left;
		border: 1px solid #fff;
		display: block;
		margin-right: 8px;
		cursor: pointer;
	}
	#homeslider .navi a:hover, #homeslider .navi a.active { background-color: #fff; }
	
	
	/* NEW */
	
#homeslider { padding-bottom: 45px; height: 420px !important; width: 980px !important;}
#homeslider .items {  height: 100% !important; }
#homeslider .items .slide { padding: 0; overflow: hidden; margin: 0 10px 0 0; width: 980px !important; height: 419px !important; position: relative;}
#homeslider .sliderfooter { position: relative; bottom: 0; height: 34px; }
#homeslider .sliderfooter .browse { width: 34px; background-position: 50% 50%;  }
#homeslider .sliderfooter .left { left: 0; background-image: url(/en_GX/webadmin/assets/image/homeslider-left.gif);  }
#homeslider .sliderfooter .right { right: 0; background-image: url(/en_GX/webadmin/assets/image/homeslider-right.gif);  }
#homeslider .sliderfooter .navi { position: static; width: auto !important; top: auto; right: auto; text-align: center; margin: 0 auto; }
#homeslider .sliderfooter .navi a {
	float: none;
	display: inline-block; zoom: 1; *display: inline;
	width: 60px;
	height: 30px;
	border: 0;
	margin-right: 2px;
	border-bottom: 4px solid #c7c8ca;
	color: #c7c8ca;
	text-decoration: none;
	text-align: center;
	font-size: 1.4em; line-height: 1.5em;
	font-style: italic;
	font-family: Georgia, "Times New Roman";
}
#homeslider .sliderfooter .navi a.active { border-bottom: 8px solid #eb8c00; height: 26px; color: #eb8c00; }
#homeslider .sliderfooter .navi a:hover { color: #eb8c00; }

#homeslider.singleslide { padding-bottom: 10px; }
#homeslider.singleslide .sliderfooter { display: none; }

#homeslider .feature100, #homeslider .feature50, #homeslider .feature25, #homeslider .feature12 { width: 100%; height: 100%; float:left;  position: relative; margin-right: 1px;}
#homeslider .feature50 { width: 489px;}
#homeslider .feature25 { width: 244px; }
/* #homeslider .feature12 { width: 244px; height: 209px; overflow: hidden; border-bottom: 1px solid #fff; } */
#homeslider .feature12 { width: 244px; }

#homeslider .feature100 div.content, #homeslider .feature50 div.content, #homeslider .feature25 div.content {
position: absolute;
left: 15px;
bottom: 15px;
filter:alpha(opacity=95);
opacity:0.95;
color: #fff;
padding: 15px;
}
#homeslider .feature100 div.content, #homeslider .feature50 div.content, #homeslider .feature25 div.content  {
	display: inline-block;
	margin-right: 15px; 
	/* IE7  	zoom: 1; 	*display: inline; 	*/
	*display:block;
	*float:left;
}

#homeslider .feature12 div.content { width: 214px; height: 180px; padding: 15px; margin-bottom: 1px; }
#homeslider .feature12 div.content.imagebg { position: relative; }
#homeslider .feature12 div.content.imagebg div { padding: 15px; position: absolute; bottom: 15px; width: 185px; filter:alpha(opacity=95); opacity:0.95; }

#homeslider .feature100.solidbg div.content, #homeslider .feature50.solidbg div.content { top: 15px; }

#homeslider div.content a {
display: block;
/* font-size: 2.5em; */
font-size: 1.6em;
line-height: 1.1em;
font-family: Georgia, "Times New Roman";
font-style: italic;
font-weight: normal;
color: #fff !important;
text-decoration: none;
margin-bottom: 10px;
}
#homeslider div.content p a, #homeslider div.content ul a { font-size: 1.1em; font-style: normal; font-family: arial;}
/*
#homeslider .feature50 div.content a { font-size: 1.8em; }
#homeslider .feature25 div.content a { font-size: 1.8em; }
#homeslider .feature12 div.content a { font-size: 1.8em; }
*/

#homeslider div.content a:hover { text-decoration: underline; }
#homeslider div.content a span {
display: block;
font-size: 0.6em;
line-height: 1.2em;
font-weight: normal;
margin: 8px 0;
}

#homeslider .feature50 div.content a span { font-size: 0.65em; }
#homeslider .feature25 div.content a span { font-size: 0.7em; }
#homeslider .feature12 div.content a span { font-size: 0.7em; }

#homeslider div.content small { font-size: 0.9em; font-weight: bold; margin: 5px 0; display: block; color: #fff; }
	
#homeslider div.content .smallbox { display: block; float: left; margin: 10px 20px 0 0; max-width: 110px; padding: 10px; background-color: #404041; }
#homeslider div.content .smallbox a { font-size: 1em;  text-decoration: underline !important; }
#homeslider div.content .inlineblock { display: block; float: left; margin: 10px 20px 0 0; }
#homeslider div.content .inlineblock img {margin-bottom:5px;}

#homeslider div.content a.linkicon { font-size: 1em; font-weight: bold; display: inline-block; line-height: 1em; margin: 2px 0; background-image: url('/en_GX/webadmin/assets/image/wbtile-white-arrow.gif'); background-position: right bottom; background-repeat: no-repeat; padding-right: 15px;}

#homeslider .tangerine div.content,
#homeslider .feature50.tangerine.solidbg, #homeslider .feature100.tangerine.solidbg,
#homeslider .feature12 div.content.tangerine,
#homeslider .feature12 div.content.tangerine.imagebg div
{ background-color: #eb8c00; }

#homeslider .orange div.content,
#homeslider .feature50.orange.solidbg, #homeslider .feature100.orange.solidbg,
#homeslider .feature12 div.content.orange,
#homeslider .feature12 div.content.orange.imagebg div
{ background-color: #dc6900; }

#homeslider .red div.content,
#homeslider .feature50.red.solidbg, #homeslider .feature100.red.solidbg,
#homeslider .feature12 div.content.red,
#homeslider .feature12 div.content.red.imagebg div
{ background-color: #e0301e; }

#homeslider .rose div.content,
#homeslider .feature50.rose.solidbg, #homeslider .feature100.rose.solidbg,
#homeslider .feature12 div.content.rose,
#homeslider .feature12 div.content.rose.imagebg div
{ background-color: #db536a; }

#homeslider .burgundy div.content,
#homeslider .feature50.burgundy.solidbg, #homeslider .feature100.burgundy.solidbg,
#homeslider .feature12 div.content.burgundy,
#homeslider .feature12 div.content.burgundy.imagebg div
{ background-color: #a32020; }

#homeslider .maroon div.content,
#homeslider .feature50.maroon.solidbg, #homeslider .feature100.maroon.solidbg,
#homeslider .feature12 div.content.maroon,
#homeslider .feature12 div.content.maroon.imagebg div
{ background-color: #602320;}

#homeslider .grey div.content,
#homeslider .feature50.grey.solidbg, #homeslider .feature100.grey.solidbg,
#homeslider .feature12 div.content.grey,
#homeslider .feature12 div.content.grey.imagebg div
{ background-color: #968c6d; }

#homeslider .black div.content,
#homeslider .feature50.black.solidbg, #homeslider .feature100.black.solidbg,
#homeslider .feature12 div.content.black,
#homeslider .feature12 div.content.black.imagebg div
{ background-color: #6d6e71; }

#homeslider .whitebg div.content
{ background-color: #ffffff; }

#homeslider .tangerine.whitebg div.content a, #homeslider .tangerine.whitebg div.content small, #homeslider .tangerine.whitebg div.content p { color: #eb8c00 !important; }
#homeslider .orange.whitebg div.content a, #homeslider .orange.whitebg div.content small, #homeslider .orange.whitebg div.content p { color: #dc6900 !important; }
#homeslider .red.whitebg div.content a, #homeslider .red.whitebg div.content small, #homeslider .red.whitebg div.content p { color: #e0301e !important; }
#homeslider .rose.whitebg div.content a, #homeslider .rose.whitebg div.content small, #homeslider .rose.whitebg div.content p { color: #db536a !important; }
#homeslider .burgundy.whitebg div.content a, #homeslider .burgundy.whitebg div.content small, #homeslider .burgundy.whitebg div.content p { color: #a32020 !important; }
#homeslider .maroon.whitebg div.content a, #homeslider .maroon.whitebg div.content small, #homeslider .maroon.whitebg div.content p { color: #602320 !important; }
#homeslider .grey.whitebg div.content a, #homeslider .grey.whitebg div.content small, #homeslider .grey.whitebg div.content p { color: #968c6d !important; }
#homeslider .black.whitebg div.content a, #homeslider .black.whitebg div.content small, #homeslider .black.whitebg div.content p { color: #6d6e71 !important; }

#homeslider ul li { list-style-image: url(/en_GX/webadmin/assets/image/white_square.gif); }
* html #homeslider ul li, *:first-child+html #homeslider ul li { list-style-image: url(/en_GX/webadmin/assets/image/white_square_ie.gif); }

/* Mobile */

#pwcmobile #homeslider {
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin-bottom: 10px;
  border-top: 1px dotted #404041; 
 }
#pwcmobile #homeslider .items {
	width: 100%;
	position: static;
	clear: none;
}
	
#pwcmobile #homeslider .items .slide {
	float: none;
	padding: 0;
  width: 100% !important;
    height: inherit !important;
}

#pwcmobile #homeslider .sliderfooter, #pwcmobile #homeslider .slide.cloned { display: none; }
#pwcmobile #homeslider .feature100, #pwcmobile #homeslider .feature50, #pwcmobile #homeslider .feature25, #pwcmobile #homeslider .feature12, #pwcmobile #homeslider .feature12 div.content.imagebg { background-image: none !important; float: none; width: 100%;}
#pwcmobile #homeslider .feature100 div.content, #pwcmobile #homeslider .feature50 div.content, #pwcmobile #homeslider .feature25 div.content, #pwcmobile #homeslider .feature12 div.content,
#pwcmobile #homeslider .feature12 div.content.imagebg div,
#pwcmobile #homeslider .feature100.solidbg div.content, #pwcmobile #homeslider .feature50.solidbg div.content { position: relative; max-width: inherit !important; top: auto; left: auto; bottom: auto; filter:alpha(opacity=100); opacity:1.0; width: 100% !important; margin: 0; height: auto; padding: 5px;}

#pwcmobile #homeslider .feature12 div.content.imagebg div { padding-left: 5px;}
#pwcmobile #homeslider .feature12 div.content.imagebg { border-bottom: 0 !important; padding-left: 0 }

#pwcmobile #homeslider .content .smallbox, #pwcmobile #homeslider .content p, #pwcmobile #homeslider .content small, #pwcmobile #homeslider .content .linkicon, #pwcmobile #homeslider .content ul , #pwcmobile #homeslider .content iframe { display: none !important; }
#pwcmobile #homeslider .content.mobilefeature .smallbox, #pwcmobile #homeslider .content.mobilefeature p, #pwcmobile #homeslider .content.mobilefeature small, #pwcmobile #homeslider .content.mobilefeature .linkicon, #pwcmobile #homeslider .content.mobilefeature ul , #pwcmobile #homeslider .content.mobilefeature iframe { display: block !important; }

#pwcmobile #homeslider .feature100 div.content a, #pwcmobile #homeslider .feature50 div.content a, #pwcmobile #homeslider .feature25 div.content a, #pwcmobile #homeslider .feature12 div.content a { font-size: 1.2em; font-weight: bold; }
#pwcmobile #homeslider .feature100 div.content a span, #pwcmobile #homeslider .feature50 div.content a span, #pwcmobile #homeslider .feature25 div.content a span, #pwcmobile #homeslider .feature12 div.content a span { font-size: 0.7em; font-style: normal; }

#pwcmobile #homeslider div.content.mobilefeature { background-color: transparent !important;}
#pwcmobile #homeslider div.content.mobilefeature a, #pwcmobile #homeslider div.content.mobilefeature small { color: #dc6900 !important; }
#pwcmobile #homeslider div.content .smallbox { max-width: 70px; margin: 5px 0; padding: 5px; background-color: transparent; }
#pwcmobile #homeslider .content.mobilefeature iframe { width: 300px; }

#pwcmobile #homeslider .feature12 div.content.grey.imagebg  { border-bottom: 0 !important; }

#pwcmobile #homeslider div.content  { color: #404041 !important; }
#pwcmobile #homeslider ul li { list-style-image: url(/en_GX/webadmin/assets/image/tangerine_square.gif); }
* html #pwcmobile #homeslider ul li, *:first-child+html #pwcmobile #homeslider ul li { list-style-image: url(/en_GX/webadmin/assets/image/tangerine_square_ie.gif); }

#pwcmobile #homefollow { width: 100%; margin-bottom: 10px; }
#pwcmobile #homefollow span { font-size: 1em; }
#pwcmobile #homefollow a { margin: 0; }
#pwcmobile #homefollow img { width: 75%; }

#pwcmobile .homecolumn { width: 100%; margin-bottom: 10px; }
#pwcmobile .rightcolumn { top: auto; }

/* Mobile White */
#pwcmobile #homeslider.mobilewhite .tangerine div.content,
#pwcmobile #homeslider.mobilewhite .feature50.tangerine.solidbg, #pwcmobile #homeslider.mobilewhite .feature100.tangerine.solidbg,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.tangerine,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.tangerine.imagebg div,

#pwcmobile #homeslider.mobilewhite .orange div.content,
#pwcmobile #homeslider.mobilewhite .feature50.orange.solidbg, #pwcmobile #homeslider.mobilewhite .feature100.orange.solidbg,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.orange,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.orange.imagebg div,

#pwcmobile #homeslider.mobilewhite .red div.content,
#pwcmobile #homeslider.mobilewhite .feature50.red.solidbg, #pwcmobile #homeslider.mobilewhite .feature100.red.solidbg,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.red,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.red.imagebg div,

#pwcmobile #homeslider.mobilewhite .rose div.content,
#pwcmobile #homeslider.mobilewhite .feature50.rose.solidbg, #pwcmobile #homeslider.mobilewhite .feature100.rose.solidbg,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.rose,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.rose.imagebg div,

#pwcmobile #homeslider.mobilewhite .burgundy div.content,
#pwcmobile #homeslider.mobilewhite .feature50.burgundy.solidbg, #pwcmobile #homeslider.mobilewhite .feature100.burgundy.solidbg,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.burgundy,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.burgundy.imagebg div,

#pwcmobile #homeslider.mobilewhite .maroon div.content,
#pwcmobile #homeslider.mobilewhite .feature50.maroon.solidbg, #pwcmobile #homeslider.mobilewhite .feature100.maroon.solidbg,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.maroon,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.maroon.imagebg div,

#pwcmobile #homeslider.mobilewhite .grey div.content,
#pwcmobile #homeslider.mobilewhite .feature50.grey.solidbg, #pwcmobile #homeslider.mobilewhite .feature100.grey.solidbg,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.grey,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.grey.imagebg div,

#pwcmobile #homeslider.mobilewhite .black div.content,
#pwcmobile #homeslider.mobilewhite .feature50.black.solidbg, #pwcmobile #homeslider.mobilewhite .feature100.black.solidbg,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.black,
#pwcmobile #homeslider.mobilewhite .feature12 div.content.black.imagebg div
{ background-color: transparent; }

#pwcmobile #homeslider.mobilewhite .feature100 div.content, #pwcmobile #homeslider.mobilewhite .feature50 div.content, #pwcmobile #homeslider.mobilewhite .feature25 div.content, #pwcmobile #homeslider.mobilewhite .feature12 div.content, #pwcmobile #homeslider.mobilewhite .feature12 div.content.imagebg div
{ border-bottom: 1px dotted #404041; }

#pwcmobile #homeslider.mobilewhite div.content a { color: #dc6900 !important; }

/* END */

/* @@ Legacy home layouts */
#homeleft {
	float: left;
	width: 596px;
}
#homeright {
	float: left;
	width: 384px;
}
#homeright p {
	font-size: 1em;
}
.homefeature, .hometile {
	border-top: 1px solid #CCC;
	padding: 15px 10px 10px 10px;
	color: #000;
}
.homefeature ul { margin-top: 0; }
#homewide { margin-top:10px; }
.homefeaturewide1, .homefeaturewide2, .homefeaturewide3 {z
	padding: 15px 10px 10px 10px;
	min-height: 86px;
	color: #000;
	width: 309px;
	float: left;
}
.homefeaturewide1 { padding-left: 0; }
.homefeaturewide2 { border-left: 1px solid #CCC; border-right:1px solid #CCC; }
.homeheading, .hometileheading {
	font-size: 1.6em;
	display: block;
	margin: 0 0 10px 0;
	color: #000;
}
.homesubheading {
	font-weight: bold;
	display: block;
	margin: 0 0 10px 0;
}
.hometile { color:#FFF; }
.hometileheading { color:#FFF; }
#home .hometile a:link, #home .hometile a:visited, #home .hometile a:hover {
	color: #FFF;
	padding-right: 10px;
	background-image:url(/en_GX/webadmin/assets/image/hometile_arrow.gif);
	background-repeat:no-repeat;
	background-position:100% 50%;
}
*:first-child+html #home .hometile a:link, *:first-child+html #home .hometile a:visited, *:first-child+html #home .hometile a:hover {
	padding-left:10px;
	background-image:url(/en_GX/webadmin/assets/image/hometile_arrow-ie.gif);
	background-position:0% 0%;
}
* html #home .hometile a:link, * html #home .hometile a:visited, * html #home .hometile a:hover {
	padding-left:10px;
	background-image:url(/en_GX/webadmin/assets/image/hometile_arrow-ie.gif);
	background-position:0% 0%;
}
#home .hometile a:hover {
	text-decoration:underline;
	background-color:none;
}

#homeld {
	margin-top:10px;
	line-height:40px;
	padding:0 10px;
	border: 0;
	border-top: 1px dotted #939598;
	border-bottom: 1px dotted #939598;
	font-family: Georgia, "Times New Roman";
	font-size:1.3em;
	font-style: italic;
	font-weight: bold;
	color: #000;
}
#ldleft { float:left; }
#ldright { float:right; display:inline; }
#ldright a { color: #eb8c00 !important; text-decoration: none !important; }
#ldright a:hover { text-decoration: underline !important; }

#ldright img {
	margin-bottom:-17px;
	margin-left:5px;
	position:relative;
	z-index:+1;
}
/*
* html #ldright img { margin-top:5px; }
*:first-child+html #ldright { margin-top:-8px; }
*:first-child+html #ldright img { margin-bottom:-19px; }
*/

.homecontacts { width:100%; }
.homecontacts td {
	padding-bottom:0;
	width:50%;
	font-size:0.95em;
	vertical-align:top;
}

/* @@ Media box @@ */

#mediabox {
	vertical-align: top;
	width: 192px;
	display: inline-block;
	float: left;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
}
#mediabox h2 {
	font-family: Georgia, "Times New Roman";
	margin: 0;
	padding: 6px 0;
	line-height: 1.3em;
	color: #6d6e71;
	border-bottom: 4px solid #6d6e71;
	background-color: #fff !important;
}
.gx_maxi_box{
	overflow:hidden;
	background-color:#6d6e71;
	position:relative;
	width:192px;
	height:220px;
}
.gx_maxi_numbers{
	position:absolute;
	left:0px;
	top:7px;
	width:192px;
	height:24px;
	padding-bottom: 55px !important;
}
.gx_maxi_numberbox ul{
	position:absolute;
	list-style:none;
	margin:0px !important;
	padding:0px;
	width:500px;
}
.gx_maxi_numberbox ul li{
	position:relative;
	display:block;
	float:left;
	margin-left:5px !important;
	text-align:center;
	width:20px;
	height:24px;
	font-size: 1.1em;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
	color:#FFF;
	background-color:#eb8c00;
	filter:alpha(opacity=75);
  	opacity:0.75;
}
*:first-child+html .gx_maxi_numberbox ul li {  width: 24px; }
* html .gx_maxi_numberbox ul li { width: 19px; }

.gx_maxi_numberbox ul li:hover { border: 1px solid #fff; margin: -1px !important; margin-left: 4px !important; }

.gx_maxi_boxwrapper{
	position:absolute;
	left:0px;
	top:20px;
	width:192px;
	height:90px;
}
.gx_maxi_boxwrapper ul{
	position:absolute;
	list-style:none;
	width:5000px;
	height:90px;
	padding:0px;
	margin:0px !important;
	margin-left: -3px !important;
}
*:first-child+html .gx_maxi_boxwrapper ul { margin:0px !important; }


.gx_maxi_boxwrapper ul li{
	position:relative;
	display:block;
	float:left;
	padding:0px;
	margin:0px !important;
}
.gx_maxi_boxwrapper ul li a:hover { color: #fff !important; }

.gx_maxi_tile{
	width:192px;
	height:90px;
}
.gx_maxi_tileheaderbox{
	position:absolute;
	left:0px;
	top:90px;
	width:182px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	padding:10px;
	text-align:left;
}
.gx_maxi_timedef{
	position:absolute;
	left:0px;
	top:66px;
	width:159px;
	height:12px;
	background-color:#FFF;
  	filter:alpha(opacity=75);
  	opacity:0.75;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
	padding:6px;
	padding-left:30px;
	display:none;
}
* html .gx_maxi_timedef { padding-bottom: 0px; }

img.gx_maxi_icon{
	left:0px;
	top:66px;
	float:left;
	width:24px;
	height:24px;
	position:relative;
	filter:alpha(opacity=100);
  	opacity:1;
	display:block;
}


/* @@ Homepage feature 2 */


.gx_anim_redblock,.gx_anim_roseblock,.gx_anim_yellowblock,.gx_anim_orangeblock,.gx_anim_tangerineblock{
	position:absolute;
   /* for IE */
  filter:alpha(opacity=75);
  /* CSS3 standard */
  opacity:0.75;
  bottom:56px;
  left:68px;
}
.gx_anim_animationcontainer{
	position:relative;
	width:980px;
	height:460px;
}
.gx_anim_pwcstamp{
	position:absolute;
	width:980px;
	height:56px;
	left:0px;
	bottom:0px;
	background-image:url(/en_GX/gx/webadmin/snippets/animatedlogo/pwc_bar.gif);
}
.gx_anim_orangeblock{
	width:20px;
	height:35px;
	background-color:#dc6900;
}
.gx_anim_redblock{
	width:12px;
	height:15px;
	background-color:#E0301E;
	/* for IE */
  filter:alpha(opacity=50);
  /* CSS3 standard */
  opacity:0.5;
}
.gx_anim_yellowblock{
	width:34px;
	height:25px;
	background-color:#ffb600;
}
.gx_anim_tangerineblock{
	width:24px;
	height:30px;
	background-color:#F3BF8C;
}
.gx_anim_roseblock{
	width:39px;
	height:10px;
	background-color:#db536a;
}
.gx_anim_textcontainer{
	font-family:Georgia, "Times New Roman", Times, serif;
	position:absolute;
	left:87px;
	top:33px;
	width:600px;
	height:314px;
	color:#FFF;
  	display:none;
}
.gx_anim_textheader{
	left:0px;
	top:0px;
	margin: 0;
	font-style:italic;
	font-weight:bold;
	font-size:36px;
	line-height: 1em;
}
.gx_anim_textsubheader{
	left: 0px;
	font-size:32px;
	line-height: 1.2em;
	margin-top: 5px;
}
.gx_anim_textdesc{
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
	left:0px;
	margin-top: 20px;
	font-size:14px;
}
.gx_anim_textdesc a:link, .gx_anim_textdesc a:visited {
	color:#FFF !important;
}
.gx_anim_textdesc ul li { list-style-image: url(/en_GX/webadmin/assets/image/white_square.gif) !important; }
* html .gx_anim_textdesc ul li, *:first-child+html .gx_anim_textdesc ul li  { list-style-image: url(/en_GX/webadmin/assets/image/white_square_ie.gif) !important; }

.gx_anim_textheader a:link, .gx_anim_textheader a:visited, .gx_anim_textsubheader a:link, .gx_anim_textsubheader a:visited, .gx_anim_textdesc a:link, .gx_anim_textdesc a:visited {
	color:#FFF !important;
}



