/* @@ Remove Columns & Logo */
#container, #center { padding: 0; }
#left, #right { visibility: hidden; }
/*
#headerlogo { background-image: none; }
#headerlogo img { display: none; }
*/

* html #container { position: static !important;  } /* IE6 */

/* @@ Legacy home layouts */
#homeleft {
	float: left;
	width: 596px;
}
#homeright {
	float: left;
	width: 384px;
}
#homeright p {
	font-size: 1em;
}
.homefeature, .hometile {
	border-top: 1px solid #CCC;
	padding: 15px 10px 10px 10px;
	color: #000;
}
.homefeature ul { margin-top: 0; }
#homewide { margin-top:10px; }
.homefeaturewide1, .homefeaturewide2, .homefeaturewide3 {z
	padding: 15px 10px 10px 10px;
	min-height: 86px;
	color: #000;
	width: 309px;
	float: left;
}
.homefeaturewide1 { padding-left: 0; }
.homefeaturewide2 { border-left: 1px solid #CCC; border-right:1px solid #CCC; }
.homeheading, .hometileheading {
	font-size: 1.6em;
	display: block;
	margin: 0 0 10px 0;
	color: #000;
}
.homesubheading {
	font-weight: bold;
	display: block;
	margin: 0 0 10px 0;
}
.hometile { color:#FFF; }
.hometileheading { color:#FFF; }
#home .hometile a:link, #home .hometile a:visited, #home .hometile a:hover {
	color: #FFF;
	padding-right: 10px;
	background-image:url(/en_GX/webadmin/assets/image/hometile_arrow.gif);
	background-repeat:no-repeat;
	background-position:100% 50%;
}
*:first-child+html #home .hometile a:link, *:first-child+html #home .hometile a:visited, *:first-child+html #home .hometile a:hover {
	padding-left:10px;
	background-image:url(/en_GX/webadmin/assets/image/hometile_arrow-ie.gif);
	background-position:0% 0%;
}
* html #home .hometile a:link, * html #home .hometile a:visited, * html #home .hometile a:hover {
	padding-left:10px;
	background-image:url(/en_GX/webadmin/assets/image/hometile_arrow-ie.gif);
	background-position:0% 0%;
}
#home .hometile a:hover {
	text-decoration:underline;
	background-color:none;
}

#homeld {
	margin-top:10px;
	line-height:40px;
	padding:0 10px;
	border: 0;
	border-top: 1px dotted #939598;
	border-bottom: 1px dotted #939598;
	font-family: Georgia, "Times New Roman";
	font-size:1.3em;
	font-style: italic;
	font-weight: bold;
	color: #000;
}
#ldleft { float:left; }
#ldright { float:right; display:inline; }
#ldright a { color: #eb8c00 !important; text-decoration: none !important; }
#ldright a:hover { text-decoration: underline !important; }

#ldright img {
	margin-bottom:-17px;
	margin-left:5px;
	position:relative;
	z-index:+1;
}
/*
* html #ldright img { margin-top:5px; }
*:first-child+html #ldright { margin-top:-8px; }
*:first-child+html #ldright img { margin-bottom:-19px; }
*/

.homecontacts { width:100%; }
.homecontacts td {
	padding-bottom:0;
	width:50%;
	font-size:0.95em;
	vertical-align:top;
}

/* @@ Media box @@ */

#mediabox {
	vertical-align: top;
	width: 192px;
	display: inline-block;
	float: left;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
}
#mediabox h2 {
	font-family: Georgia, "Times New Roman";
	margin: 0;
	padding: 6px 0;
	line-height: 1.3em;
	color: #6d6e71;
	border-bottom: 4px solid #6d6e71;
	background-color: #fff !important;
}
.gx_maxi_box{
	overflow:hidden;
	background-color:#6d6e71;
	position:relative;
	width:192px;
	height:220px;
}
.gx_maxi_numbers{
	position:absolute;
	left:0px;
	top:7px;
	width:192px;
	height:24px;
	padding-bottom: 55px !important;
}
.gx_maxi_numberbox ul{
	position:absolute;
	list-style:none;
	margin:0px !important;
	padding:0px;
	width:500px;
}
.gx_maxi_numberbox ul li{
	position:relative;
	display:block;
	float:left;
	margin-left:5px !important;
	text-align:center;
	width:20px;
	height:24px;
	font-size: 1.1em;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
	color:#FFF;
	background-color:#eb8c00;
	filter:alpha(opacity=75);
  	opacity:0.75;
}
*:first-child+html .gx_maxi_numberbox ul li {  width: 24px; }
* html .gx_maxi_numberbox ul li { width: 19px; }

.gx_maxi_numberbox ul li:hover { border: 1px solid #fff; margin: -1px !important; margin-left: 4px !important; }

.gx_maxi_boxwrapper{
	position:absolute;
	left:0px;
	top:20px;
	width:192px;
	height:90px;
}
.gx_maxi_boxwrapper ul{
	position:absolute;
	list-style:none;
	width:5000px;
	height:90px;
	padding:0px;
	margin:0px !important;
	margin-left: -3px !important;
}
*:first-child+html .gx_maxi_boxwrapper ul { margin:0px !important; }


.gx_maxi_boxwrapper ul li{
	position:relative;
	display:block;
	float:left;
	padding:0px;
	margin:0px !important;
}
.gx_maxi_boxwrapper ul li a:hover { color: #fff !important; }

.gx_maxi_tile{
	width:192px;
	height:90px;
}
.gx_maxi_tileheaderbox{
	position:absolute;
	left:0px;
	top:90px;
	width:182px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	padding:10px;
	text-align:left;
}
.gx_maxi_timedef{
	position:absolute;
	left:0px;
	top:66px;
	width:159px;
	height:12px;
	background-color:#FFF;
  	filter:alpha(opacity=75);
  	opacity:0.75;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
	padding:6px;
	padding-left:30px;
	display:none;
}
* html .gx_maxi_timedef { padding-bottom: 0px; }

img.gx_maxi_icon{
	left:0px;
	top:66px;
	float:left;
	width:24px;
	height:24px;
	position:relative;
	filter:alpha(opacity=100);
  	opacity:1;
	display:block;
}


/* @@ Homepage feature 2 */


.gx_anim_redblock,.gx_anim_roseblock,.gx_anim_yellowblock,.gx_anim_orangeblock,.gx_anim_tangerineblock{
	position:absolute;
   /* for IE */
  filter:alpha(opacity=75);
  /* CSS3 standard */
  opacity:0.75;
  bottom:56px;
  left:68px;
}
.gx_anim_animationcontainer{
	position:relative;
	width:980px;
	height:460px;
}
.gx_anim_pwcstamp{
	position:absolute;
	width:980px;
	height:56px;
	left:0px;
	bottom:0px;
	background-image:url(/en_GX/gx/webadmin/snippets/animatedlogo/pwc_bar.gif);
}
.gx_anim_orangeblock{
	width:20px;
	height:35px;
	background-color:#dc6900;
}
.gx_anim_redblock{
	width:12px;
	height:15px;
	background-color:#E0301E;
	/* for IE */
  filter:alpha(opacity=50);
  /* CSS3 standard */
  opacity:0.5;
}
.gx_anim_yellowblock{
	width:34px;
	height:25px;
	background-color:#ffb600;
}
.gx_anim_tangerineblock{
	width:24px;
	height:30px;
	background-color:#F3BF8C;
}
.gx_anim_roseblock{
	width:39px;
	height:10px;
	background-color:#db536a;
}
.gx_anim_textcontainer{
	font-family:Georgia, "Times New Roman", Times, serif;
	position:absolute;
	left:87px;
	top:33px;
	width:600px;
	height:314px;
	color:#FFF;
  	display:none;
}
.gx_anim_textheader{
	left:0px;
	top:0px;
	margin: 0;
	font-style:italic;
	font-weight:bold;
	font-size:36px;
	line-height: 1em;
}
.gx_anim_textsubheader{
	left: 0px;
	font-size:32px;
	line-height: 1.2em;
	margin-top: 5px;
}
.gx_anim_textdesc{
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
	left:0px;
	margin-top: 20px;
	font-size:14px;
}
.gx_anim_textdesc a:link, .gx_anim_textdesc a:visited {
	color:#FFF !important;
}
.gx_anim_textdesc ul li { list-style-image: url(/en_GX/webadmin/assets/image/white_square.gif) !important; }
* html .gx_anim_textdesc ul li, *:first-child+html .gx_anim_textdesc ul li  { list-style-image: url(/en_GX/webadmin/assets/image/white_square_ie.gif) !important; }

.gx_anim_textheader a:link, .gx_anim_textheader a:visited, .gx_anim_textsubheader a:link, .gx_anim_textsubheader a:visited, .gx_anim_textdesc a:link, .gx_anim_textdesc a:visited {
	color:#FFF !important;
}

