html, body{background-color: #fff;}
body{position: relative;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: none;}
#wrapper{width: auto;padding: 0 0 10px 0;position: relative;right: 0;}
*html #wrapper{width: 100%;}
*:first-child+html #wrapper{width: 100%;}
#pwcmobile .esidesktop{display: none;}
#pwcmobile #homedesktop{display: none;}
#container{padding: 0 5px !important;clear: both !important;min-height:300px;}
#center{padding: 0 !important;}
#left{width: 49% !important;right: auto !important;margin-left: 0 !important;float: left !important;}
* html #wrapper #container #left.column{margin-left: 0 !important;}
#right{width: 49% !important;margin-right: 0 !important;float: right !important;position: relative !important;}
* html #left{left: auto !important;}
#mobilenav{display: block;overflow:hidden;}
#header{padding: 0;}
#headerleft{width: 81px; padding-bottom: 0;}
#headerright{width: 216px;}
#headerlogo img{display: inline-block !important; width: 80px !important; height: 61px !important;}
#headerlogo{background-image: none !important; padding-left: 10px;}
#mobileheaderright{margin: 15px 4px 0 0; display: block; float: left; vertical-align: top;}
#headercountry{font-size: 1em; margin: 0;}
#headercountry span{width: 160px; margin: 0 !important;}
#headerlang{margin: 0;}
.langlink{font-size: 1em; padding-left: 4px; padding-right: 1px;}
#mobileheadernav{display: block;}
#mobileheadermenu{margin-top: 5px;}
#mobilenav{background-color: #dc6900;width: 200px;height: 100%;padding: 0;position: absolute;right: 0;}
#mobilenav  ul{padding: 0;margin: 0;list-style: none;line-height: 1;border-bottom: 1px solid #A64F00;}
#mobilenav ul li a{display: block;padding: 5px 10px;text-decoration: none;line-height: 1.2em;font-weight: normal;color: #fff;border-bottom: 1px solid #F47400;border-top: 1px solid #A64F00;}
#frmmobilesearch{position: relative;}
*html #frmmobilesearch{display: inline;}
*:first-child+html #frmmobilesearch{display: inline;}
#mobilesearchsubmit{display: none;}
#searchfield{width: 160px;height: 28px;font-size: 0.95em;padding: 1px;color: #6d6e71;border: 1px solid #939598;border-right: 0;margin-top: 1px;position: absolute;right: 32px;display: none;}
#mobileheadersearch img, #mobilesearchsubmit, #mobileheadermenu img{width: 32px; height: 32px;}
#mobilesearchsubmit{margin-top: 1px !important;}
#container img, #container object{max-width: 100%;}
#feature-mobilehome{position: relative;overflow: hidden;max-width: 640px;}
#feature-mobilehome .items{width: 20000em;position: relative;clear: both;}
.items div{float: left;}
#feature-mobilehome .items div a{position: relative !important;text-decoration: none !important;}
#feature-mobilehome .items div a span, #feature-mobilehome span{display: inline-block;color: #fff !important;font-family: Georgia, "Times New Roman";font-size: 1em !important;position: absolute !important;left:0px !important;bottom: 3px !important;max-width: 292px !important;padding: 8px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter: alpha(opacity=90);opacity: 0.9;-moz-opacity: 0.9;-khtml-opacity: 0.9;padding-right: 20px;background-image: url('/en_GX/webadmin/assets/image/m-linkicon.png');background-repeat: no-repeat;background-position: 98% 50%;}
#feature-mobilehome span.tangerine{background-color: #eb8c00; font-size: 1em !important;}
#feature-mobilehome span.orange{background-color: #dc6900; font-size: 1em !important;}
#feature-mobilehome span.red{background-color: #e0301e; font-size: 1em !important;}
#feature-mobilehome span.rose{background-color: #db536a; font-size: 1em !important;}
#feature-mobilehome span.burgundy{background-color: #a32020; font-size: 1em !important;}
#feature-mobilehome span.maroon{background-color: #602320; font-size: 1em !important;}
#feature-mobilehome span.grey{background-color: #968c6d; font-size: 1em !important;}
a.browse{display: block;position: absolute;top: 25%;z-index: 100;height: 32px;width: 32px;background-repeat: no-repeat;background-position: top left;background-size:32px 32px;}
a.left{left: 0; background-image: url('/en_GX/webadmin/assets/image/m-feature-left.gif');}
a.right{right: 0; background-image: url('/en_GX/webadmin/assets/image/m-feature-right.gif');}
#mobilehomenav{padding: 0 5px !important;margin: 0 !important;list-style: none !important;list-style-image: none !important;}
#mobilehomenav li{margin: 0 !important;padding: 0 !important;line-height: 1 !important;float: left;list-style: none  !important;list-style-image: none !important;}
#mobilehomenav a{display: block;padding: 10px 5px;text-decoration: none;font-family: Georgia, "Times New Roman";font-weight: bold;font-style: italic;font-size: 1em;line-height: 1.2em;margin: 10px 10px 0 0;width: 83px;height: 26px;color: #000 !important;border-top: 4px solid #939598;}
#mobilehomenav a.selected{background-color: #eb8c00;border-top: 4px solid #eb8c00;color: #fff !important;}
#footer, #footerlinks{display: none;}
#footer-wrapper{height: auto;}
#footer-wrapper div{padding: 5px;}
#mobilefooter{border-top: 4px solid #eb8c00;margin-top: 10px;}
#mobileterritory, #translation{padding: 2px 0 !important;font-size: 0.85em !important;font-weight: bold;margin: 0;}
#translation a{padding-left: 5px;}
#mobileterritory a, #translation a{font-weight: normal;}
#mobileterritory .mobilechange{margin-left: 5px;padding: 2px 8px;background-color: #eb8c00;color: #fff !important;text-decoration: none;}
#mobilecopyright{font-size: 0.85em; padding-left: 0 !Important;}
#mobilecopyright div{padding: 0 !important;}
.truncate_more_link{color: #eb8c00 !important; padding-left: 4px;}
#mobilecopyright span{display: none;}
#mobilecopyright ul{padding: 0;margin: 0 0 0 0;list-style: none;line-height: 1;}
#mobilecopyright ul li{float: left;text-align: left;}
#mobilecopyright ul li a{display: block;padding: 5px 8px 5px 0;text-decoration: none;font-weight: normal;}
#mobilecopyright ul li a, #mobileterritory a, #translation a, #mobilecopyright a{text-decoration: underline; color: #404041;}
.clearboth{display: inline-block;}
.tooltip{width: 150px;}
.tooltipbottom{width: 190px;}
.fullcontent, .halfcontent, .homecolumn, .contentfeature, .homeleft{display: block;width: 100%;float: none;}
.matchheight{height: auto !important;}
.expander{width: 100%;}
.expander.homecenter{width: 100%;}
.landing-mobile-1 .contentfeature{clear: left;width: 100% !important;}
.landwrappermobile{visibility: visible !important;}
#promocarousel1{width: 100%; position: static;}
#promocarousel2{width: 100%; position: static;}
#promofeatures{width: 100%;float: none;}
#promocarousel2 #promofeatures{width: 100%;}
#promopanels{width: 100%;float: none;}
#promocarousel2 #promopanels{width: 100%;}
#promopanels ul li a{padding: 5px;min-height: auto;}
#promopanels ul.fivepanels li a{min-height: auto;}
#homelayoutwide{width: 100%;}
#homelayout2col{width: 100%;}
#promostatic{width: 100%;}
#homelayout2col #promostatic{width: 100%;}
#pwcmobile #center ul{ -webkit-text-size-adjust: none;}
#pwcmobile #center a{text-decoration: underline;}
.leftnav a:link, .leftnav a:visited{color: #404041;}
.leftnav #selected .lhnentry{background-image: none; background-color: #f5f4f0;}
#landingwrapper .leftnav{display: none;}
#lhnlayout{margin-left: 0 !important;}
#landingwrapper, #lhnlayout, .searchresulttop, .searchresultfeaturedarea, .searchresultpagination{width: 100% !important;}
#pwcmobile #media-player video{width: 280px !important; height: 280px !important;}
#pwcmobile #media-details{width: 280px !important; height: auto !important;}
#pwcmobile ul.media-tabs{display: table;}
#pwcmobile ul.media-tabs li, #pwcmobile ul.media-tabs-doubleheight li{float:none; display:inline-block;margin:0 1px 5px 0 !important;_margin-right:1px !important;}
#pwcmobile ul.media-tabs-doubleheight{height:auto;}
#pwcmobile ul.media-tabs a,  #pwcmobile #center ul.media-tabs a, #pwcmobile ul.media-tabs a:visited, #pwcmobile #center ul.media-tabs a:visited{padding:5px 5px 5px 5px;}
#pwcmobile ul.media-tabs-doubleheight a, #pwcmobile #center ul.media-tabs-doubleheight a, #pwcmobile ul.media-tabs-doubleheight a:visited, #pwcmobile #center ul.media-tabs-doubleheight a:visited{ padding:5px 5px 5px 5px;}
#pwcmobile ul.media-tabs a.current, #pwcmobile ul.media-tabs a.current:hover, #pwcmobile ul.media-tabs li.current a, #pwcmobile ul.media-tabs-doubleheight a.current, #pwcmobile ul.media-tabs-doubleheight a.current:hover, #pwcmobile ul.media-tabs-doubleheight li.current a, #pwcmobile #center ul.media-tabs a.current, #pwcmobile #center ul.media-tabs a.current:hover, #pwcmobile #center ul.media-tabs li.current a, #pwcmobile #center ul.media-tabs-doubleheight a.current, #pwcmobile #center ul.media-tabs-doubleheight a.current:hover, #pwcmobile #center ul.media-tabs-doubleheight li.current a, #pwcmobile ul.media-tabs a.current:visited, #pwcmobile ul.media-tabs li.current a:visited, #pwcmobile #center ul.media-tabs a.current:visited, #pwcmobile #center ul.media-tabs li.current a:visited, #pwcmobile ul.media-tabs-doubleheight a.current:visited, #pwcmobile ul.media-tabs-doubleheight li.current a:visited, #pwcmobile #center ul.media-tabs-doubleheight a.current:visited, #pwcmobile #center ul.media-tabs-doubleheight li.current a:visited{padding:5px 4px 5px 4px;}
#pwcmobile .media-feature-images{position: relative; width: auto;}
#pwcmobile .media-feature-images .media-feature-slide{width: 100%; height: auto;}
#pwcmobile .media-feature-slide{width: auto; height: auto;}
#pwcmobile .media-feature-slide img{width: 100% !important; }
#pwcslider{width: 100% !important;height: auto !important;}
#pwcslider .items, #pwcsliderauto .items{width: 100%;position: relative;clear: none;}
#pwcslider .items .feature, #pwcsliderauto .items .feature{float: none;padding: 0;}
#pwcslider a.browse, #pwcsliderauto a.browse{display: none;}
#pwcslider .navi, #pwcsliderauto .navi{display: none;}
#pwcslider .feature.cloned{display: none;}
#pwcslider .feature{border-bottom: 1px solid #6d6e71; padding-bottom: 10px !important; height: inherit !important;}
#pwcslider .feature a.griditem{float: none; width: 100%; margin-bottom: 10px; height: 125px;}
#pwcslider .feature .gridgutter{display: none;}
#home #feature, #home .gx_anim_animationcontainer{display: none !important;}
#pubfeature{width: 150px;}
.pubdownload{padding: 5px;}
.pubdownload a{font-size: 1em; padding-right: 0; background-image: none;}
.media-overlay{width: 280px !important; height: auto !important;}