
#pwcdesktop .lhn1 {
	padding: 5px 3px 10px 3px !important;
	font-family: Georgia, "Times New Roman";
	font-size: 1.6em;
	letter-spacing: 0.002em;
	line-height: 1.25em;
	font-weight: bold;
	border-bottom: 4px solid;
}

#pwcdesktop .lhn1 div a {
	padding: 0 !important;
}
#pwcdesktop .lhn2 div { border-top: 0 !important; }

#pwcdesktop #lhntangerine .lhn1 { border-color: #eb8c00;}
#pwcdesktop #lhntangerine .lhn1 div a:link, #lhntangerine .lhn1 div a:visited { color: #eb8c00 !important; }

#pwcdesktop #lhnorange .lhn1 { border-color: #dc6900;}
#pwcdesktop #lhnorange .lhn1 div a:link, #lhnorange .lhn1 div a:visited { color: #dc6900 !important; }

#pwcdesktop #lhnred .lhn1 { border-color: #e0301e;}
#pwcdesktop #lhnred .lhn1 div a:link, #lhnred .lhn1 div a:visited { color: #e0301e !important; }

#pwcdesktop #lhnrose .lhn1 { border-color: #db536a;}
#pwcdesktop #lhnrose .lhn1 div a:link, #lhnrose .lhn1 div a:visited { color: #db536a !important; }

#pwcdesktop #lhnburgundy .lhn1 { border-color: #a32020;}
#pwcdesktop #lhnburgundy .lhn1 div a:link, #lhnburgundy .lhn1 div a:visited { color: #a32020 !important; }

#pwcdesktop #lhnmaroon .lhn1 { border-color: #602320;}
#pwcdesktop #lhnmaroon .lhn1 div a:link, #lhnmaroon .lhn1 div a:visited { color: #602320 !important; }

#pwcdesktop #lhnblack .lhn1 { border-color: #6d6e71;}
#pwcdesktop #lhnblack .lhn1 div a:link, #lhnblack .lhn1 div a:visited { color: #6d6e71 !important; }

/* Duplicated */
.lhn1 {
	padding: 5px 3px 10px 3px !important;
	font-family: Georgia, "Times New Roman";
	font-size: 1.6em;
	letter-spacing: 0.002em;
	line-height: 1.25em;
	font-weight: bold;
	border-bottom: 4px solid;
}

.lhn1 div a {
	padding: 0 !important;
}
.lhn2 div { border-top: 0 !important; }

#lhntangerine .lhn1 { border-color: #eb8c00;}
#lhntangerine .lhn1 div a:link, #lhntangerine .lhn1 div a:visited { color: #eb8c00 !important; }

#lhnorange .lhn1 { border-color: #dc6900;}
#lhnorange .lhn1 div a:link, #lhnorange .lhn1 div a:visited { color: #dc6900 !important; }

#lhnred .lhn1 { border-color: #e0301e;}
#lhnred .lhn1 div a:link, #lhnred .lhn1 div a:visited { color: #e0301e !important; }

#lhnrose .lhn1 { border-color: #db536a;}
#lhnrose .lhn1 div a:link, #rose .lhn1 div a:visited { color: #db536a !important; }

#lhnburgundy .lhn1 { border-color: #a32020;}
#lhnburgundy .lhn1 div a:link, #lhnburgundy .lhn1 div a:visited { color: #a32020 !important; }

#lhnmaroon .lhn1 { border-color: #602320;}
#lhnmaroon .lhn1 div a:link, #lhnmaroon .lhn1 div a:visited { color: #602320 !important; }

#lhnblack .lhn1 { border-color: #6d6e71;}
#lhnblack .lhn1 div a:link, #lhnblack .lhn1 div a:visited { color: #6d6e71 !important; }

/* Temp fix for mobile snippet use */
.esidesktop {
	display: inline-block;
	width: 768px;
}