/* 2013 Design UK */

.pwc-twitter {background-color:#FDF4E5 !important;}
.pwc-twitter .tweet-list {padding-top:3px !important;}
.pwc-twitter .tweet {padding:0; line-height:1.2em;}
.pwc-twitter .tweet a {color:#dc6900 !important;}
.pwc-twitter .actions {border-bottom: 1px dotted #dc6900 !important;}
.homecolumn {margin-bottom:10px;}
.homecolumn .pwc-twitter a {display:inline !important;}
.homecolumn ul li a {line-height:1.2em !important;}
.homecolumn  .blogabstract a.news {font-family:arial, sans-serif; font-weight:normal; color:#404041 !important;}
.homecolumn .blogheading {margin:0 0 3px 0 !important; font-weight:bold; font-family:georgia; color:#E0301E;}
.homecolumn .blogabstract {margin:0 0 5px 0 !important;}
.homecolumn p {line-height:1.2em;}
.homecolumn.burgundy a {color:#e0301e !important;}
.homecolumn.burgundy h2 a {color:#a32020 !important;}
#videoslider .items .video a {text-decoration:none !important;}
#videoslider .items .video a:hover {text-decoration:underline !important;}