/* RH Page tools */
#pagetoolbox { display: none; }
#uksociallinks { margin-top: 10px; }
#ukpagetoolbox {
	padding: 5px 0 0 0;
	border-top: 4px solid #968c6d;
	background-color: #f5f4f0;
	margin-bottom:first 10px;
	padding-bottom: 5px;
}
#ukpagetoolbox .rhtitle { display: none; } /* For legacy HTML */

#pagetools, #pagetools ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#pagetools li, .shareicons li { margin: 5px 0 5px 10px; }
	
#shareicons li { padding: 3px 0; }

#ptemail a, #ptprint a, #ptshare a {
	display: inline-block;
	padding-left: 30px !important;
}
#ptemail a { background-image: url(/en_GX/webadmin/assets/image/sprites.gif); background-position: -1400px 0; background-repeat: no-repeat; }
#ptprint a { background-image: url(/en_GX/webadmin/assets/image/sprites.gif); background-position: -1400px -20px; background-repeat: no-repeat; }
#ptshare a { background-image: url(/en_GX/webadmin/assets/image/sprites.gif); background-position: -1400px -40px; background-repeat: no-repeat; }
.uk-twitter, .uk-facebook, .uk-gplus, uk-linkedin { margin-bottom: 5px; }
.uk-facebook { margin-top: 5px; }

.webtile, .rhbox { padding: 0 !important; }

.fb_iframe_widget_lift { left: -240px; }

/* Publication Layout */

div.ukpubdownload {
	padding: 10px 15px;
	border: 1px solid #968C6D;
	margin: 10px 0px 10px 0px;
	position: relative;
}
div.ukpubdownload a:link, div.ukpubdownload a:visited {
	font-size: 120%;
	font-family: georgia;
	color: #404041;
	padding-right: 40px;
	line-height: 1.2em;
	display: inline-block;
}
div.ukpubdownload a img, div.ukpubdownload .ukepub img, div.ukpubdownload .ukgovpub img {
	position: absolute;
	right: 5px;
	top: 10px;
}
div.ukpubdownload .ukepub img, div.ukpubdownload .ukgovpub img { right: 50px; }
div.ukpubdownload .ukgovpub img { right: 5px; }

div.ukpubdownload .ukepub img.epublogo { right: 5px; }
div.ukpubdownload span {
	display: block;
	margin-top: 10px;
	width: 490px;
}
div.ukpubdownload .ukepub span {width: 440px;}
div.ukpubdownload .ukgovpub span {
	display: inline-block;
	margin: 0;
	width: 490px;
}
div.ukpubdownload .ukepub {
	font-family: georgia;
}
div.ukpubdownload .ukgovpub {
	font-family: arial;
	font-weight: bold;
	padding-right: 20px;
}
div.ukpubdownload .ukepub a, div.ukpubdownload .ukgovpub a {
	font-family: arial;
	font-size: 100%;
	margin-top: 5px;
	display: inline-block;
}
div.ukpubdownload .ukgovpub a {
	font-family: georgia;
	font-weight: normal;
	font-size: 1.1em;
}

/* Publication RHS Layout */
.searchpubstitle {
	display: inline-block;
	margin-bottom: 4px;
	margin-left: 4px;
	font-family: Georgia, "Times New Roman";
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
	color: #000;
}
#frmsearchpubs { margin: 0; }
#pubssearchfield {
	width: 138px;
	height: 21px;
	font-size: 0.95em;
	padding: 1px;
	color: #6d6e71;
	border: 1px solid #939598;
	border-right: 0;
} 
#searchsubmit2{ /* Default for IE8 */
	display: inline;
	margin-bottom: -10px;
	border: 1px solid #939598;
	border-left: 0;
}
* html #searchsubmit2{ margin-bottom: -4px; } /* IE6 */
*:first-child+html #searchsubmit2{ margin-bottom: -4px; } /* IE7 */
#searchsubmit2, x:-moz-any-link { margin-bottom: -5px; } /* FF2 */
#searchsubmit2, x:-moz-any-link, x:default { margin-bottom: -5px; } /* FF3 */
@media screen and (min-width: 0.1em){ #searchsubmit2 { margin-bottom: -7px; } } /* FF3.6.8+ */
@media screen and (-webkit-min-device-pixel-ratio:0) { #searchsubmit2 { margin-bottom: -8px !important; }} /* Chrome & Safari */
	
/* Contact profile Layout */

div#ukcontactfeature { 
	background-color: #e7e7e8;
	padding: 10px;
	margin-bottom: 15px;
}
div#ukcontactfeature img { 
	width: 100px;
	float: left;
}
div#ukcontactsummary {
	float: left;
	width: 425px;
	margin-left: 10px;
}
div#ukcontactsummary h2, div#ukcontactsummary h3 {
	color: #a32020;
	font-style: normal;
	margin: 0;
}
div#ukcontactsummary h3 { margin: 2px 0; }
div#ukcontactdetails {
	border-top: 1px dotted #000;
	margin-top: 10px;
	padding-top: 5px;
}
div#ukcontactdetails span {
	font-weight: bold;
	display: inline-block;
	margin-right: 5px;;
}

/* Landing & Hub page layouts */

/* .ukleftlist { padding-bottom: 10px; } */
.ukleftlist ul li {
	padding: 5px 5px 1px 15px !important;
	border-bottom: 0;
}
.homecolumn ul li a {
	font-family: Arial;
	font-size: 0.95em;
	font-weight: bold;
	line-height: 1.1em;
	color: #404041 !important;
	text-decoration: none !important;
}

.contentfeature h2, .homecolumn h2, .expander h2 { font-size: 1.2em;}
.contentfeature h3, .homecolumn h3, .expander h3 {
	font-size: 0.95em;
	margin-top: 5px;
}
.expander .longlist h3 { margin-top: 0; }
.contentfeature p { color: #000 !important; }
.homecolumn .homelight { padding-top: 0; }

/*
.contentfeature { position: static !important; margin-bottom: auto !important;}
.contentfeature img { position: relative !important; bottom: 1px !important; }

* html .contentfeature img { }
*:first-child+html .contentfeature img { }
*/

#uklanding1 { width: 980px; position: static; }

#uklandingfeature {
	width: 768px; /* 748 */
	height: 340px;
	float: left;
	position: relative;
	overflow: hidden;
	background-position: top left;
	background-repeat: no-repeat;
}

#uklandingitems {
	width: 192px; /* 212 */
	display: block;
	float: right;
}
#uklandingitems, #uklandingitems ul {
	padding: 0;
	margin: 0;
	line-height: 1;
}
#uklandingitems ul li {
	list-style: none !important;
	list-style-image: none !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

* html  #uklandingitems ul { margin-left:-10px !important; }
*:first-child+html #uklandingitems ul { margin-left:-10px !important; }

* html  #uklandingitems ul li { padding-left: 10px !important; margin-bottom: -14px; }
*:first-child+html #uklandingitems ul li { padding-left: 10px !important; }

#uklandingitems ul li a {
	background-color: #e5e5e5;
	border-bottom: 4px solid #fff;
	list-style: none;
	list-style-image: none;
	display: block;
	padding: 5px;
	line-height: 1.5em;
	height: auto;
	color: #404040 !important;
}

#uklandingitems ul li a:hover { text-decoration: none !important; }

#uklandingitems  ul li.panel1 a, #uklandingitems  ul li.panel7 a { border-top: 4px solid #db536a; }
#uklandingitems  ul li.panel2 a, #uklandingitems  ul li.panel8 a { border-top: 4px solid #e0301e; }
#uklandingitems  ul li.panel3 a, #uklandingitems  ul li.panel9 a { border-top: 4px solid #dc6900; }
#uklandingitems  ul li.panel4 a, #uklandingitems  ul li.panel10 a { border-top: 4px solid #602320; }
#uklandingitems  ul li.panel5 a, #uklandingitems  ul li.panel11 a { border-top: 4px solid #a32020; }
#uklandingitems  ul li.panel6 a, #uklandingitems  ul li.panel12 a { border-top: 4px solid #eb8c00; }

#uklandingitems ul li.panel1 a span, #uklandingitems ul li.panel7 a span { color: #db536; }
#uklandingitems ul li.panel2 a span, #uklandingitems ul li.panel8 a span { color: #e0301e; }
#uklandingitems ul li.panel3 a span, #uklandingitems ul li.panel9 a span { color: #dc6900; }
#uklandingitems ul li.panel4 a span, #uklandingitems ul li.panel10 a span { color: #602320; }
#uklandingitems ul li.panel5 a span, #uklandingitems ul li.panel11 a span { color: #a32020; }
#uklandingitems ul li.panel6 a span, #uklandingitems ul li.panel12 a span { color: #eb8c00; }

#uklandingitems  ul li.panel1 a:hover, #uklandingitems  ul li.panel1 a.active, #uklandingitems  ul li.panel7 a:hover, #uklandingitems  ul li.panel7 a.active { background-color: #f6d4da; }
#uklandingitems  ul li.panel2 a:hover, #uklandingitems  ul li.panel2 a.active, #uklandingitems  ul li.panel8 a:hover, #uklandingitems  ul li.panel8 a.active { background-color: #f7cbc7; }
#uklandingitems  ul li.panel3 a:hover, #uklandingitems  ul li.panel3 a.active, #uklandingitems  ul li.panel9 a:hover, #uklandingitems  ul li.panel9 a.active { background-color: #f6dabf; }
#uklandingitems  ul li.panel4 a:hover, #uklandingitems  ul li.panel4 a.active, #uklandingitems  ul li.panel10 a:hover, #uklandingitems  ul li.panel10 a.active { background-color: #d7c8c7; }
#uklandingitems  ul li.panel5 a:hover, #uklandingitems  ul li.panel5 a.active, #uklandingitems  ul li.panel11 a:hover, #uklandingitems  ul li.panel11 a.active { background-color: #e8c7c7; }
#uklandingitems  ul li.panel6 a:hover, #uklandingitems  ul li.panel6 a.active, #uklandingitems  ul li.panel12 a:hover, #uklandingitems  ul li.panel12 a.active { background-color: #fae2bf; }

#uklandingitems ul li span {
	display: block;
	font-style: italic;
	font-weight: bold;
	font-family: Georgia, "Times New Roman";
}

.uklanding2-2 {
	background-repeat: no-repeat;
	background-position: top left;
	height: 380px;
	width: 520px;
}
.uklanding2-2 #uklogofeature { width: 450px; }	
.uklanding2-2 #uklogofeature #uklogofeaturemsg .uklogofeaturecol { width: 390px; }
.uklanding2-2 #uklogofeature { margin-top: -40px; }

.ukmicrositecarousel #promofeatures .items a { position: static; }
.ukmicrositecarousel #promofeatures a { display: inline-block; text-decoration: none !important; background-repeat: no-repeat; background-position: top left;	width: 758px; height: 380px; }
.ukmicrositecarousel .uklogofeature { position: relative; width: 550px; }
.ukmicrositecarousel .uklogofeaturecol { width: auto;}

.uklogofeaturemsg .readmorelink {
	color: #fff !important;
	text-decoration: none !important;
	font-family: georgia;
	padding: 10px 5px;
	background-color: #eb8c00;
	font-size: 14px;
	font-style: italic;
	background-image: url('/en_GX/webadmin/assets/image/2010activatedlogo/icon_media_article.gif');
	background-repeat: no-repeat;
	background-position: right center;
	display: inline-block;
	padding-right: 25px;
	width: 80px;
	float: right;
}
.uklogofeaturemsg .readmorelink:hover { text-decoration: underline !important; }

.expander ul { min-height: 150px !important; }

.expander ul li {
	padding: 8px 5px 2px 5px !important;
	font-size: 1.2em;
	border-bottom: 0px;
	line-height: 1em;
}
* html .expander ul li { padding-top: 6px; }
*:first-child+html .expander ul li { padding-top: 6px; }

.expander ul li a {
	font-weight: bold;
	text-decoration: none !important;
	line-height: 1.1em;
}

#uklanding1, #uklanding2 { position: relative; }
#uklogofeature, .uklogofeature {
	position: absolute;
	top: 40px;
	left: 40px;
	width: 690px;
}
#uklogofeaturemsg, .uklogofeaturemsg, #ukhubfeaturemsg {
	display: block;
	padding: 15px;
	margin-left: 30px;
	margin-bottom: 8px;
	color: #fff;
}
#uklogofeaturemsg, .uklogofeaturemsg, #uklogofeaturetrim, .uklogofeaturetrim, #ukhubfeaturemsg, #ukhubfeaturetrim {
	zoom: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;	
}

#uklogofeaturetrim, .uklogofeaturetrim, #ukhubfeaturetrim {
	position: absolute;
	width: 30px;
	height: 8px;
	line-height: 8px;
	left: 0;
	bottom: 0;
}
.ukmicrositecarousel .uklogofeaturetrim { bottom: -8px; }
* html .ukmicrositecarousel .uklogofeaturetrim { bottom: 0; } /* IE6 */
*:first-child+html .ukmicrositecarousel .uklogofeaturetrim { bottom: 0; } /* IE7 */
#promocarousel2 #uklogofeature { top: 100px !important; }

.uklogofeaturecol {
	width: 300px;
	display: inline-block;
	float: left;
}
#uklogofeaturemsg .landingh1, #uklogofeaturemsg .landingh2, .uklogofeaturemsg .landingh1, .uklogofeaturemsg .landingh2, #uklogofeaturemsg .landingh3 { display: block; }
#uklogofeaturemsg .landingh1, .uklogofeaturemsg .landingh1 {
	font-family: Georgia, "Times New Roman";
	font-style: italic;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.1em;
}
#uklogofeaturemsg .landingh2, .uklogofeaturemsg .landingh2 {
	font-family: Georgia, "Times New Roman";
	font-size: 1.2em;
	line-height: 1.2em;
	font-style: normal;
	font-weight: bold;
	background-image: url(/en_gx/webadmin/assets/image/white_square.gif);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	padding-left: 10px;
}
#uklogofeaturemsg .landingh3, .uklogofeaturemsg .landingh3 {
	font-weight: bold;
	margin-bottom: 10px;
}
#uklogofeaturemsg p, .uklogofeaturemsg p { margin: 5px 0;}
#uklogofeaturemsg a, .uklogofeaturemsg a {
	color: #fff !important;
	text-decoration: underline !important;
}
#uklogofeaturemsg a:hover, .uklogofeaturemsg a:hover { text-decoration: underline !important; }
#ukhubfeaturemsg p a, .ukhubfeaturemsg p a {
	color: #fff !important;
	font-family: Georgia, "Times New Roman";
	font-size: 1.1em;
	display: inline;
	padding-right: 5px;
}

#ukhub1 { position: static; }
#ukhubfeature{
	width: 556px;
	position: relative;
	overflow: hidden;
}

#ukhubfeaturemsg { 
	background-image: url(/en_uk/uk/assets/images/white_bar.gif);
	background-repeat: repeat-y;
	background-position: top right;
}
#ukhubfeaturemsg, #ukhubfeaturetrim { background-color: #a32020; }

#ukhubfeaturemsg .uklogofeaturecol { width: 250px; }
#ukhubfeaturemsg .uklogofeaturecol2 { width: 240px; }

.uklogofeaturecol2 {
	display: inline-block;
	float: left;
}

.hubh1, .hubh2 {
	display: block;
	font-size: 1.4em;
	font-family: Georgia, "Times New Roman";
	font-weight: bold;
}
.hubh2 {
	font-size: 1.3em;
	font-weight: normal;
}
*:first-child+html .hubh2 { font-weight: bold;}
* html .hubh2 { font-weight: bold;}

ul#hublist1 {
	margin-top: 0 !important;
	width: 100%;
}
* html ul#hublist1 { margin-left: 5px;}
*:first-child+html ul#hublist1 { margin-left: 5px;}

#hublist1 li {
	list-style: none !important;
	list-style-image: none !important;
	background-color: #e0301e;
	margin-bottom: 5px !important;
}
#hublist1 li.highlighted { background-color: #6d6e71; }
#hublist1 li a {
	display: block;
	color: #fff !important;
	font-size: 1.2em;
	font-family: Georgia, "Times New Roman";
	font-weight: bold;
	padding: 5px;
}

#ukhubfeature2 {
background-color: #eb8c00;
padding: 10px;
color: #fff;
position: relative;
margin-bottom: 10px;
}
#ukhubfeature2.tangerine  { background-color: #eb8c00; }
#ukhubfeature2.orange { background-color: #dc6900; }
#ukhubfeature2.red { background-color: #e0301e; }
#ukhubfeature2.rose { background-color: #db536a; }
#ukhubfeature2.burgundy { background-color: #a32020; }
#ukhubfeature2.maroon { background-color: #602320; }
#ukhubfeature2.grey { background-color: #968c6d; }

#ukhubfeature2 h1 {
display: block !important;
color: #fff;
font-style: italic;
font-size: 1.5em;
font-weight: bold;
border: 0;
border-bottom: 1px dotted #fff;
padding: 0 0 10px 0;
padding-top: 0;
}
#ukhubfeature2 h2 {
color: #fff;
font-size: 1.6em;
font-style: italic;
line-height: 1.1em;
display: inline-block;
width: 180px;
margin: 0 !important;
float: left;
}
#ukhubfeature2 p { overflow-x: auto;}

#ukhub2 .contentcolumn.tangerine { border-top: 4px solid #eb8c00; }
#ukhub2 .contentcolumn.orange { border-top: 4px solid #dc6900; }
#ukhub2 .contentcolumn.red { border-top: 4px solid #e0301e; }
#ukhub2 .contentcolumn.rose { border-top: 4px solid #db536a; }
#ukhub2 .contentcolumn.burgundy { border-top: 4px solid #a32020; }
#ukhub2 .contentcolumn.maroon { border-top: 4px solid #602320; }
#ukhub2 .contentcolumn.grey { border-top: 4px solid #968c6d; }

#ukhub2 .contentcolumn {
position: relative;
width: 170px;
border: 1px solid #e7e7e8;
background-repeat: no-repeat;
background-position: top left;
}
#ukhub2.twocol .contentcolumn { width: 266px; }
#ukhub2.twocol .contentcolumn a span { width: 226px; }

#ukhub2 .contentcolumn a { 
position: relative;
display: block;
height: 80px;
width: auto;
text-decoration: none !important;
}
#ukhub2 .contentcolumn h3 a { height: auto; }
#ukhub2 .contentcolumn p a { height: auto; }

#ukhub2 .contentcolumn a span {
display: block;
width: 130px;
position: absolute;
bottom: 0px;
padding: 4px 5px 3px 35px;
color: #fff !important;
text-decoration: none !important;
font-weight: bold;
background-repeat: no-repeat;
background-position: top left;
cursor: pointer;
zoom: 1;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter: alpha(opacity=80);
opacity: 0.8;
-moz-opacity: 0.8;
-khtml-opacity: 0.8;
}
#ukhub2 .contentcolumn a span.epub { background-image: url('/en_GX/webadmin/assets/image/icon_epub.gif'); }
#ukhub2 .contentcolumn a span.pdf { background-image: url('/en_GX/webadmin/assets/image/icon_pub.gif'); }
#ukhub2 .contentcolumn a span.data { background-image: url('/en_GX/webadmin/assets/image/icon_graph.gif'); }
#ukhub2 .contentcolumn a span.play { background-image: url('/en_GX/webadmin/assets/image/icon_video.gif'); }

#ukhub2 .contentcolumn.tangerine a span { background-color: #eb8c00; }
#ukhub2 .contentcolumn.orange a span { background-color: #dc6900; }
#ukhub2 .contentcolumn.red a span { background-color: #e0301e; }
#ukhub2 .contentcolumn.rose a span { background-color: #db536a; }
#ukhub2 .contentcolumn.burgundy a span { background-color: #a32020; }
#ukhub2 .contentcolumn.maroon a span { background-color: #602320; }
#ukhub2 .contentcolumn.grey a span { background-color: #968c6d; }

#ukhub2 .contentcolumn h3 { font-style: normal; padding: 0 10px; }
#ukhub2 .contentcolumn p { padding: 0 10px; margin-top: 5px; }

#ukhub2 .contentcolumn.tangerine h3 { color: #eb8c00; }
#ukhub2 .contentcolumn.orange h3 { color: #dc6900; }
#ukhub2 .contentcolumn.red h3 { color: #e0301e; }
#ukhub2 .contentcolumn.rose h3 { color: #db536a; }
#ukhub2 .contentcolumn.burgundy h3 { color: #a32020; }
#ukhub2 .contentcolumn.maroon h3 { color: #602320; }
#ukhub2 .contentcolumn.grey h3 { color: #968c6d; }



/* ### LEGACY FROM WCMS: partial pwc-style.css ### */

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
div.clear {
	clear: both !important;
	height: 1px;
	line-height: 1px;
}

#content-section h2 {
font-style: italic;
margin-top: 5px;
}

#content-section h3 {
background-repeat: no-repeat;
background-position: 0px 10px;
padding-left: 15px;
color:#404041;
padding-bottom: 6px;
padding-top: 5px;
}
/* Interferes with UK Careers
h4, h4 a {
padding-bottom: 6px;
text-decoration: none;
border-bottom:4px solid;
}
*/
hr {
color: #fff; 
background-color: #fff; 
border: 1px dotted #C7C8CA; 
border-style: none none dotted; 
}

.profile {
padding: 10px 20px 10px 110px;
background-repeat: no-repeat;
background-position: 10px 15px;
margin-bottom: 10px;
min-height: 130px;
}

.profile h2 {
font-size: .95em;
}
/* ### LEGACY FROM WCMS: entire autocomplete-styles.css ### */

/* styles for entire widget */
.yui-skin-sam .yui-ac {
    position:relative;font-family:arial;font-size:100%;
}
/* styles for input field */
.yui-skin-sam .yui-ac-input {
    width:185px;
}
/* styles for results container */
.yui-skin-sam .yui-ac-container {
    
}
/* styles for header/body/footer wrapper within container */
.yui-skin-sam .yui-ac-content {
    position:absolute;width:185px;border:1px solid #808080;background:#fff;overflow:hidden;z-index:9050; display:inline;right:0;top:26px;
}
/* styles for container shadow */
.yui-skin-sam .yui-ac-shadow {
    position:absolute;margin:.3em;width:100%;background:#000;-moz-opacity: 0.10;opacity:.10;filter:alpha(opacity=10);z-index:9049;
}
/* styles for results list */
.yui-skin-sam .yui-ac-content ul{
    margin:0;padding:0;width:185px;
}
/* styles for result item */
.yui-skin-sam .yui-ac-content li {
    margin:0;padding:2px 5px;cursor:default;white-space:nowrap;text-align:left !important; background-color:#FDF4E5;
}
/* styles for prehighlighted result item */
.yui-skin-sam .yui-ac-content li.yui-ac-prehighlight {
    background:#B3D4FF;
}
/* styles for highlighted result item */
.yui-skin-sam .yui-ac-content li.yui-ac-highlight {
    background:#EB8C00;color:#FFFFFF;
}                

/* ### LEGACY FROM WCMS: partial regional-style.css ### */

caption{
	text-align: left;
	font-size: 1.5em;
	padding-bottom:15px;
}

th{
	text-align: left;
	font-size: 1em;
	padding:5px;
}

td{padding:5px;}

.keyline{ /*Summary items on listings pages*/
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px dotted;
	padding:4px 9px 15px 0px;
	margin-bottom: 10px;
	color:#404041 !important;
}

.keyline_bottom{ /*Final summary item*/
	border-top:none;
	border-left:none;
	border-right:none;
	padding:4px 9px 9px 0px;
	margin-bottom:10px;
}

.keyline, .keyline_bottom {
	float: left;
	width: 592px;
	font-family:arial;
}

.keyline h2 a:link, .keyline_bottom h2 a:link, .keyline h2 a:hover, .keyline_bottom h2 a:hover, .keyline h2 a:visited, .keyline_bottom h2 a:visited {
	background-image:url("/en_uk/uk/assets/images/bullet.gif");
	background-position:5px 7px;
	background-repeat:no-repeat;
	padding-left:18px;
}

.keyline h2 a, .keyline_bottom h2 a {
	color:#404041; /*90% black*/
}

.keyline a:hover, .keyline_bottom a:hover {
	color:#E0301E !important;
	text-decoration:underline !important;
}

.keyline2 {
	color:#404041 !important;
	border:0px !important;
}

.keyline_exec {
	float:left;
	border-bottom:dotted 1px #968c6d;
	padding:10px 0 5px 0;
	height:auto;
	min-height: 95px;
}
.leftline {
	float:left;
	width:90px;
	margin-right:10px;
}
.leftline p {float:left;}
.rightline {float:left; width:456px; }
.rightline p {width:440px;}.img {margin-bottom:5px;}

.keyline_divider {border-top:solid 1px #968c6d;}
h2.keyline_divider {padding-top:5px;}
.keyline_exec {
	border-bottom:dotted 1px #968c6d;
	padding:10px 0 10px 0;
	height:auto;
	min-height: 95px;
}
.keyline_exec_end {
	border-bottom:dotted 1px #968c6d;
	border-top:dotted 1px #968c6d;
	padding:10px 0 10px 0;
}
.keyline_exec p img {margin:0 15px 15px 0;}
.keyline_exec_end p img {margin:0 15px 15px 0;}
.keyline_exec p span {font-weight:bold;}
.keyline_exec_end p span {font-weight:bold;}


.office-wrapper {
	float:left;
	width:100%;
}

.office-address {
	float:left;
	width:40%;
}

.office-image {
	float:right;
	width:60%;
}

.office-image img {
	float:left;
	margin-left:10px;
}

#center  .left2 .left5 {
	float:left;
	width:50%;
}

#center  .left2 .left {
	float:right !important;
}

/* events page specific definitions */
.rowHeader a:hover{text-decoration: none;}
.tdBorderBottom {border-bottom: 1px dotted;}
.eventtable {border-collapse: collapse;}
.rowHeader{
	border-top: 4px solid #6D6E71 !important;
}
.tdBorderBottomRegister{
	border-bottom: 1px dotted;
	text-align:center;
}

div.ukevents div {
	display: inline-table;
	margin-bottom: 5px;
}
div.ukevents span {
	display: inline-block;
	width: 70px;
	font-weight: bold;
}

/* Legacy events index */

.events-table {
margin: 10px 0px 10px 0px;
}

.events-table td, .events-table th {
padding: 4px;
margin: 4px;
}

.events-table td {
border-bottom: 1px dotted; 
}

.events-row-header {
color: #FFF;
}

.events-row-header a, .events-row-header a:visited {
color:#FFF;
}

.tdBorderBottomRegister {
text-align:center;
}

.events-row-header a:hover {
color:#FFF;
text-decoration:underline;
}

#locations ul {
margin: 0px;
width: 50%;
}

/* end events page */

/*publication page specific*/
.pdfDownload {
	float:left;
	margin-right:5px;
	vertical-align:bottom;
}
/*end publication page*/

/*office details specific definitions*/
img.office{margin-top:5px;}
/*end office details*/

.keyline2 {
font-size: 80%;
font-weight: bold;
width: 90%;
margin-left: 20px;
padding: 5px;
border: 1px solid #E7E7E8!important;
float:left;
}

/* ## Legacy home/landing styles ## */

#homepage-container #top-logo p {
background-image:none;
}
#homepage-container #jquery-block {
height:404px;
margin-top:6px;
position:relative;
overflow:hidden;
}

#homepage-container #jquery-block dl ,
#homepage-container #jquery-block dt ,
#homepage-container #jquery-block dd {
display:block;
}
html>body #homepage-container #jquery-block {
*z-index:-1;
}
#homepage-container #rebrand_right_panel {
margin-left:10px;
width:192px;
float:left;
padding-top: 6px;
}
#homepage-container #left-section {
border-top:none;
padding-right: 10px;
}
#homepage-container #main-section {
overflow:hidden;
}
#homepage-container #homepage-insights {
border-top: 5px solid;
}

#homepage-container #homepage-insights li {
border-bottom: 1px dotted #C7C8CA;
font-weight:normal;
display: block;
margin: 0px;
padding: 6px 4px;
color: #404041;
font-family: Georgia;
}

#homepage-container #homepage-insights li.insights-first {
padding-top: 9px;
}
#homepage-container #homepage-insights li.insights-last {
border-bottom:none;
}
#homepage-container #homepage-insights li a {
color: #404041;
font-weight:normal;
padding: 4px 0;
font-family: Arial;
display: block;
text-decoration: underline;
width: 100%;
}

#homepage-container #homepage-insights li a:hover {
text-decoration:underline;
}

#homepage-container .more-panel {
padding: 4px;
background: #C7C8CA url('/en_uk/uk/assets/images/plus.gif') no-repeat  right; /*does not change with colour scheme - remains tangerine */
margin-top: 4px;
}

#homepage-container .more-panel a {
font-family: georgia;
color: #404041;
}

#homepage-container .main_panels {
width:268px;
float:left;
padding:6px 10px;
}

#homepage-container .main_panels h4  {
 border-bottom: 5px solid;
padding-bottom: 6px;
}


#homepage-container #rebrand_right_panel h4  {
border-bottom: 5px solid #6D6E71;
padding-bottom: 6px;
}

#homepage-container #rebrand_right_panel h4 a {
color:#6D6E71;
}

#homepage-container #rebrand_right_panel h4 a:hover {
text-decoration:underline;
}

#homepage-container p.em {
font-family: georgia;
font-size: 105%;
font-style: italic;
font-weight: bold;
margin:0;
line-height: 1em;
}

#homepage-container .main_panels p.em {
color:black;
margin:0;
line-height: 1em;
}

html>body #homepage-container .main-panel-abstract p { *margin:7px 0px }

@-moz-document url-prefix() {
html>body #homepage-container .main-panel-abstract p { margin:9px 0px }
}

#homepage-container p.smaller-subhead {
font-size: 90%;
padding-top: 2px;
margin-top: 2px;
font-weight:bold;
}
#homepage-container .main_panels p.smaller-subhead {
color:#404041;
}

#homepage-container .main-panel-abstract a {
color:  #404041;
text-decoration:underline;
}

#homepage-container .main-panel-abstract a:hover {
text-decoration:underline;
}
#homepage-container .multimedia_panel {
background-color: #6D6E71; 
color:white;
padding: 2px 6px 6px 6px;
min-height: 232px;
}

#homepage-container .image-wrapper {
position:relative;
height: 108px;
}

#homepage-container .block-image {
position:absolute;
bottom:0px;
left:0px;
}

#homepage-container .overlay-image {
position:absolute;
z-index:3;
bottom:0px;
left:0px;
}

#homepage-container .rebrand_multimedia_panel {
position:relative;
margin-top: 16px;
overflow:hidden;
}

#homepage-container .rebrand_multimedia_panel p {
color:#404041;
}

#homepage-container h4, #homepage-container h4 a {
border:none;
}

#homepage-container .multimedia-text{
background-color: #F0F0F0;
bottom: 0px;
font-family: arial;
height: 7px;
opacity: 0.9;
padding: 5px 0px 12px 28px;
position: absolute;
right:0px;
width: 153px;
}

#homepage-container .multimedia-text a{
color:#404041;
}

#homepage-container .main-panel-abstract {
min-height: 54px;
overflow: hidden;
}

#homepage-container #footer-image {
margin-bottom:20px;
}

/* ## Commonly used legacy styles ## */
.BackgroundBox, .backgroundbox {background-color: #f5f4f0;padding:10px; }
.BackgroundBox.orange, .backgroundbox.orange {background-color: #fbf0e5;padding:10px; }

.hub-page-list h4 {
	margin-top:10px!important;
	padding-bottom: 6px;
	text-decoration: none;
	border-bottom:4px solid;
	color: #968c6d;
	background-color: #fff;
	font-size: 1.2em;
	font-family: Georgia, "Times New Roman";
}
.hub-page-list { background-color: #f5f4f0; margin-bottom:20px !important; padding-bottom: 5px;}
.hub-page-list p { margin:5px 0 0 0 !important; font-size: 1em; }
.hub-page-list ul a {
	font-weight: normal !improtant;
	font-family: Georgia, "Times New Roman";
	font-size: 1.1em;
	color: #404041 !important;
}

.hub-page-list.orange h4 { color: #dc6900; }
.hub-page-list.orange { background-color: #fbf4e5; }
.hub-page-list ul li { padding-bottom: 5px !important; }
.hub-page-list ul li { list-style-image: url(/en_GX/webadmin/assets/image/grey_square.gif) !important; list-style: url(/en_GX/webadmin/assets/image/grey_square.gif) !important; }
.hub-page-list.orange ul li { list-style-image: url(/en_GX/webadmin/assets/image/orange_square.gif) !important; list-style: url(/en_GX/webadmin/assets/image/orange_square.gif) !important; }


#btnsubmit, .buttonsubmit {
background: #eb8c00;
border: 0;
padding: 3px 6px;
color: #fff;
font-family: Georgia, "Times New Roman";
font-style: italic;
font-size: 1.1em;
font-weight: bold;
}

.searchresultpagination p a, .searchresultpagination p b { display: inline-block; margin: 0 5px; }

/* UK Search field */
#q {
	width: 160px;
	height: 21px;
	font-size: 0.95em;
	padding: 1px;
	color: #6d6e71;
	border: 1px solid #939598;
	border-right: 0;
}

.media-pane h3 a { font-size: 1em; font-weight: bold; }
*:first-child+html .media-pane h3 a { font-size: 1.1em; font-weight: bold; }
*:first-child+html h3 { font-weight: bold; }
* html h3 { font-weight: bold; }

.pubdownloadtitle { margin-bottom: 5px; }

.vision1 {
	height: 120px;
	width: 419px;
	margin-left:20px;
	background-color:#e0301e;
	padding:20px;
	margin-bottom:30px;
}
.vision1 p {
	color: #FFFFFF !important;
	float: left;
	margin: 0 !important;
	font-size:1.3em;
	font-family:georgia;
}
.vision1 p a {
	text-decoration:underline !important;
	color: #FFF !important;
}
.vision1-subblock {position: absolute; right: 220px; left: 220px; margin-top: 50px; margin-bottom: 20px; background: #a32020; color: #fff; width: 320px; padding: 15px; height: 80px; font-size: 1.3em; font-family: georgia;}
.tail {
	background-color: #a32020;
	float: left;
	height: 5px;
	margin-top: 160px;
	width: 21px;
}

.vision1-content {
	position: absolute;
	right: 220px;
	left: 220px;
	margin-top: 50px;
	margin-bottom: 20px;
	background: #a32020;
	color: #fff;
	width: 320px;
	padding: 15px;
	height: 80px;
	font-size: 1.3em;
	font-family: georgia;
}
.iconbar {
	padding-top: 5px; 
	padding-left: 29px; 
	height: 20px; 
	margin-bottom: 5px;
}
.iconbar h2 {
	 font-size: 90% !important; margin-top: 0 !important;
}
.iconbar h2 a {
	 text-decoration: none !important;
}
.iconbar.pub {
	background: url(/en_uk/uk/assets/images/icon-media-article-bk-orange.gif) top left no-repeat;
	background-color: #f6dabf !important;
}
.iconbar.vid {
	background: url(/en_uk/uk/assets/images/play.gif) top left no-repeat;
	background-color: #fceae9 !important;
}

/* Mobile-friendly */
#pwcmobile #uklanding1 { width: auto; }
#pwcmobile #uklandingfeature, #pwcmobile .uklandingfeature {
	width: auto !important;
	height: auto;
	float: none;
	padding: 10px;
}
#pwcmobile #uklogofeature, #pwcmobile .uklogofeature {
	position: relative;
	top: 0;
	left: 0;
	width: 100% !important;
}
#pwcmobile #uklogofeaturemsg, #pwcmobile .uklogofeaturemsg, #pwcmobile #ukhubfeaturemsg { margin-left: 0; }
#pwcmobile #uklogofeaturetrim, #pwcmobile .uklogofeaturetrim { display: none; }

#pwcmobile #uklandingitems, #pwcmobile #promopanels {
	float: none;
	width: 100% !important;
	clear: left;
	padding-top: 10px;
}

#pwcmobile #promocarousel2 { width: auto !important; }
#pwcmobile #promocarousel2 .uklanding2-2 { width: auto !important; height: auto; padding: 10px;}
#pwcmobile .uklanding2-2 #uklogofeature { width: 100%; margin: 0 !important;}	
#pwcmobile .uklanding2-2 #uklogofeature #uklogofeaturemsg .uklogofeaturecol { width: 100%; }
#pwcmobile #promocarousel2 #uklogofeature { top: 0 !important; }

/* #pwcmobile h1 { display: none; } */
#pwcmobile #uklanding2 img { display: none; }
#pwcmobile #uklanding2 .uklogofeaturecol { display: block; float: none; width: auto; }

#pwcmobile #ukhub2 .contentcolumn, #ukhub2 .contentcolumn a { width: auto; background-repeat: no-repeat; }
#pwcmobile #ukhubfeature2 h2 { display: block; float: none; }


#pwcmobile div.ukpubdownload span, #pwcmobile div.ukpubdownload .ukepub span, #pwcmobile div.ukpubdownload .ukgovpub span { width: auto; }

#pwcmobile div#ukcontactsummary { width: auto; }

#pwcmobile .vision1 { width: auto; }
#pwcmobile .vision1-content {
	right: 10px;
  left: auto;
	width: 75%;
	height: auto;
	margin-top: 50px;
}
#pwcmobile .vision1-subblock {right: 0px; left:10px; margin-top: 40px; width: 80%; padding: 15px; height: auto;}
#pwcdesktop .mobilecustomtopnav { display: none; }
#pwcmobile .mobilecustomtopnav { width:100%;display:block;float:none;}
#pwcmobile .mobilecustomtopnav a {text-decoration:none !important;}
#pwcmobile .iconbar {
	height:auto;
}
.blockquote {background-color: #F5F4F0; margin: 15px 0; padding: 10px;}
.blockquote  p.first{border-top: 2px dotted #DC6900; color: #DC6900; font-family: georgia; font-size: 1.2em; font-style: italic;margin-top: 8px; padding-top: 5px;}
/* Hide layouts bits for launch rollback 
#mobileheaderright, #mobileheadernav, #mobilefooter, .esimobile { display: none !important; }
*/