
#nu_leftcol {
    float: left;
    width: 600px;
}

#ukpagetoolbox, #uksociallinks, .rhbox, #footer, #formobile, #navblock , #mobilenav, #mobilefooter, #searchfield, #searchsubmit, #headerlang, #left, #right.column, #footer-wrapper, #intllayer, #popupclose { display: none;}

#right { position: relative; top:-10px;}

#container {
    padding-left: 0px;}

#headercountry {float:right;}