

.tiles{
	padding-right: 0px !important;
}

.tiles h3{
	color: #FFFFFF;
}

#center a:hover{
	text-decoration: underline !important;
}

.case-study {
    float: left;
    margin: 0 4px 4px 0;
    /*padding: 10px;*/
   /* width: 233px;
    height: 101px;*/
    
    width: 253px;
    height: 121px;
    
    /* Just to test 
    background-color: pink;  */
}

.case-study {
    font-size: 0.8em;
}

.case-study .container1{
	float: left;
	width: 100%;
	height: 100%;
}


.case-video-wrapper{
   	height: 100%;
	width: 100%;
	float: left;
    z-index: 0;
    position: absolute;
}
   
.case-video-title-wrapper{      
   	height: 100%;
	width: 100%;
    z-index: 3;
}
   
.end {
    margin-right: 0;
}

.case-study.white {
    background-color: #fff;
    border: 1px solid #c7c8ca;
   /* height: 99px;
    width: 231px;*/
    
    height: 119px;
    width:251px;
}

.case-study .case-wrapper{
	padding: 10px;
	width: 231px;
	height: 99px;
}

.case-study .play-button{
	background: url("../images/general/play_button.png");
	background-repeat: no-repeat;
	background-position: right bottom;
    cursor: pointer;
    float: left;
    height: 24px;
	right: 0px;
    top: 0px;
    position: absolute;
    width: 24px;
    z-index: 1000;
}    

.case-study .img-container{
	z-index: 0;
}

.case-study .text-container{
	float: left;
    height: 22px;
   margin-top: 84px; 
   /*position: relative;
   margin-top: 68px;*/
    opacity: 0.9;
    padding: 5px 10px 10px;
    width: 233px;
    z-index: 1;
    
    /****/
    position: absolute;
}

.case-study.one-firm{
	background-image: url("../images/case-studies/one-firm-tile.jpg");
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 100% auto; 
    float: left;
   /* height: 100%;*/
    overflow: hidden;
   /* width: 100%;*/
   
   width: 253px;
   height: 121px;
   padding: 0px;
}

.case-study.one-firm .text-container{
	background-color:#db536a;
}

.case-study.theatreworks{
    float: left;
	
	
   width: 253px;
   height: 121px;
   padding: 0px;
}

.case-study.theatreworks{
	background-color: #e0301e;
    background-image: url("../images/case-studies/theatreworks-tile.jpg");
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    clear: left;
    float: left;
   /* height: 100%;*/
    overflow: hidden;
   /* width: 100%;*/
    
     width: 253px;
   	height: 121px;
   	padding: 0px;
}    

.case-study.theatreworks .text-container{
	background-color:#e0301e;	
}

.case-study.harris-academy{
	background-image: url("../images/case-studies/harris-tile.jpg");
    background-position: 100% center;
    background-repeat: no-repeat;
    background-size: 100% auto; 
    float: left;
   /* height: 100%;*/
    overflow: hidden;
   /* width: 100%;*/
	
	
   width: 253px;
   height: 121px;
   padding: 0px;
}

.case-study.harris-academy .text-container{
	background-color:#602320;		
}




.case-study.rose{
	background-color: #db536a;
}

.case-study.red{
 	background-color: #e0301e;
}

.case-study.burgundy{
	background-color: #a32020;
}

.case-study.maroon{
	background-color: #602320;
}

.case-study.grey{
	background-color: #c7c8ca;
}

.case-study.orange{
	background-color: #dc6900;
}

.case-study.tangerine{
 	background-color: #eb8c00;
}

.case-study.white span, .case-study.grey span, .case-study.maroon span,
.case-study.rose span, .case-study.red span, .case-study.burgundy span,
.case-study.orange span, .case-study.tangerine span{
	display: block;
    font-size: 1.2em;
}  

.case-study.rose h3, .case-study.red h3, .case-study.burgundy h3, .case-study.maroon h3,
.case-study.orange h3, .case-study.tangerine h3,.case-study.white h3, .case-study.grey h3{
	font-size: 1.5em;
}

.case-study a{
	text-decoration: none !important;
}

.case-study.rose span, .case-study.red span, .case-study.burgundy span,
.case-study.orange span, .case-study.tangerine span, .case-study.maroon span,
.case-study.rose h3, .case-study.red h3, .case-study.burgundy h3,
.case-study.orange h3, .case-study.tangerine h3, .case-study.maroon h3,
.case-study.rose a, .case-study.red a, .case-study.burgundy a, .case-study.maroon a,
.case-study.orange a, .case-study.tangerine a,
.case-study.one-firm a, .case-study.one-firm h3,
.case-study.harris-academy h3, .case-study.harris-academy a,
.case-study.theatreworks h3, .case-study.theatreworks a
{
	color: #FFFFFF !important;
}

.case-study.white span, .case-study.grey span,
.case-study.white h3, .case-study.grey h3,
.case-study.white a, .case-study.grey a{
	color: #6d6e71 !important;
}

.case-study.white a:hover{
	color: #6d6e71 !important;
	text-decoration: underline;
}


/* Our-business */
.our-business h3{
	font-size: 1.3em;
}
.our-business.our-people a:hover, .review-right a:hover,
.our-business.our-clients a:hover, .our-business.review-bottom a:hover{
	text-decoration: underline;
}
.review-right {
    float: left;
    height: 242px;
    width: 254px;
    margin-left: 4px;
}

.mini-block {
    height: 99px;
    margin-bottom: 4px;
    padding: 10px;
}

.mini-block.light-grey{
	background-color: #e7e7e8;
	color: #6d6e71;
}

.mini-block.light-grey h3, .mini-block.light-grey h3 a,
.mini-block.light-grey span{
	color: #6d6e71 !important;
	text-decoration: inherit !important;
}	

.mini-block.grey{
	background-color: #c7c8ca;
	color: #6d6e71;
}

.mini-block.rose{
	background-color: #db536a;
	color: #FFFFFF;
}

.mini-block.red{
 	background-color: #e0301e;
	color: #FFFFFF;
}

.mini-block.burgundy{
	background-color: #a32020;
	color: #FFFFFF;
}

.mini-block.maroon{
	background-color: #602320;
	color: #FFFFFF;
}

.mini-block.orange{
	background-color: #dc6900;
	color: #FFFFFF;
}

.mini-block.tangerine{
 	background-color: #eb8c00;
	color: #FFFFFF;
}

.mini-block.grey h3 a, .mini-block.light-grey h3 a, 
.mini-block.grey span a, .mini-block.light-grey span a{
	color: #6d6e71 !important;
	text-decoration: none !important;
}

.mini-block.grey h3 a:hover, .mini-block.light-grey h3 a:hover, 
.mini-block.grey span a:hover, .mini-block.light-grey span a:hover{
	color: #6d6e71;
}

.mini-block.rose h3 a, .mini-block.red h3 a, .mini-block.burgundy h3 a,
.mini-block.maroon h3 a, .mini-block.orange h3 a, .mini-block.tangerine h3 a,
.mini-block.rose span a, .mini-block.red span a, .mini-block.burgundy span a,
.mini-block.maroon span a, .mini-block.orange span a, .mini-block.tangerine span a{
	color: #FFFFFF !important;
	text-decoration: inherit !important;
}

.our-business.our-clients a{
	color: #FFFFFF !important;
	text-decoration: none !important;
}
.our-business.our-clients { width: 510px; height: 242px; color: #fff !important; float: left; margin-top: 0px; /*background-color: #693029; */
}
.our-business.our-clients .col2 { }

.our-business.our-clients .half_container{
    min-height: 0px;
}

.our-business.our-clients h3{
	margin-top: 0px;
}
	
.our-business.our-clients .container2 {
    clear:left;
    float:left;
    width:100%;
    overflow:hidden;
    background-image: url("../images/our-business/bagley-widest.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    
}

.our-business.our-clients .container1 {
	width: 100%;
	height: 100%;
	float: left;
}
	
.our-business.our-clients .half_container.col1 {    
    background-color: #dc6900;
    height: 126px;
    margin: 96px 0px 0px 0px;
    padding: 10px;
    width: 220px;

    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
    
    background-image: url("../example-images/play_button.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.our-business.our-clients .half_container.col1 .text-container, 
.our-business.our-clients .half_container.col1 .text-container2{
    width: 200px;
    float: left;
    margin: 0px;
    padding: 0px;

}


.our-business.our-people{ float:left; width: 253px; height: 242px;color: #ffffff; 
    margin-top: 4px;}
.our-business.our-people .half_container{
    height: 50%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
}

.our-business.our-people .half_container:nth-child(1){  
    min-height: 142px /* 170px*/;
}

.our-business.our-people .half_container:nth-child(2){  
    min-height: /*200px*/ 100px;
}

.our-business.our-people .half_container.col1{    
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
    background-color: #602320;
}

.our-business.our-people .container2{
    background-color:  #602320;
    background-image: url("../images/our-business/apprentices-square.jpg");
    background-position: 100% top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    clear:left;
    float:left;
    width:100%;
    overflow:hidden;

}

.our-business.our-people .text-container, .our-business.our-people .text-container2 {
    color: #fff;
    padding: 10px;
    width: 222px;
}

.our-business.our-people .text-container2 a{
	color: #fff !important;
	text-decoration: none !important;
}
.our-business.review-bottom {
    background-color: #a32020;
    background-position: center top;
    background-repeat: no-repeat;
    color: #fff !important;
    float: left;
    height: 222px;
    padding: 10px;
    width: 233px;
    margin-left: 4px;
    
    margin-top: 4px;
}

.our-business.review-bottom h3, .our-business.review-bottom a{
    color: #fff !important;
	text-decoration: inherit !important;
}





@media only screen and (max-width: 750px){

	#center{
		margin-bottom:10px;
	}
	
	/***********/
	
  .case-study.one-firm{
   		background-color: #db536a;
   		height: 177px;
   		background-image: none;
   }
   
  .case-study.theatreworks{
   		background-color: #e0301e;
   		height: 177px;
   		background-image: none;
   }
      
    .case-study.harris-academy{
   		background-color: #602320;
   		height: 177px;
   		background-image: none;
   }
   .case-video-wrapper, .case-video-title-wrapper{
   		height: 100%;
    	width: 50%;
    	float: left;
    	
    	position: relative;
    }
    
    .case-study.one-firm .text-container,
    .case-study.harris-academy .text-container,
    .case-study.theatreworks .text-container{
    	float: left;
    	width: 100%;
    	margin: 0px;
    	padding: 0px;
    }
    
    .case-study .text-container h3{
    	padding-left: 10px;
    }
    	
   .case-study.one-firm .case-video-wrapper{
       background-image: url("../images/case-studies/one-firm-wide.jpg");
       background-repeat: no-repeat;
   }
   
   .case-study.harris-academy .case-video-wrapper{
       background-image: url("../images/case-studies/harris-wide.jpg");
       background-repeat: no-repeat;
   }
   
   .case-study.theatreworks .case-video-wrapper{
       background-image: url("../images/case-studies/theatre-wide.jpg");
       background-repeat: no-repeat;
   }
   
  	/********/
  	 
	.our-business.our-clients, .our-business.our-people{
		height: 176px;
		margin-bottom: 4px;
	}
	
	.our-business.our-clients .container2{background-image: url("../images/our-business/bagley-wide.jpg");
 	 	background-size: 50% auto;
 	 	background-position: right top; 	 	
    }
    
    .our-business.our-clients .container1{
    	float: left;
    	width: 100%;
    	height: 100%;
    }
    
    .our-business.our-clients .half_container.col1 {
    	height: 100%;
   		margin: 0;
    	padding: 0;
    	width: 50%;
	}
	
	.our-business.our-clients .half_container.col1 .text-container2{
		width: auto;
		padding: 10px;
		height: 100%;
	} 
	
    
     .our-business.our-people .container2{background-image: url("../images/home/people-wide.jpg"); 
     	background-size: 50% auto;
     	background-position: left top;
     }
	
	  .our-business.our-people .half_container{
     	width: 50%;
     }
     	
      .our-business.our-people .container1{ float: left; width: 100%; height: 100%; }
     
     .our-business.our-people .text-container2{
     	width: auto;
     	padding: 10px;
     }
     
	.our-business, .our-business.our-people,
	.our-business.our-clients, .our-business.review-bottom{
		width: 100%;
		float: left;
	}
	
	.our-business.our-people, .our-business.review-bottom,
	.our-business.our-clients, .review-right{
		margin-left: 0px;
	}

	.our-business.review-bottom{
		 padding: 10px 0 0;margin-top: 0px;
	}
	
	.our-business.review-bottom span,
	.our-business.review-bottom h3{
		padding-right: 10px;
		padding-left: 10px;
	}
	
	/* .our-business.our-people, .our-business.our-people .half_container{
        height: 232px;
      }*/
	
	.case-study, .case-study.white{
		width: 100%;
		height: auto;
	}
	
	.case-study.one-firm, .case-study.theatreworks/*, .case-study.harris-academy */{
		background-size: 75% auto;
		width: 100%;
	}
	
	.case-study.one-firm .img-container{
		float: left;
		width: 75%;
		height: 100%;
		
	}	
	

	
	/**/
	.case-study.theatreworks, .case-study.one-firm, .case-study.harris-academy{
		width: 100%;
	}
	.theatreworks .img-container,
    .theatreworks .text-container{
    	/*min-height: 222px;*/
    	width: 100%;
    }
	
	.harris-academy{
    height: auto;
    margin-top: 2px;
    min-height: 200px;
    width: 100%;
     color: #ffffff;
    float: left;
	}
	
	.harris-academy .container2{
		background-color: #a03431;
		 background-position: 100% top;
    background-image: none;
    background-size: 100% auto;
    clear: left;
    float: left;
    height: 100%;
    overflow: hidden;
    width: 100%;
	}
	
	.harris-academy .half_container.col2{
    background-image: url("../images/home/tour-sml-widest.jpg");
    background-size: cover;
    margin: 5%;
    width: 90%;
	}
	.harris-academy .half_container:nth-child(1), .harris-academy .half_container:nth-child(2) {
    min-height: 175px;
	}
	
	
	.harris-academy .container2{background-image: url("../images/home/tour-wide.jpg");} 
    .harris-academy .half_container:nth-child(1),
    .harris-academy .half_container:nth-child(2){
        min-height: 222px;
    }
}	

 @media only screen and (max-width: 620px){
 	
 	 
 	.case-study.one-firm .case-video-wrapper{
       background-image: url("../images/case-studies/one-firm-square.jpg");
       background-repeat: no-repeat;
    }
   
   .case-study.harris-academy .case-video-wrapper{
       background-image: url("../images/case-studies/harris-square.jpg");
       background-repeat: no-repeat;
   }
   
   .case-study.theatreworks .case-video-wrapper{
       background-image: url("../images/case-studies/theatre-square.jpg");
       background-repeat: no-repeat;
   }	
 	 
 	 .our-business.our-clients {
 	 	height: 242px;
 	 	margin-bottom: 4px;
 	 }
 	 	
 	 .our-business.our-clients .container2{background-image: url("../images/our-business/bagley-square.jpg");
 	 	background-size: 50% auto;
 	 	background-position: right top; 	 	
    }
    
    
 	 /****/
 	 .our-business.our-people{
 	 	margin-bottom: 4px;
 	 }
 	 
 	 .our-business.our-people, .our-business.our-people .half_container{
        height: 170px;
      }
      
     .our-business.our-people .half_container{
     	width: 50%;
     }
     	
     .our-business.our-people .container2{background-image: url("../images/home/people-square.jpg"); 
     	background-size: 50% auto;
     	background-position: left top;
     	}
     .our-business.our-people .container1{ float: left; width: 100%; height: 100%; }
     
     .our-business.our-people .text-container2{
     	width: auto;
     	padding: 10px;
     }
     
     .our-business.review-bottom{
     	margin: 0px;
     	padding: 0px;
     	/*margin-bottom: 4px;*/
     	padding-top: 10px;
     }
 }	
 
  @media only screen and (max-width: 480px){
     .harris-academy .container2{background-image: url("../images/home/tour-narrow.jpg");} 
     .harris-academy .half_container:nth-child(1), .people-home .half_container:nth-child(2) {
	  	min-height: 175px;
	 } 
	
	.our-business.our-clients{
		margin-bottom: 4px;
	}
				
	.our-business.our-clients .container2{background-image: url("../images/our-business/bagley-narrow.jpg");
    	background-size: 50% auto;
    	height: 242px;
    }
    
    .our-business.our-clients .container1{
    	float: left;
    	width: 100%;
    	height: 100%;
    }
    
    .our-business.our-clients .half_container.col1 {
    	height: 100%;
   		margin: 0;
    	padding: 0;
    	width: 50%;
	}
	
	.our-business.our-clients .half_container.col1 .text-container2{
		width: auto;
		padding: 10px;
		height: 100%;
	} 
	
	/***/ 

}	

 @media only screen and (max-width: 350px){
   .harris-academy .container2{
                background-image: url("../A_Baker_v_narrow.jpg");
                background-size: 100% auto;
            }            
   .harris-academy .half_container { width: 100%; height: 50%;}
   
   .case-video-wrapper{
     
    	background-size: cover;
    	height: auto;
   		margin: 5% 5% 5%;
       min-height: 120px;
      position: relative;
      width: 90%;
      z-index: 0;
   }
   
   .case-video-title-wrapper{      
   	  float: left;
      height: 45px;
      margin-top: 0;
      padding: 0;
      width: 100%;
   }
   
   .case-study .img-container{
   	float: left;
   	padding: 10px;
   }
   
   .case-study .text-container,
   .theatreworks .text-container,
   .harris-academy .text-container,
   .one-firm .text-container{
   		float: left;
   		padding: 10px;
   		height: 45px !important;
   		min-height: 0px;
   }
   
   .case-study.one-firm{
   		background-color: #db536a;
   		height: 195px;
   		background-image: none;
   }
   
   .case-study.theatreworks{
   		background-color: #e0301e;
   		height: 195px;
   		background-image: none;
   }
      
    .case-study.harris-academy{
   		background-color: #602320;
   		height: 195px;
   		background-image: none;
   }
   
   .case-study.one-firm .case-video-wrapper{
       background-image: url("../images/case-studies/one-firm-tile.jpg");
   }
   
   .case-study.theatreworks .case-video-wrapper{
       background-image: url("../images/case-studies/theatreworks-tile.jpg");
   }
   
   .case-study.harris-academy .case-video-wrapper{
       background-image: url("../images/case-studies/harris-tile.jpg");
   }
   
   .case-study.one-firm .text-container,
    .case-study.theatreworks .text-container,
     .case-study.harris-academy .text-container{
   		padding: 0;
   		width: 100%;
   }
   
   .case-study.one-firm .text-container h3,
    .case-study.theatreworks .text-container h3,
     .case-study.harris-academy .text-container h3{
   	padding-left: 5%;
   }
   
   /**/
   .our-business.our-people{
   		background-color: #602320;
   		margin-bottom: 5px;
   		
   		height: auto;
   }
   
   .our-business.our-people .container2{
   		background-image: none;
   		background-color: #602320;
   }
   
   .our-business.our-people .half_container.col1{   
   		margin-top: 0px;
   		float: left;
   		width: 100%;
   		padding:0px;
   		height: auto;
   	}
   	
   	.our-business.our-people .half_container.col1 .text-container2{
   		width: auto;
   		padding: 0px;
   	}
   	
   	.our-business.our-people .half_container.col2{
   	
   		background-image: url("../images/our-business/people-widest.jpg");
    	/*background-position: 100% center;
   		background-repeat: no-repeat;
    	background-size: 100% auto;
    	clear: left;
    	float: left;
    	height: 142px;
    	overflow: hidden;
   		width: 100%;*/
   		
   		 
   		background-size: cover;
    	margin: 5% 5% 5%;
    	position: relative;
    	width: 90%;
    	z-index: 0;
    	height: auto;
    	min-height: 100px;
   	}	
   /***/
   .our-business.our-clients{
   		background-color: #DC6F0B;
   		margin-bottom: 5px;
   }
   
   .our-business.our-clients .container2{
   		background-image: none;
   }
   
   .our-business.our-clients .half_container.col1{   
   		margin-top: 0px;
   		float: left;
   		width: 100%;
   		padding:0px;
   		height: 50%;
    	background-position: top right;
   	}
   	
   	.our-business.our-clients .half_container.col1 .text-container2{
   		width: auto;
   		padding: 10px;
   	}
   	
   	.our-business.our-clients .half_container.col2{
   	
   		background-image: url("../images/our-business/bagley-widest-2.jpg");
    	/*background-position: 100% center;
   		background-repeat: no-repeat;
    	background-size: 100% auto;
    	clear: left;
    	float: left;
    	height: 142px;
    	overflow: hidden;
   		width: 100%;*/
   		
   		 
   		background-size: cover;
    	margin: 0 5% 5%;
    	position: relative;
    	width: 90%;
    	z-index: 0;
    	height: auto;
    	min-height: 100px;
   	}	
            
}	

  @media only screen and (max-width: 360px){
  	.harris-academy.half_container{ width: 100%; height: auto;}
    .harris-academy .container2{background-image: none;}
    .harris-academy .half_container.col2 {background-image: url("../images/home/tour-sml-widest.jpg");  
            background-size: cover;
            width: 90%;
            margin: 5%;
            
            }
  }	