/* --- 
*
*

Styles embedded in AR 13 pages ______________________________________________



1. General
    1.i. General - left nav

2. Header

3. Content
	
	3. 1 Body menus

4. Footer

5. Fonts

6. Colours

7. Specific Desktop Styles

8. Specific Mobile Styles

9. Media queries 


*
*
---- */

/* 
	1. General
 __________________________________________________________________________________________________________________________________________ */



#wrapper{
    width: 980px;
}
.clearer {height:0px !important; line-height:0px !important;}

.separator22{
    float: left; width: 100%; height: 22px;
}

.separator_20{
    float: left; width: 100%; height: 20px;
}

.separator_30{
    float: left; width: 100%; height: 20px;
}

.separator_40{
    float: left; width: 100%; height: 40px;
}

.separator_50{
    float: left; width: 100%; height: 50px;
}

.separator_60{
    float: left; width: 100%; height: 60px;
}

.separator8{
    float: left; width: 100%; height: 8px;
}

.separator15{
    float: left; width: 100%; height: 15px;
}

.fordesktop{
	display:inline;
}
	
.formobile{
	display: none;
}

.hero-image{
	display: inline;
}

.who-we-are-home h3:hover, .who-we-are-home p:hover{
	text-decoration: underline;
}
/*
a, p, span{
    color: #6d6e71;
}*/

    /* 1.i. General - Left Nav */
    .leftnav ul li:first-child div {border-top: 0 none !important;}

/* 
	2. Header
 __________________________________________________________________________________________________________________________________________ */

#headerlogo{
    padding-left: 0px;
    background-image: none !important;
}

#headerlogo img {
    display: inline-block !important;
}

#headercountry span {
    margin: 0 !important;
}    

#searchfield{
    display: inline;
    margin-top: 0px;
    right: 24px;
}

#headercountry{
    float: left;
    margin-left: 130px;
}

#headercountry span{
    width: auto;
}

#headerlang{
    margin-top: 12px;
}  

#searchsubmit {
    margin-bottom: -8px;
} 


/* 
	3. Content
 __________________________________________________________________________________________________________________________________________ */


/* 
	3.1. Body Menus
 __________________________________________________________________________________________________________________________________________ */
 
 #center ul li, #home ul li {
    list-style-image: url("http://www.pwc.co.uk/en_GX/webadmin/assets/image/orange_square.gif");
  }
 #center ul li {
    margin: 0;
    margin-bottom:10px;
    padding: 0 3px;
}  



   
.signature_container{
	float: left; height: auto; width: 100%; margin-top: 20px; margin-bottom: 20px;
}
.sig_role { display: block;}  
 
.hero-title{
	height: auto;
	width: 100%;
	padding-top: 10px; 
	padding-bottom: 30px;
	margin-bottom: 1px;
}

.hero-title span, .hero-title h1, .hero-title p{
	color: #fff !important;
    font-family: georgia;
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2em;
    
    padding-left: 10px;
    display: block;
    border-top: none;
}

.hero-image{
	float: left;
	width: 100%;
	height: auto;	
}

.hero-image img{
	z-index: 1;
}
.play-button{
	background: url("../images/general/play_button.png") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 200px;
    position: absolute;
    width: 556px;
    z-index: 1000;
}

blockquote{
	float: left;
}

#transcript_content{
	float: right;
	width: 90%;
	height: auto;
	border-left: 3px solid #e0301e;    
	
	padding-left: 10px;
    width: 454px;
}

#nu_leftcol h4{
    font-family: georgia;
    font-style: italic;
 }   

.text-container, .text-container2{
    position: absolute;
    z-index:2;
    margin: 0px;
    padding: 0px;
}

.img-container, .img-container2{
    float: left;
    width: 100%;
    height: 100%;
    z-index: 0px;
}  

.home .ar-heading { font-weight: bold;}
.ar-heading {
    background: none repeat scroll 0 0 #dc6900;
    color: #fff;
    float: left;
    font-family: georgia;
    font-size: 2.9em;
    font-style: italic;
    height: 222px;
    line-height: 1.2em;
    margin-right: 3px;
    padding: 10px;
    width: 222px;
 } 
 
.ar-home-powell { width: 734px; height: 242px; color: #fff; float: left; margin-top: 0px; /*background-color: #693029; */
}
.ar-home-powell .col2 { }

.ar-home-powell .half_container{
    min-height: 0px;
}
.ar-home-right {float:left; width:242px; margin-top:3px;}

.ar-home-powell .container2 {
    clear:left;
    float:left;
    width:100%;
    overflow:hidden;
    background-image: url("../images/home/powell-widest.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    /*background-size: 50% auto;*/
    background-size: 100% auto;
    height: 100%;
    
}
.ar-home-powell .half_container.col1 {    
    background-color: #693029;
    height: 161px;
    margin: 61px 0px 0px 0px;
    padding: 10px;
    width: 220px;

    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
    
    background-image: url("../example-images/play_button.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.ar-home-powell .half_container.col1 .text-container, 
.ar-home-powell .half_container.col1 .text-container2{
    width: 200px;
    float: left;
    margin: 0px;
    padding: 0px;

}


#ar-left-container {width:733px; margin-right:3px; margin-top:3px; float:left;}


.who-we-are-home {width: 487px; height: 242px; color: #fff; float: left; margin-right: 3px; background: #fff; }
.who-we-are-home .container2 {
    clear:left;
    float:left;
    width:100%;
    overflow:hidden;
    background-image: url("../images/home/triangle-242-242.gif");
    background-position: 240px center;
    background-repeat: no-repeat;
    /*background-size: 50% auto;*/
    background-size: 50% auto;
    height: 100%;
    background-color: #E7E7E8;
    
}

.who-we-are-home .half_container{
    width: 50%;
    height: 100%;
    float: left;
}

.who-we-are-home.col1 {    
    background-color: #E7E7E8;
    height: 169px;
    margin: 50px 0 5px 10px;
    padding: 10px;
    width: 220px;
}

.who-we-are-home .img-container2{
    background: none;
} 

.who-we-are-home .half_container.col1 .text-container, 
.who-we-are-home .half_container.col1 .text-container2{
    width: 212px;
    float: left;
    background-color: #fafafa;
    margin: 10px;
    padding: 10px;
}

.who-we-are-home, .who-we-are-home a{
    color: #6d6e71 !important;
    text-decoration: none !important;
}




.who-we-are-home-text {background: #fff; width: 202px; margin: 10px; height: 202px; padding: 10px; color: #6d6e7a;}

.people-home{ float:left; width: 242px; height: 242px;color: #ffffff;}
.people-home .half_container{
    height: 50%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
}

.people-home .half_container:nth-child(1){  
    min-height: 142px /* 170px*/;
}

.people-home .half_container:nth-child(2){  
    min-height: /*200px*/ 100px;
}

.people-home .half_container.col1{    
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}

.people-home .container2{
    background-color:  #A03431;
    background-image: url("../images/home/tour-square.jpg");
    background-position: 100% top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    clear:left;
    float:left;
    width:100%;
    overflow:hidden;

}

.people-home .text-container, .people-home .text-container2 {
    color: #fff;
    padding: 10px;
    width: 222px;
}

.people-one-home {float: left; width: 241px; height: 489px; margin-top: 3px; margin-right: 3px;}
.people-one-home .one-text {margin: 242px 0 0 0; width: 219px; border: solid 1px #e7e7e8; padding: 10px;}

.people-one-home .container2 {
    clear:left;
    float:left;
    width:100%;
    overflow:hidden;
    background-image: url("../images/home/people-square.jpg");
    background-position: 100% top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    
}

.people-one-home .container2, .people-one-home .container1{
    height: 100%;
    width: 100%;
}

.people-one-home .half_container{
    height: 50%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
}

.people-one-home .img-container2{ background: none;}

.people-one-home .text-container2{
    height: 22%;
}

.people-one-home .text-container, .people-one-home .text-container2, .community-home .text-container, .community-home .text-container2  {
    border-right: 1px solid #e7e7e8;
    border-bottom: 1px solid #e7e7e8;
    border-left: 1px solid #e7e7e8;
    height: 223px;
    
    float: left;
    margin: 242px 0 0;
    padding: 10px;
    width: 219px;
}

.community-home .half_container.col1 { background-color: #ffffff;}
  
.people-one-home .half_container.col1 {
    float: left;
    width: 100%;
    height: 50%;
 } 

 .people-one-home .half_container.col1 .text-container2{
    margin: 0px;

 }

.people-one-home .col2 { }

.performance-home {float: left; padding:10px; width: 468px; height: 222px; background: #c7c8ca; margin-top: 3px;}

.performance-home .text-container2{
    width: 450px;
}

.performance-home {
    background: none repeat scroll 0 0 #c7c8ca;
    float: left;
    height: 222px;
    margin-top: 3px;
    padding: 10px;
    width: 468px;
 }   

.performance-home .container2,  .performance-home .container1{
    width: auto;
    height: auto;
 }  

.performance-home .text-container2{
    position: relative;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
 }
 
.our-performance .top-block {background-image: url("http://www.pwc.co.uk/en_UK/uk/annualreport/assets/2013/kevin-ellis-performance.jpg"); width:536px; height: 220px; font-size: 1.4em; font-weight: bold;  /*margin-bottom: 1em;*/ padding: 10px; font-style:italic; color:#fff; font-family:georgia; line-height:1.2em;}
.our-performance .top-block span {width:200px; display:block;}
 
.community-home {
    height: 487px;
    margin-bottom: 3px;
/*    padding: 10px;*/
/* border: solid 1px #c7c8ca; */

}

.community-home, .community-home a{
    color: #6d6e71 !important;
    text-decoration: none !important;
} 

.community-home .text-container2{
    padding: 10px;
    
}

.community-home .container2{    
    background-image: url("../images/home/fire-square.jpg");
    background-position: 100% top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    clear:left;
    float:left;
    width:100%;
    overflow:hidden;
}

.community-home .subhead{
    position: relative;
    top: 0px;
}
/*
.community-home #desktop_move{
    top: 240px;
    position: relative;

}*/

.community-home .text-container, .community-home .text-container2{ 
    background-image: none;
} 

  
.global-home {
	height: 242px; 
	width: 242px; 
	color: #fff;
    background-color: #eb8c00;
}
   
.global-home .container2{
	float: left;
   background-image: url("../images/home/report-222-222.png");
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   background-size: 90% 90%;
   background-position: bottom right;
}   

.global-home .text-container2{
	padding: 10px;
}	

.home-link-blocks-mobile{
    display: none;
    color: #6d6e71 !important;
}

.home-link-blocks {
    float: left;
    padding: 10px;
    width: 222px;
    color: #6d6e71 !important;
}

.home-link-blocks p, .home-link-blocks a{
     color: #6d6e71 !important;
}


    /* content - .example_box */

    .example_box {padding: 10px 10px 5px 10px; max-width: 536px; margin-bottom: 15px;}
    .example_box h3 { font-size: 1.1em;}
    .example_box img {margin-bottom: 5px;}

        .tangerine .example_box { background-color: #fdf4e5;}
        .tangerine .example_box h3 { color: #eb8c00;}

        .orange .example_box { background-color: #fbf0e5;}
        .orange .example_box h3 { color: #dc6900;}

        .red .example_box { background-color: #fceae9;}
        .red .example_box h3 { color: #e0301e;}

        .rose .example_box { background-color: #fbeef0;}
        .rose .example_box h3 { color: #db536a;}

        .burgundy .example_box { background-color: #f6e9e9;}
        .burgundy.example_box h3 { color: #a32020;}

        .maroon.example_box { background-color: #efe9e9;}
        .maroon .example_box h3 { color: #602320;}


    /* content - who-we-are rollover page */
    .who-we-are #center .triangle_descriptions a.footnote-link:link {
    margin-left: 3px;
    position: relative;
    top: -5px;
    font-size: 0.7em;
    text-decoration: none;
    }
    
    .our-business .footnote-link{
    	color: #dc6900 !important;
    	text-decoration: none !important;    
    	margin-left: 3px;
    	position: relative;
    	top: -5px;
    	font-size: 0.7em;
    	text-decoration: none;
    }

    .who-we-are .triangle_container {background-image: url("../images/our-strategy/triangle/pyramid-colours.png") ; float:left;
    background-repeat: no-repeat; padding-top:10px; width:405px; margin-top: 10px;}
        .who-we-are .triangle_container.seg1-active, .who-we-are #center .triangle_container.seg1-active-temp {background-image: url("../images/our-strategy/triangle/pyramid-colours-1.png") ;}
        .who-we-are .triangle_container.seg2-active, .who-we-are #center .triangle_container.seg2-active-temp {background-image: url("../images/our-strategy/triangle/pyramid-colours-2.png") ;}
        .who-we-are .triangle_container.seg3-active, .who-we-are #center .triangle_container.seg3-active-temp {background-image: url("../images/our-strategy/triangle/pyramid-colours-3.png") ;}
        .who-we-are .triangle_container.seg4-active, .who-we-are #center .triangle_container.seg4-active-temp {background-image: url("../images/our-strategy/triangle/pyramid-colours-4.png") ;}
        .who-we-are .triangle_container.seg5-active, .who-we-are #center .triangle_container.seg5-active-temp {background-image: url("../images/our-strategy/triangle/pyramid-colours-5.png") ;}
        .who-we-are .triangle_container.seg6-active, .who-we-are #center .triangle_container.seg6-active-temp {background-image: url("../images/our-strategy/triangle/pyramid-colours-6.png") ;}
        .who-we-are .triangle_container.seg7-active, .who-we-are #center .triangle_container.seg7-active-temp {background-image: url("../images/our-strategy/triangle/pyramid-colours-7.png") ;}
    .who-we-are .triangle_container .segment {height: 43px;}
    .who-we-are .triangle_container .segment.seg1 {height: 80px;}

	.who-we-are .triangle_descriptions h4{ font-size: 1.3em;}
	.who-we-are .triangle_descriptions h5{ font-size: 1.1em;}
	
    .who-we-are .triangle_descriptions {margin-top:20px; float:left;}
    .who-we-are .triangle_descriptions .description.desc0 { font-size: 1.2em; border-top: 4px solid #c7c8ca; display: block; }
    .who-we-are .triangle_descriptions .description {padding-top:5px; display: none;}
    .who-we-are .triangle_descriptions .description.desc1 {border-top: 4px solid #b82233;}
    .who-we-are .triangle_descriptions .description.desc1 h3 {color:#b82233;}
    .who-we-are .triangle_descriptions .description.desc2 {border-top: 4px solid #ed1a34;}
    .who-we-are .triangle_descriptions .description.desc2 h3 {color:#ed1a34;}
    .who-we-are .triangle_descriptions .description.desc3 {border-top: 4px solid #ee3f62;}
    .who-we-are .triangle_descriptions .description.desc3 h3 {color:#ee3f62;}
    .who-we-are .triangle_descriptions .description.desc4 {border-top: 4px solid #f26d21;}
    .who-we-are .triangle_descriptions .description.desc4 h3 {color:#f26d21;}
    .who-we-are .triangle_descriptions .description.desc5 {border-top: 4px solid #f26d21;}
   /* .who-we-are .triangle_descriptions .description.desc5 h3,*/ .who-we-are #center .triangle_descriptions .description.desc5 h4 a, .who-we-are .triangle_descriptions .description.desc5 h4, .who-we-are .triangle_descriptions .description.desc5 h5,
     .who-we-are .triangle_descriptions .description.desc5 .no {color:#f26d21; font-family: garamond;}
    .who-we-are .triangle_descriptions .description.desc6 {border-top: 4px solid #f7901d;}
    .who-we-are .triangle_descriptions .description.desc6 h3, .who-we-are .triangle_descriptions .description.desc6 h4, .who-we-are #center .triangle_descriptions .description.desc6 h4 a{color:#f7901d;}
    .who-we-are .triangle_descriptions .description.desc7 {border-top: 4px solid #febe10;}
    .who-we-are .triangle_descriptions .description.desc7 h3 {color:#febe10;}

    /* desc 5 styles */

    .who-we-are .triangle_descriptions .description.desc5 .leftcol, .who-we-are .triangle_descriptions .description.desc5 .rightcol {float:left; width:270px;}
    .who-we-are .triangle_descriptions .description.desc5 .leftcol { margin-right: 10px;}
    .who-we-are .triangle_descriptions .description.desc5 .no { /*font-size: 3.5em; font-family: garamond; */ font-size: 3em; font-family: georgia; font-style: italic; font-weight: bold; line-height: 1em;}

    /* desc 6 styles */
    .who-we-are .triangle_descriptions .description.desc6  .chart {float:left; width:250px;}
    .who-we-are .triangle_descriptions .description.desc6  .chart p {display: block; clear:both; color:#f7901d; font-size: 0.9em;}
    .who-we-are .triangle_descriptions .description.desc6  .chart img {margin-bottom: 10px;}

    /* for mulitple descriptions */
    .who-we-are .triangle_descriptions .dotted-top { border-top: 2px dotted #f26d21;}
    .who-we-are .triangle_descriptions .section {margin-bottom: 20px; padding-top: 5px;}
    .who-we-are #footnotes, #footnotes {float:left; width: 100%; clear:both; margin-top:20px; padding-top: 10px; font-size: 0.8em; border-top: 1px dotted #404041;}
    .who-we-are .triangle_descriptions .description.descriptor {color:#f26d21; margin-bottom: 5px;}
    .who-we-are .triangle_descriptions .description .charts {float:left;}
    .who-we-are .triangle_descriptions .description .chart {float:left; /*width:120px;*/ width:250px;}
    .who-we-are .triangle_descriptions .description .chart.advo {/*margin-right:20px;*/margin-right:40px;}
    .who-we-are .triangle_descriptions .description .title { font-weight: bold; font-family: garamond;}
    .who-we-are .triangle_descriptions .description .space-top {margin-top:20px;}
    .who-we-are .triangle_descriptions .description .space-top.small {margin-top:10px;}

.body-logos-container{
	float: left;
	width: 100%;
	height: auto;
	border-top: 1px solid #000000;

}
.sidebarlogo{
	float: left;
	width: auto;
	margin-right: 20px;
}
.final .sidebarlogo{
	margin-left: 20px;
}

.sidebarlogo_line{
	float: left;
	margin-bottom: 20px;
	margin-left: 40px;
	height: auto; 
}

.centered-logo{
	padding-left: 80px;
}

    /* content - Our Business at a Glance infographic */

    #our-buis-infographic {margin-top: 0px; display: block;}
    #our-buis-infographic .row, #our-buis-infographic #footnotes {margin-top: 15px; clear: both; float: left;}

    #our-buis-infographic .clients, #our-buis-infographic .wherever, #our-buis-infographic .row2 .people, #our-buis-infographic .grads, #our-buis-infographic .row3 .people {border-right: 4px dotted #939598; /* 50% black */ height: 160px;}
    #our-buis-infographic .row2 .people, #our-buis-infographic .grads, #our-buis-infographic .row3 .people { height: auto;}
    #our-buis-infographic .row2 .people, .row4 .item {border-left: 4px dotted #939598; /* 50% black */}

    #our-buis-infographic .clients, #our-buis-infographic .clients h3 {color:#7f0119;}
    #our-buis-infographic .wherever, #our-buis-infographic .wherever h3 {color:#ee3f62;}
    #our-buis-infographic .communities, #our-buis-infographic .communities h3, #our-buis-infographic .communities h3 a {color:#f7901d;}
    #our-buis-infographic .row2 .people {color:#a79b91;}
    #our-buis-infographic .row2 h3 {color:#b82233;}
    #our-buis-infographic .partners, #our-buis-infographic .partners a {color:#b82233;}
    #our-buis-infographic .row3, #our-buis-infographic .row3 h3, #our-buis-infographic .row3 a {color:#f26d21;}
    #our-buis-infographic .row4 {color:#b82233;}
    #our-buis-infographic .row4 .line {color:#ed1a34;}

    #our-buis-infographic .row1 .clients, #our-buis-infographic .row1 .wherever, #our-buis-infographic .row1 .communities, .row3 .people, .row3 .grads {
        width:155px; margin-right:20px; padding-right:15px; float: left;}
    #our-buis-infographic .row1 .communities {margin-right: 0px; padding-right: 0px;}
    #our-buis-infographic .row1 .no {font-family: georgia; font-size: 2.3em; font-weight: bold; font-style: italic; }

    #our-buis-infographic .row1 .clients .no {margin:5px 0px 10px 0px; display: block;}
    #our-buis-infographic .row1 .wherever .line { width: 100px;}
    #our-buis-infographic .row1 .wherever { position: relative;}
    #our-buis-infographic .row1 .map-markers { position: absolute; bottom:-3px; right: 10px;}
    #our-buis-infographic .row1 .img.people { margin-top: 10px;}


    #our-buis-infographic .row1 .communities .time {padding-top: 10px;}

    #our-buis-infographic .row2 .people, #our-buis-infographic .row2 .partners {float:left; padding: 10px; position: relative; height: 90px;}
    #our-buis-infographic .row2 .people {width:410px;}
    #our-buis-infographic .row2 .partners { width: 90px;}
    #our-buis-infographic .row2 .line { position: absolute; bottom: 0px; font-size: 1.2em; font-family: garamond;}
    #our-buis-infographic .row2 .line .no {font-size: 1.1em; font-weight: bold; font-family: garamond; font-style: italic; margin-right: 2px;}
    #center #our-buis-infographic .row2 .line a.footnote-link:link { position: relative; top:-4px; font-size: 0.6em; margin-left: 1px;}


    #our-buis-infographic .communities h3 a, #our-buis-infographic .row3 h3 a {margin-left: 3px; position: relative; top:-3px;}
    #center #our-buis-infographic a.footnote-link:link {text-decoration: none; font-size: 0.8em;}
    #center #our-buis-infographic a.footnote-link:hover {text-decoration: none;}

    #our-buis-infographic .row2{ clear: both;}

    #our-buis-infographic .row3 .people, #our-buis-infographic .row3 .grads, #our-buis-infographic .row3 .exp {width:155px; float: left;}
    #our-buis-infographic .row3 span { display: inline-block; float: left; }
    #our-buis-infographic .row3 span .no {float: none; margin: 0 3px 0 3px; font-size: 1.2em; font-weight: bold; font-family: garamond; font-style: italic;}
    #our-buis-infographic .row3 span.line { width: 100px; margin-left: 10px;}

    #our-buis-infographic .row4 .item {width:80px; padding-top: 1px; margin-right:10px; padding-left:15px; float: left; height: 160px; position: relative;}
    #our-buis-infographic .row4 .line { position: absolute; bottom: 0px;}
    #our-buis-infographic .row4 .percent-icon { position: absolute; bottom: 0px; right: 3px;}
    #our-buis-infographic .row4 .line .no {display: block;}
    #our-buis-infographic .row4 .tax .icon-grid { width: 60px;}
    #our-buis-infographic .row4 #ass .icon-grid { width: 80px;}
    #our-buis-infographic .row4 .deals .icon-grid {width: 50px;}
    #our-buis-infographic .row4 .consulting .icon-grid {width: 40px;}
    #our-buis-infographic .row4 .item.group {width:50px;}
    #our-buis-infographic .row4 .item.group .percent-icon {bottom: 40px; left: 10px; width: 50px; height: 50px;}
    #our-buis-infographic #ass {width:100px;}
    #our-buis-infographic .row4 .item.consulting {width:100px;}
    #our-buis-infographic .row4 .circle {margin-right: 3px; margin-bottom: 3px;}
    #our-buis-infographic .row4 .percent-icon {width: 35px; height: 35px; overflow: hidden; text-indent: -100px;}
    #our-buis-infographic .row4 .line .no {font-family: garamond; font-weight: bold; font-size: 1.2em; font-style: italic;}
    #our-buis-infographic .row4 .percent-icon.pc6 {background-image: url("../images/our-business/glance/bubble-6.gif"); background-repeat: no-repeat; background-size: cover;}
    #our-buis-infographic .row4 .percent-icon.pc5 {background-image: url("../images/our-business/glance/bubble-5.gif"); background-repeat: no-repeat; background-size: cover;}
    #our-buis-infographic .row4 .percent-icon.pc4 {background-image: url("../images/our-business/glance/bubble-4.gif"); background-repeat: no-repeat; background-size: cover;}
    #our-buis-infographic .row4 .percent-icon.pc3 {background-image: url("../images/our-business/glance/bubble-3.gif"); background-repeat: no-repeat; background-size: cover;}

    /* icons */
    #our-buis-infographic .people .person {background-image: url("../images/our-business/glance/person.gif"); background-repeat: no-repeat;
     width: 17px; height: 19px; display: inline-block;} 

    #our-buis-infographic .wherever .map-markers {background-image: url("../images/our-business/glance/map-markers.gif"); background-repeat: no-repeat;
     width: 55px; height: 65px; display: inline-block;} 

    #our-buis-infographic .communities .time {background-image: url("../images/our-business/glance/clock-icon.gif"); background-repeat: no-repeat;
     background-position: 0px 0px; display: inline-block; padding-left: 70px; background-size: 50px; height: 50px; }

    #our-buis-infographic .row2 .ppl-icon {background-image: url("../images/our-business/glance/people-icon-grey.gif"); background-repeat: no-repeat;
     width: 31px; height: 31px; display: inline-block;}

    #our-buis-infographic .row2 .ppl-icon { width: 31px; height: 31px; display: inline-block;}
    #our-buis-infographic .row2 .partners .ppl-icon {background-image: url("../images/our-business/glance/people-icon-red.gif"); background-repeat: no-repeat;}
    #our-buis-infographic .row2 .people .ppl-icon {background-image: url("../images/our-business/glance/people-icon-grey.gif"); background-repeat: no-repeat;}

    #our-buis-infographic .row3 .icon { width: 43px; height: 43px; display: inline-block;}
    #our-buis-infographic .row3 .people .icon {background-image: url("../images/our-business/glance/people-icon.gif"); background-repeat: no-repeat;}
    #our-buis-infographic .row3 .grads .icon {background-image: url("../images/our-business/glance/mortar-board-icon.gif"); background-repeat: no-repeat;}
    #our-buis-infographic .row3 .exp .icon {background-image: url("../images/our-business/glance/handshake-icon.gif"); background-repeat: no-repeat;}

    #our-buis-infographic .icon-grid .circle {background-image: url("../images/our-business/glance/red-dot.gif"); background-repeat: no-repeat;
     width: 6px; height: 6px; display: inline-block;}

    .case-studies .rhtitle, .RHTitle, .financial-results .rhtitle, .RHTitle {
    color: #e0301e;
}

    /* public-interest-body */

    .public-interest-body .pib-section {border-top: #6d6e71 dotted 1px; margin-top: 10px; padding-top: 10px;}
    .public-interest-body #nu_rightcol .text_small.title { font-style: italic; margin-bottom: 10px; font-weight: bold;}
    .public-interest-body li strong, .supervisory-board li strong {font-style: italic;}

    .supervisory-board .rhtitle, .RHTitle, .board .rhtitle, .RHTitle, .public-interest-body .rhtitle, .RHTitle, .global-network .rhtitle, .RHTitle{  color: #e0301e;}

     /* content clients and market */

     .charts .text {width:230px;float:left; margin-right: 20px;}
     .charts img {float:left; margin-top:10px;}
     .charts .chart_container {clear:both; float:left;}
     .charts .chart_container.second { margin-top:30px;}
     .charts {margin-bottom: 20px; float: left;}


     /* content - our principal risks table*/

    #risk-response-header { font-weight: bold; }
    #risk-response-header .risk, #risk-response-table #risk-response-header .response {padding: 5px; border-bottom: 2px; font-style: italic;}
    #risk-response-table #risk-response-header .response {width: 344px; border-left: 2px solid #ffffff;}
    .risk-response-wrapper { background-color: #fceae9;
        clear: both;
        display: block;
        float: left; border-bottom: 2px solid #ffffff;}
    .risk-response-wrapper.short-right-col {background-color: #ffffff;}

    .risk-response-wrapper .risk, .risk-response-wrapper .response, #risk-response-header .risk, #risk-response-header .response {float:left; padding:4px;}
    .risk-response-wrapper .title { font-weight: bold;}
    .risk-response-wrapper .risk {background-color: /*#fbeef0*/ #fceae9;}
    .risk-response-wrapper.short-right-col .risk {border-right: 2px solid #ffffff;}
    .risk-response-wrapper .risk .title {color: #db536a;}
    .risk-response-wrapper .response {background-color: #ffffff; /* 10% black */ border-left: 2px solid #ffffff;}
    .risk-response-wrapper.short-right-col .response {border-left: none;}
    #risk-response-header .risk, .risk-response-wrapper .risk {width:190px; padding: 5px;}
    #risk-response-header .response, .risk-response-wrapper .response {width:346px;}
    .risk-response-wrapper ul li{ list-style: disc;}
    .risk-response-wrapper li ul li{ list-style: square;}
    .risk-response-wrapper ul {margin-top: 0px; padding-top: 5px; margin-bottom: 0px; padding-bottom: 5px;}
    .risk-response-wrapper .mobile-title {display:none;}

    /* content - our principal risks table  mobile */
    @media only screen and (max-width: 750px){
        .risk-response-wrapper .mobile-title {display:block;}
        #risk-response-header {display:none;}
        .risk-response-wrapper {border-bottom: 5px solid #ffffff;}
        .risk-response-wrapper .risk, .risk-response-wrapper .response { float:none; width: auto;}
        .risk-response-wrapper .risk {margin-right: 0px;}
        .risk-response-wrapper .response, .risk-response-wrapper .risk {border: none;}
        .risk-response-wrapper .mobile-title { font-style: italic; margin-bottom: 2px;}
        .risk-response-wrapper .risk .mobile-title { margin-top: 2px; }
        .risk-response-wrapper ul {margin-top: 0px; padding-top: 3px; margin-bottom: 0px; padding-bottom: 3px;}
    }

    #risk-response-table 


    /* content - financial results table */

    .financial_table{   float: left;    width: 422px;   height: auto;   border-top: 1px solid #000000;    margin:20px 0 10px 0;}

    .financial_table .financial_row{ float: left; width: 412px;   padding:5px;}
    .financial_table .financial_row.title { border-bottom: 2px dotted #000000;}
    .financial_table .financial_row.dotted-top {border-top: 2px dotted #968c6d;}
    .financial_table .financial_row.last_row { font-size: 0.8em;}

    .financial_table .financial_row.green{color: #968c6d;    border-top: 1px solid #968c6d;}

    .financial_table .financial_row.gray{border-top: 1px solid #968c6d;}
    .financial_table .financial_row.gray.thick-top {border-top: 2px solid #968c6d;}

    .financial_table .last_row{  height: auto;   border-top: 2px solid #968c6d;}
    .financial_table .first_col{ float: left; width: 200px; padding-right: 10px;height: 100%;}

    .financial_table .other_col{ float: left; width: 100px; text-align: right;}
    .financial_table span.title { font-weight: bold;}

    /* content - financial results table  mobile */
    @media only screen and (max-width: 750px){
        .financial_table{ width: auto;}
        .financial_table .financial_row {width: 100%;}
        .financial_table .first_col { width: 56%;}
        .financial_table .other_col {width: 20%;}
        .risk-response-wrapper {width:100%;}
    }

/***
	
	4. Footer
	 
****/


#footer, #footerlinks {
    display: table;
}

#footer-wrapper{
    /* height: 64px; */
    height: 144px;
}

#footer-wrapper div {
    padding: 0px;
}

#desktopfooter, #mobilefooter{
    height: 36px;
}
    /* #footer-wrapper {margin-left:10px; margin-right: 10px;}*/
    #footer-wrapper .sharewrapper {margin-left: 10px;}
    #footer-wrapper .share-container { background-color: #6e6d71; padding: 5px; float:right; width: 100%; margin-top: 3px; margin-bottom: 10px;}
    #footer-wrapper .share-container  a {width:28px; height: 28px; display: block; text-indent: -200px; overflow: hidden; float: right; margin-left: 5px;}
    #footer-wrapper .share-container  a.mail { background-image: url("../images/home/social/mail-icon.png"); margin-right: 4px;} 
    #footer-wrapper .share-container  a.twitter { background-image: url("../images/home/social/tt-icon.png");} 
    #footer-wrapper .share-container  a.facebook { background-image: url("../images/home/social/fb-icon.png");} 
    #footer-wrapper .share-container  a.pintrest{ background-image: url("../images/home/social/pinterest-icon.png");} 

.homepage #desktopfooter, .homepage #mobilefooter{
    background-color: #6d6e71;
}


#desktopfooter #share-container,
#mobilefooter #share-container{
    width: auto;
    float: right;
    margin-top: 4px;
    height: 29px;
}

#desktopfooter #share-container img,
#mobilefooter #share-container img{
    margin-right: 4px;
}

#mobilefooter{
    border: none;
    padding: 0px;
}

/***
	
	5. Text
	 
****/	

h1 {display:none;}
h3 {font-size:1.4em; color:#6d6e71; line-height:1.2em;}
	
blockquote {
    color: #eb8c00;
    font-family: georgia;
    font-size: 150%;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2em;
    margin-left: 0;
    margin-right: 40px;
    /* margin-bottom: 8px; */
}

blockquote, q {
    quotes: none;
}

.people-home span.subhead {color:#fff;}
.people-home h3 {color:#fff;}

.our-performance h1, .our-performance h3 {color: #a32020;}
.our-performance blockquote {color: #dc6900;}
.our-performance .highlightbox {border:1px solid #dc6900;}
        
h1.hide { display:none;}
h1.show { display:block;}
/*.our-performance h1 { display:none;}*/

.ar-home-powell h3 a, .ar-home-powell p a, .people-home h3 a, .global-home p a {text-decoration:none !important; color:#fff !important;}
.ar-home-powell h3 a:hover, .ar-home-powell p a:hover, .people-home h3 a:hover, .global-home p a:hover {text-decoration:underline !important; color:#fff !important;}
.who-we-are-home-text h3 a, .who-we-are-home-text p a, .people-one-home h3 a, .people-one-home p a, .community-home h3 a, .community-home p a, .performance-home h3 a, .performance-home p a{text-decoration:none !important; color:#6d6e71 !important;}
.who-we-are-home-text h3 a:hover, .who-we-are-home-text p a:hover, .people-one-home h3 a:hover, .people-one-home p a:hover, .community-home h3 a:hover, .community-home p a:hover, .performance-home h3 a:hover, .performance-home p a:hover {text-decoration:underline !important; color:#e0301e !important;}
.global-home a, .global-home .whitetitle {text-decoration:none !important; color:#fff !important;}
.global-home a:hover {text-decoration:underline !important; color:#fff !important;}
span a:hover {text-decoration:underline !important; color:#fff !important;}

.home .people-home .text-container2 { width: 150px; }
.home .people-home .text-container2 h3 a, .home .ar-home-powell h3 a {font-size: 19px;}
.home .performance-home h3 {font-size: 24px;}

/* 
	Left column
*/

.wbtile{
	margin: 0px;
}

.webtile{
	margin: 10px 0px;
}

/* burgundy bullets */
.quality-risk #center ul li {
    list-style-image: url("http://www.pwc.co.uk/en_GX/webadmin/assets/image/burgundy_square.gif");
}

/* rose bullets */
.our-principal-risks #center ul li {
    list-style-image: url("http://www.pwc.co.uk/en_GX/webadmin/assets/image/rose_square.gif");
}

/* 
	7. Colours
 __________________________________________________________________________________________________________________________________________ */

/*  Orange theme */

.orange .hero-title{
	background-color: #dc6900;
}

.orange h2,.orange blockquote,
.orange #center a:hover, 
.orange #home a:hover,
.orange #right a:hove{
	color: #dc6900;
}

.orange .leftnav {
    border-top: 4px solid #dc6900;
}

.orange h3, .orange h4{
	color: #a32020;
}

.orange .leftnav #selected .lhnentry a:link, .orange .leftnav #selected .lhnentry a:visited, .orange .leftnav a:hover {
    color: #dc6900;
}

.orange .rhbox ul, .orange .RHBox ul {
    background-color: #fbf0e5;
    border-top: 4px solid #e0301e;
}

/*  Rose theme */

.rose .hero-title{
	background-color: #db536a;
}

.rose h2, .rose blockquote,
.rose #center a:hover, 
.rose #home a:hover,
.rose #right a:hover{
	color: #db536a;
}

.rose h3, .rose h4{
	color: #a32020;
}

.rose .leftnav {
    border-top: 4px solid #db536a;
}

.rose .leftnav #selected .lhnentry a:link, .rose .leftnav #selected .lhnentry a:visited, .rose .leftnav a:hover {
    color: #db536a;
}

.rose .rhbox ul, .rose .RHBox ul {
    background-color: #fceae9;
    border-top: 4px solid #e0301e;
}

r


/*  Burgundy theme */

.burgundy .hero-title{
	background-color: #a32020;
}

.burgundy h2, .burgundy blockquote,
.burgundy #center a:hover, 
.burgundy #home a:hover,
.burundy #right a:hove{
	color: #a32020;
}

.burgundy h3, .burgundy h4{
	color: #db536a;
}

.burgundy .leftnav {
    border-top: 4px solid #a32020;
}

.burgundy .leftnav #selected .lhnentry a:link, .burgundy .leftnav #selected .lhnentry a:visited, .burgundy .leftnav a:hover {
    color: #a32020;
}

.burgundy .rhbox ul, .burgundy .RHBox ul {
    background-color: #fbeae9;
    border-top: 4px solid #e0301e;
}

/*  Maroon theme */

.maroon .hero-title{
	background-color: #602320;
}

.maroon h2, .maroon blockquote,
.maroon #center a:hover, 
.maroon #home a:hover,
.maroon #right a:hove{
	color: #602320;
}

.maroon h3, .maroon h4{
	color: #dc6900;
}

.maroon .leftnav {
    border-top: 4px solid #602320;
}

.maroon .leftnav #selected .lhnentry a:link, .maroon .leftnav #selected .lhnentry a:visited, .maroon .leftnav a:hover {
    color: #602320;
}

.maroon .rhbox ul, .maroon .RHBox ul {
    background-color: #efe9e9;
    border-top: 4px solid #a32020;
}

/*  Red theme */
.red .hero-title{
	background-color: #e0301e;
}

.red h2, .red blockquote,
.red #center a:hover, 
.red #home a:hover,
.red #right a:hove{
	color: #e0301e;
}

.red h3, .red h4{
	color: #a32020;
}

.red .leftnav {
    border-top: 4px solid #e0301e;
}

.red .leftnav #selected .lhnentry a:link, .red .leftnav #selected .lhnentry a:visited, .red .leftnav a:hover {
    color: #e0301e;
}

.red .rhbox ul, .red .RHBox ul {
    background-color: #fceae9;
    border-top: 4px solid #dc6900;
}	

.leftnav #selected .lhnentry {
    background-image: url("http://www.pwc.co.uk/en_GX/webadmin/assets/image/sprites-arrow.gif");
    background-position: -620px center;
    background-repeat: no-repeat;
}

#transcript{ float: left; width: 100%; height: 100%;}
.div_transcript{	float: left; height: 35px; width: 150px; }

.text_transcript{
	float: left;
}

   
.arrow-right{
	background-image: url("http://www.pwc.co.uk/en_GX/webadmin/assets/image/sprites-arrow.gif");
	     background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    width: 20px;
}

.arrow-bottom{
	background-image: url("../images/general/arrow-bottom.gif");
	     background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    width: 20px;
}

/* GOVERNANCE - EXECUTIVE BOARD */
.leadblock {
    float: left;
    margin-bottom: 15px;
    width: 115px;
    margin-right: 20px;
    height: 204px;
}

.leadblock p {
    margin: 5px 0 0;
}

.leadblock a {
    text-decoration: none !important;
}

.leadblock p span {
    border-bottom: 1px dotted #404041;
    display: block;
    font-weight: bold;
}

.case-study{
    font-size: 0.8em;
}

.case-study h1, .case-study h3 {
    color: #a32020;
}

.case-study p.case-study-byline {
    border-bottom: 1px dotted #6d6e71;
    border-top: 2px solid #6d6e71;
    color: #6e6d71;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 310px;
    
    font-size: 0.95em;
    letter-spacing: 0.004em;
}

#nu_rightcol .50_desktop{
	width: 50%;
}
/* --- 
*
*

Responsive __________________________________________________________________________________________________________________________________________

*
*
---- */

/* 
	7. Specific Desktop Styles
 __________________________________________________________________________________________________________________________________________ */

/* hide mobile elements */
#mobilenav, #formobile, #mobilefooter { display: none;}

/* show desktop elements */
#fordesktop, #desktopfooter, #desktopfooter{ display: block;}


/* 

	8. Specific Mobile Styles
__________________________________________________________________________________________________________________________________________ */

#pwcmobile .people-one-home .one-text {margin: 0; width: 90%; border: none; padding: 15px;}
#pwcmobile .home-link-blocks {width:100%;}
#pwcmobile .ar-home-right {width:100%; margin-top:5px; }
#pwcmobile.our-performance .top-block {background-image: none; width:100%; height: 100%; font-size: 1.4em; font-weight: bold;  margin-bottom: 1em; padding: 0px; font-style:italic; color:#dc6900;}
#pwcmobile .people-home span.subhead {margin-top:0;}
#pwcmobile  .who-we-are-home-text{ width: auto; }
 
/* 
	9. Media queries
 __________________________________________________________________________________________________________________________________________ */



@media only screen and (max-width: 750px){

#footer-wrapper {padding-right:0px;}
#footer-wrapper .sharewrapper {
    margin-left: 5px; padding-right:0px;
}

    .who-we-are-home .container2 {    background-position: right center;}

    .charts .text {width:auto;}

	#transcript_content{
		float: left;
		width: 100%;
		height: auto;
		border-top: 3px solid #e0301e; 
		border-bottom: 3px solid #e0301e;    
		border-left: none; 
		padding-left: 0px;
	}

	.board .media-overlay{
		display:inline;
	}	

    #wrapper{ width: auto; padding: 10px;}

    html, body { background-color: #fff;}
    body {  position: relative; }

    /* show mobile elements */
    #mobilenav, #formobile, #mobilefooter, h1 { display: block;}
        
    /* hide desktop elements */
    #fordesktop, #desktopfooter, .media-overlay { display: none;}

    #wrapper{   padding: 0 0 10px; position: relative;  right: 0;    width: auto;}

    :first-child + html #wrapper {    width: 100%;  }

    #frmmobilesearch .searchfield_label { display: block; height: 1px;}

    #pwcmobile .esidesktop {
        display: none;
    }
    #pwcmobile #homedesktop {
        display: none;
    }
    #container {
        clear: both !important;
        min-height: 300px;
        padding: 0 5px !important;
    }

    #center {
        padding: 0 !important;
    }
    #left {
        float: left !important;
        margin-left: 0 !important;
        right: auto !important;
        width: 49% !important;
    }
    *html #wrapper #container #left.column {
        margin-left: 0 !important;
    }
    #right {
        float: right !important;
        margin-right: 0 !important;
        position: relative !important;
        width: 49% !important;
    }
    *html #left {
        left: auto !important;
    }
    #mobilenav {
        display: block;
        overflow: hidden;
    }
    #header {
        padding: 0;
    }
    #headerleft {
        padding-bottom: 0;
        width: 81px;
    }
    #headerright {
        width: 216px;   
    }
    #headerlogo img {
        display: inline-block !important;
        height: 61px !important;
        width: 80px !important;
    }
    #headerlogo {
        background-image: none !important;
        padding-left: 10px;
    }
    #mobileheaderright {
        display: block;
        float: left;
        margin: 15px 4px 0 0;
        vertical-align: top;
    }
    #headercountry {
        font-size: 1em;
        margin: 0;
    }
    #headercountry span {
        margin: 0 !important;
        width: 160px;
    }
    #headerlang {
        margin: 0;  
    }
    .langlink {
        font-size: 1em;
        padding-left: 4px;
        padding-right: 1px;
    }
    #mobileheadernav {
        display: block;
        margin-bottom: 10px;
        margin-right:5px;
    }
    #mobileheadermenu {
        margin-top: 5px;
    }
    #mobilenav {
        background-color: #dc6900;
        height: 100%;
        padding: 0;
        position: absolute;
        right: 0;
        width: 200px;
    }
    #mobilenav ul {
        border-bottom: 1px solid #a64f00;
        line-height: 1;
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }
    #mobilenav ul li a {
        border-bottom: 1px solid #f47400;
        border-top: 1px solid #a64f00;
        color: #fff;
        display: block;
        font-weight: normal;
        line-height: 1.2em;
        padding: 5px 10px;
        text-decoration: none;
    }
    #frmmobilesearch {
        position: relative; 
    }
    :first-child + html #frmmobilesearch {
        display: inline;
    }
    #mobilesearchsubmit {
        display: none;
    }
    #searchfield {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #939598 -moz-use-text-color #939598 #939598;
        border-image: none;
        border-style: solid none solid solid;
        border-width: 1px 0 1px 1px;
        color: #6d6e71;
        display: none;
        font-size: 0.95em;
        height: 28px;
        margin-top: 1px;
        padding: 1px;
        position: absolute;
        right: 32px;
        width: 160px;
    }
    #mobileheadersearch img, #mobilesearchsubmit, #mobileheadermenu img {
        height: 32px;
        width: 32px;
    }
    #mobilesearchsubmit {
        margin-top: 1px !important;
    }
    #container img, #container object {
        max-width: 100%;
    }
    #feature-mobilehome {
        max-width: 640px;
        overflow: hidden;
        position: relative;
    }
    #feature-mobilehome .items {
        clear: both;
        position: relative;
        width: 20000em;
    }
    .items div {
       float: left;
    }
    #feature-mobilehome .items div a {
       position: relative !important;
       text-decoration: none !important;
    }
    #feature-mobilehome .items div a span, #feature-mobilehome span {
        background-image: url("http://www.pwc.co.uk/en_GX/webadmin/assets/image/m-linkicon.png");
        background-position: 98% 50%;
        background-repeat: no-repeat;
        bottom: 3px !important;
        color: #fff !important;
        display: inline-block;
        font-family: Georgia,"Times New Roman";
        font-size: 1em !important;
        left: 0 !important;
        max-width: 292px !important;
        opacity: 0.9;
        padding: 8px 20px 8px 8px;
        position: absolute !important;
    }
    #feature-mobilehome span.tangerine {
        background-color: #eb8c00;
        font-size: 1em !important;
    }
    #feature-mobilehome span.orange {
        background-color: #dc6900;
        font-size: 1em !important;
    }
    #feature-mobilehome span.red {
        background-color: #e0301e;
        font-size: 1em !important;
    }
    #feature-mobilehome span.rose {
        background-color: #db536a;
        font-size: 1em !important;
    }
    #feature-mobilehome span.burgundy {
        background-color: #a32020;
        font-size: 1em !important;
    }
    #feature-mobilehome span.maroon {
        background-color: #602320;
        font-size: 1em !important;
    }
    #feature-mobilehome span.grey {
        background-color: #968c6d;
        font-size: 1em !important;
    }
    a.browse {
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 32px 32px;
        display: block;
        height: 32px;
        position: absolute;
        top: 25%;
        width: 32px;
        z-index: 100;
    }
    a.left {
        background-image: url("http://www.pwc.co.uk/en_GX/webadmin/assets/image/m-feature-left.gif");
        left: 0;
    }
    a.right {
        background-image: url("http://www.pwc.co.uk/en_GX/webadmin/assets/image/m-feature-right.gif");
        right: 0;
    }
    #mobilehomenav {
        list-style: none outside none !important;
        margin: 0 !important;
        padding: 0 5px !important;
    }
    #mobilehomenav li {
        float: left;
        line-height: 1 !important;
        list-style: none outside none !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    #mobilehomenav a {
        border-top: 4px solid #939598;
        color: #000 !important;
        display: block;
        font-family: Georgia,"Times New Roman";
        font-size: 1em;
        font-style: italic;
        font-weight: bold;
        height: 26px;
        line-height: 1.2em;
        margin: 10px 10px 0 0;
        padding: 10px 5px;
        text-decoration: none;
        width: 83px;
    }
    #mobilehomenav a.selected {
        background-color: #eb8c00;
        border-top: 4px solid #eb8c00;
        color: #fff !important;
    }
    #footer, #footerlinks {
        display: none;
    }
    #footer-wrapper {
        height: auto;
    }
    #footer-wrapper div {
        padding: 5px;   
    }
    /*#mobilefooter {
        border-top: 4px solid #eb8c00;
        margin-top: 10px;
    }*/
    #mobileterritory, #translation {
        font-size: 0.85em !important;
        font-weight: bold;
        margin: 0;
        padding: 2px 0 !important;
    }
    #translation a {
        padding-left: 5px;
    }
    #mobileterritory a, #translation a {
        font-weight: normal;
    }
    #mobileterritory .mobilechange {
        background-color: #eb8c00;
        color: #fff !important;
        margin-left: 5px;
        padding: 2px 8px;
        text-decoration: none;
    }
    #mobilecopyright {
        font-size: 0.85em;
       padding-left: 0 !important;
    }
    #mobilecopyright div {
        padding: 0 !important;
    }
    .truncate_more_link {
       color: #eb8c00 !important;
       padding-left: 4px;
    }
/* #mobilecopyright span {
    display: none;
} */
    #mobilecopyright ul {
        line-height: 1;
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }
    #mobilecopyright ul li {
        float: left;
        text-align: left;
    }
    #mobilecopyright ul li a {
        display: block;
        font-weight: normal;
        padding: 5px 8px 5px 0;
        text-decoration: none;
    }
    #mobilecopyright ul li a, #mobileterritory a, #translation a, #mobilecopyright a {
        color: #404041;
        text-decoration: underline;
    }
    .clearboth {
        display: inline-block;  
    }
    .tooltip {
        width: 150px;
    }
    .tooltipbottom {
        width: 190px;
    }
    .fullcontent, .halfcontent, .homecolumn, .contentfeature, .homeleft {
        display: block;
        float: none;
        width: 100%;
    }
    .matchheight {
        height: auto !important;
    }
    .expander {
        width: 100%;    
    }
    .expander.homecenter {
        width: 100%;
    }
    .landing-mobile-1 .contentfeature {
        clear: left;
        width: 100% !important;
    }
    .landwrappermobile {
        visibility: visible !important;
    }
    #promocarousel1 {
        position: static;
        width: 100%;
    }
    #promocarousel2 {
        position: static;
        width: 100%;
    }
    #promofeatures {
        float: none;
        width: 100%;
    }
    #promocarousel2 #promofeatures {
        width: 100%;
    }
    #promopanels {
        float: none;
        width: 100%;
    }
    #promocarousel2 #promopanels {
        width: 100%;
    }
    #promopanels ul li a {
        padding: 5px;
    }
    #promopanels ul.fivepanels li a {
    }
    #homelayoutwide {
        width: 100%;
    }
    #homelayout2col {
        width: 100%;
    }
    #promostatic {
        width: 100%;
    }
    #homelayout2col #promostatic {
        width: 100%;
    }
    #pwcmobile #center ul {
    }
    #pwcmobile #center a {
        text-decoration: underline;
    }
    .leftnav a:link, .leftnav a:visited {
        color: #404041;
    }
    .leftnav #selected .lhnentry {
        background-color: #f5f4f0;
        background-image: none;
    }
    #landingwrapper .leftnav {
        display: none;  
    }
    #lhnlayout {
        margin-left: 0 !important;
    }
    #landingwrapper, #lhnlayout, .searchresulttop, .searchresultfeaturedarea, .searchresultpagination {
        width: 100% !important;
    }
    #pwcmobile #media-player video {
        height: 280px !important;
        width: 280px !important;
    }
    #pwcmobile #media-details {
        height: auto !important;
        width: 280px !important;    
    }
    #pwcmobile ul.media-tabs {
        display: table;
    }
    #pwcmobile ul.media-tabs li, #pwcmobile ul.media-tabs-doubleheight li {
        display: inline-block;
        float: none;
        margin: 0 1px 5px 0 !important; 
    }
    #pwcmobile ul.media-tabs-doubleheight {
        height: auto;
    }
    #pwcmobile ul.media-tabs a, #pwcmobile #center ul.media-tabs a, #pwcmobile ul.media-tabs a:visited, #pwcmobile #center ul.media-tabs a:visited {
        padding: 5px;
    }
    #pwcmobile ul.media-tabs-doubleheight a, #pwcmobile #center ul.media-tabs-doubleheight a, #pwcmobile ul.media-tabs-doubleheight a:visited, #pwcmobile #center ul.media-tabs-doubleheight a:visited {
        padding: 5px;
    }
    #pwcmobile ul.media-tabs a.current, #pwcmobile ul.media-tabs a.current:hover, #pwcmobile ul.media-tabs li.current a, #pwcmobile ul.media-tabs-doubleheight a.current, #pwcmobile ul.media-tabs-doubleheight a.current:hover, #pwcmobile ul.media-tabs-doubleheight li.current a, #pwcmobile #center ul.media-tabs a.current, #pwcmobile #center ul.media-tabs a.current:hover, #pwcmobile #center ul.media-tabs li.current a, #pwcmobile #center ul.media-tabs-doubleheight a.current, #pwcmobile #center ul.media-tabs-doubleheight a.current:hover, #pwcmobile #center ul.media-tabs-doubleheight li.current a, #pwcmobile ul.media-tabs a.current:visited, #pwcmobile ul.media-tabs li.current a:visited, #pwcmobile #center ul.media-tabs a.current:visited, #pwcmobile #center ul.media-tabs li.current a:visited, #pwcmobile ul.media-tabs-doubleheight a.current:visited, #pwcmobile ul.media-tabs-doubleheight li.current a:visited, #pwcmobile #center ul.media-tabs-doubleheight a.current:visited, #pwcmobile #center ul.media-tabs-doubleheight li.current a:visited {
        padding: 5px 4px;
    }
    #pwcmobile .media-feature-images {
        position: relative;
        width: auto;
    }
    #pwcmobile .media-feature-images .media-feature-slide {
        height: auto;
        width: 100%;    
    }
    #pwcmobile .media-feature-slide {
        height: auto;
        width: auto;
    }
    #pwcmobile .media-feature-slide img {
        width: 100% !important;
    }
    #pwcslider {
        height: auto !important;
        width: 100% !important;
    }
    #pwcslider .items, #pwcsliderauto .items {
        clear: none;
        position: relative;
        width: 100%;
    }
    #pwcslider .items .feature, #pwcsliderauto .items .feature {
        float: none;
        padding: 0;
    }
    #pwcslider a.browse, #pwcsliderauto a.browse {
        display: none;
    }
    #pwcslider .navi, #pwcsliderauto .navi {
        display: none;
    }
    #pwcslider .feature.cloned {
        display: none;
    }
    #pwcslider .feature {
        border-bottom: 1px solid #6d6e71;
        height: inherit !important;
        padding-bottom: 10px !important;
    }
    #pwcslider .feature a.griditem {
        float: none;
        height: 125px;
        margin-bottom: 10px;
        width: 100%;
    }
    #pwcslider .feature .gridgutter {
        display: none;
    }
    #home #feature, #home .gx_anim_animationcontainer {
     display: none !important;
    }
    #pubfeature {
        width: 150px;
    }
    .pubdownload {
        padding: 5px;
    }
    .pubdownload a {
        background-image: none;
        font-size: 1em;
        padding-right: 0;
    }
    .media-overlay {
        height: auto !important;
        width: 280px !important;
    }

/*}*/   /* end of media query max-width: 750px   MARTA */

/****/

        #fordesktop{
        display: none;
    }
    
    #formobile{
        display: inline;
    }

/*
    Classes for testing
*/

.cont1{
    width: 100%;
}


/*
    Classes for testing
*/
        



    #wrapper{
        width: auto;
    }
    
    #footer, #footerlinks {
        display: none;
    }

    #header{
        height: auto;
    }
    #headerleft{
        width: 30%;
    }
    
     #headerright{
        float: left;
        width: 70%;
     }  
    
    .home-link-blocks-mobile{
        display: inline;
        float: left;
        height: auto;
        width: 100%;
    }
    
    .home-link-blocks{
        display: none;
    }   

    #ar-left-container, .ar-home-right{
        width: 100%;
    }
    
    
    /* ***** */
    .hidden{
        display:inline;
    }
    .half_container{
        float: left;
        width: 50%;
        
        margin:0 auto;
        position:relative;
        
        min-height: 200px;
    }
    
    .third_container{
        float: left;
        width: 30%;
        
        margin:0 auto;
        margin-top:10px;
        position:relative;
        
        min-height: 200px;
    }
    
    .two_thirds_container{
        float: left;
        width: 60%;
        
        margin:0 auto;
        margin-top:10px;
        position:relative;
        
        min-height: 200px;      
    }
    
    .half_container .text-container2,
    .third_container .text-container2,
    .two_thirds_container .text-container2,
    .text-container2{
        bottom:0px;
        padding:10px;
        position:unset;
        top:0px;
        
        width: auto; /* ? */
        margin: 10px;
        height: 100%;
        overflow: visible;
        border: none;
    }
    
    .half_container .img-container2,
    .third_container .img-container2,
    .two_thirds_container .img-container2{
        float: left;
        width: 100%;
        
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
        margin: 0px;
        padding: 0px;
    }
    
    /* ***** */
    .ar-home-powell, .who-we-are-home, .people-home, .people-one-home, .performance-home,
    .community-home, .global-home{
        min-height: 200px;
        height: auto;
        margin-top: 2px;
        width: 100%;
    }   
    
    .performance-home{
     padding: 0px;
     margin-top: 10px;
    }   
    
    .home .ar-heading { font-weight: bold;}
    .ar-heading { width: 100%; height:auto; padding:0px; margin-bottom:2px;}
    .mobile_wrapper{ 
        padding: 10px;
        
        width: 70%;
        height: auto;
    }
    
    .performance-home{
        min-height: 140px;
    }
    
    .ar-home-powell .text-container, .who-we-are-home .text-container,
    .people-home .text-container, .people-one-home .text-container,
    .performance-home .text-container, .community-home .text-container,
    .global-home .text-container{
        width: 40%;
        padding: 1%;
        
        float: left;
        min-height: 188px;
        height: auto;
        margin: 0px;
        position: relative;
        z-index: 0;
    }
        
    .ar-home-powell .img-container, .who-we-are-home .img-container, 
    .people-home .img-container, .people-one-home .img-container,  
    .performance-home .img-container, .community-home .img-container,
    .global-home .img-container
    {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 200px;
        width: 58%;
        float: left;
        margin: 0px;
        padding: 0px;
    }   
    
    .ar-home-powell{
        background-color: #693029; 
    }
    .ar-home-powell .container1{
        height: auto;
    }
        
    .ar-home-powell .container2,
    .people-home .container2{
        background-size: 50% auto;
    }   
    
    .who-we-are-home .container2{
        background-size: auto 100%;
    }   
    
    .ar-home-powell .half_container.col1{ 
        margin: 0px;
        padding: 0px;
        width: 50%;
        height: auto;
        min-height: 200px;
    }
    .ar-home-powell .half_container.col1 .text-container2{
        height: auto;
        width: auto;
        margin: 10px;
        padding: 10px;
    }
    
    .ar-home-powell .half_container .text-container2{  }
    
    
    .who-we-are-home .container1{
        height: auto;
    }
        
    .who-we-are-home .container2{
        background-size: 50% auto;
    }   
    
    .who-we-are-home .half_container.col1{ 
        margin: 0px;
        padding: 0px;
        width: 50%;
        height: auto;
        min-height: 165px;
    }
    .who-we-are-home .half_container.col1 .text-container2{
        height: auto;
        width: auto;
    }
    
    .who-we-are-home .half_container .text-container2{  }
    
    .global-home{
        margin-top: 10px;
    }   
    
    .performance-home .text-container2{
        width: auto;
    }       
    
    .community-home .text-container{
        border: none;
        width: 47%;
        margin-left: 1%;
    } 
    
    .community-home .img-container{
            width: 42%;
    
    }
    
    .people-one-home .text-container{
        border: none;
        width: 55%;
        margin-left: 1%;
    }    
    
    .people-one-home .text-container2,
    .community-home .text-container2{
        margin-top: 0px;
        padding-top: 0px;
    }
    
    .people-one-home .container2, .community-home .container2{
        background-size: auto 100%;
        background-position: left top;
    }
    .people-one-home .half_container{
        width: 50%;
        height: 100%;    
    }
        
    .people-one-home .half_container.col1, .community-home .half_container.col1{
        width: 50%;
        height: 100%;   
        float: right;
    }
    
    
    .people-home .half_container, .community-home .half-container{
        height: 100%;
        width: 50%;
        min-height: 200px;
    }

    .people-home .col2, .community-home .col1{
        float: right;
      } 

     .people-home .col1, .community-home .col1{
        float:left;
      }  
    

    .people-home .text-container{
        width: 40%;
    }
    
    .global-home {float: left;border: none; padding: 0px; width: 100%; margin-bottom: 2px;}
   
   
   .text-padding-10{
        padding-left: 10px;
    }
    
    .community-home #desktop_move {
        position: unset;
    }   
    
    .global-home .text-container{
        width: 47%;
    }   

    
    #pwcmobile .who-we-are-home-text{
        width: 40%;
        height: auto;
    }

    /* Our business at a glance mobile styles */

            #our-buis-infographic .clients, #our-buis-infographic .wherever {border-right: none; margin-bottom: 10px; margin-right: 30px;}
            #our-buis-infographic .row2 .people, #our-buis-infographic .row2 .people, #our-buis-infographic .grads, #our-buis-infographic .row3 .people  {border-bottom: 4px dotted #939598; border-right: none; border-left: none; margin-bottom: 10px; padding-bottom: 10px; height: auto; width: auto;}
            #our-buis-infographic .row2 .partners { min-height: 50px;}
            #our-buis-infographic .row2 .people .line, #our-buis-infographic .row2 .partners .line  {position: relative;}
            #our-buis-infographic .row2 .partners .line {margin-top: 5px;}
            #our-buis-infographic .row3 .item {width:100%;}
            #our-buis-infographic .row3 span.line {width:350px; margin-top:5px;}
            #our-buis-infographic .row3 span.line, #our-buis-infographic .row3 span.icon {display: inline-block;}
            #our-buis-infographic .row2 .partners { height: 50px;}
            #our-buis-infographic .row, #our-buis-infographic #footnotes {margin-top: 25px;}
            #our-buis-infographic .row4 .item { margin-bottom: 30px; width: 100px;}
        
}   /* end of media query max-width: 750px */

@media only screen and (max-width: 460px){
    #headerleft, #headerright{
        width: 100%;
        float: left;
    }
} /* end of media query:; max-width: 460px  */

    

    /* Adapting tile images to dif mobile sizes _____________  */

        @media only screen and (max-width: 750px){
            .ar-home-powell .container2{background-image: url("../images/home/powell-wide.jpg");} 
            .people-home .container2{background-image: url("../images/home/tour-wide.jpg");} 
            .people-home .half_container:nth-child(1),
            .people-home .half_container:nth-child(2){
            	min-height: 222px;
            }
            .performance-home .text-container2{ padding: 10px; }
            .people-one-home .container2{background-image: url("../images/home/people-wide.jpg");}
            .community-home .container2{background-image: url("../images/home/fire-wide2.jpg");}
            .who-we-are-home .container2{background-image: url("../images/home/triangle-wide.gif"); background-size: auto 100%;}
            
            .global-home .container2 {background-image: url("../images/home/report-wide2.png"); background-size: auto 100%;}
        }

        @media only screen and (max-width: 620px){
            .ar-home-powell .container2{background-image: url("../images/home/powell-square.jpg");}
            .people-home .container2{background-image: url("../images/home/tour-square.jpg");} 
            .people-one-home, .people-one-home .half_container{
            	min-height: 186px;
            }
            .people-one-home .container2{background-image: url("../images/home/people-square.jpg"); background-size: 50% auto;}
            .community-home .container2{background-image: url("../images/home/fire-square.jpg"); background-size: 50% auto;}
            .who-we-are-home .container2{background-image: url("../images/home/triangle-242-242.gif"); background-size: auto 100%;}
            
            .global-home .container2 {background-image: url("../images/home/report-222-222.png"); background-size: 50% auto;}
        }

        @media only screen and (max-width: 480px){
            .ar-home-powell .container2{background-image: url("../images/home/powell-narrow.jpg");}
            
            .people-home .container2{background-image: url("../images/home/tour-narrow.jpg");} 
            .people-home .half_container:nth-child(1), .people-home .half_container:nth-child(2) {
			    min-height: 175px;
			}

            .community-home .container2{background-image: url("../images/home/fire-narrow3.jpg"); background-size: 50% auto;}
            
            .who-we-are-home .half_container { width: 100%; min-height: 100px;}
            .who-we-are-home .container2{background-image: none;}
            .who-we-are-home .half_container.col2 {background-image: url("../images/home/triangle-242-242.gif");    
            background-size: cover;
            width: 100%;
            background-position: center center;
            background-size: auto 100%;
            background-repeat: no-repeat;
            /*margin: 0% 5% 5% 5%;*/
                height: 242px;
            }
            .who-we-are-home .half_container.col1{ width: 100%; }
            
            .global-home .container2 {background-image: url("../images/home/report-222-222.png"); background-size: 50% auto;}

            /* Our business at a glance mobile style 480 */
            #our-buis-infographic .row3 span.line {max-width:200px; }


        } /* end max-width: 480px */

        @media only screen and (max-width: 350px){
            .ar-home-powell .container2{background-image: url("../images/home/powell-wide.jpg");}         
            .ar-home-powell .half_container.col1{ width: 100%; }


            .people-home .container2{
                background-image: url("../A_Baker_v_narrow.jpg");
                background-size: 100% auto;
            }            
            .people-home .half_container { width: 100%; height: 50%;}
            
            
            .people-one-home .half_container { width: 100%;}
            .people-one-home .container2{background-image: none;}
            .people-one-home .half_container.col2 {background-image: url("../images/home/people-sml-widest.jpg");    
            background-size: cover;
            width: 100%;
            background-repeat: no-repeat;
            /*margin: 0% 5% 5% 5%;*/
               
            }
            .people-one-home .half_container.col1{ width: 100%; }
            
            .who-we-are-home .half_container { width: 100%;}
            .who-we-are-home .container2{background-image: none;}
            .who-we-are-home .half_container.col2 {background-image: url("../images/home/triangle-wide.gif");    
            background-size: cover;
            width: 100%;
            background-position: center center;
            background-size: auto 100%;
            background-repeat: no-repeat;
            /*margin: 0% 5% 5% 5%;*/
                height: 242px;
            }
            .who-we-are-home .half_container.col1{ width: 100%; }
            
            
            .global-home .half_container { width: 100%;}
            .global-home .container2{background-image: none;}
            .global-home .half_container.col2 {background-image: url("../images/home/report-wide.png");    
            background-size: cover;
            width: 100%;
            background-position: right bottom;
            background-size: auto 100%;
            background-repeat: no-repeat;
            /*margin: 0% 5% 5% 5%;*/
                height: 242px;
            }
            .global-home .half_container.col1{ width: 100%; }
            
        }

        @media only screen and (max-width: 360px){
            .half_container.col1 {min-height: 10px;}
            .half_container.col2 {min-height: 100px;}
            .half_container .text-container2 {margin: 0% 5% 5% 5%; padding:0;}

            .ar-home-powell .half_container { width: 100%; height: auto;}
            .ar-home-powell .container2{background-image: none;}
            .ar-home-powell .half_container.col1 { width: 100%; min-height: 170px; background-position: right top;}
            .ar-home-powell .half_container.col2 {background-image: url("../images/home/powell-sml-widest.jpg");  
            background-size: cover;
            width: 90%;
            margin: 0% 5% 5% 5%;
            
            }


            .people-home .half_container, .community-home .half_container, .community-home .half_container.col1 { width: 100%; height: auto;}
            .people-home .container2, .community-home .container2{background-image: none;}
            .people-home .half_container.col2, .community-home .half_container.col2 {background-image: url("../images/home/tour-sml-widest.jpg");  
            background-size: cover;
            width: 90%;
            margin: 5%;
            
            }
            .community-home .half_container .img-container2 {height: auto;}
            .people-home .half_container:nth-child(2) {
            min-height: 0px;
            }

            .community-home .half_container.col1 { background-color: #f6dabf;}

            .community-home .half_container { width: 100%; height: auto;}
            .community-home .container2{background-image: none; background-color: #f6dabf;}
            .community-home .half_container.col2 {background-image: url("../images/home/fire-sml-widest.jpg");  
            background-size: cover;
            width: 90%;
            margin: 5%;
            
            }
            .community-home .half_container:nth-child(2) {
            min-height: 0px;
            }
            
            .people-one-home .half_container.col2 {
				min-height: 174px;
			}	            
            
            .global-home .half_container.col2 {
            	background-image: url("../images/home/report-wide.png");
            	background-size: 100% auto;            
            }  
        } 

/* --------------
-----------------
Annual Report 2014 
-----------------
-----------------
__________________________________________________________________________________________________________________________________*/

.webtile .imageholder {width:100%;  height: 142px; background-repeat:no-repeat;
background-size:cover;}

/*
	---------------------------------
	Central Content
	---------------------------------
*/


/*
		---------------------------------
		Columns
		---------------------------------
*/


.audit-and-risk-comittee #nu_leftcol, .public-interest-body #nu_leftcol, .global-network #nu_leftcol, .financial-results #nu_leftcol, 
.chairmans-message #nu_leftcol,
.one-firm-one-day #nu_leftcol, .our-business #nu_leftcol,.assurance #nu_leftcol, .with_right_col #nu_leftcol{width:422px; float: left;}

.case-studies #nu_leftcol, .board #nu_leftcol, .chairmans-message #nuleftcol, #nu_leftcol .no_right_col, #nu_leftcol {width:100%; float: left;}
		
#nu_rightcol {float: right; width: 120px; }


/*
			---------------------------------
			Right Column 
			---------------------------------
*/

#nu_rightcol .container{
	float:left;
	width: 480px;
	height: auto;
}
			
#nu_rightcol .sidebar{
	float: left;
	width: 120px;
	height: auto;
}

.nu-shareprint:hover { cursor: pointer;}

#ptprint a {min-width: 115px;}

		
/*
				---------------------------------
				Sidebar sections
				----------------------------------

*/	


#nu_rightcol .sidebar_section{
	float:left;
	width: 100%;
	height: auto;
}
		
#nu_rightcol .sidebar_section_wrapper{
	float:left;
	padding: 1px 6px;
}

#nu_rightcol .centered{
	text-align: center;
}

#nu_rightcol .sidebar_section .wrapper, #nu_rightcol .inner_left, { float: left; width: 100%;}

#nu_rightcol .sidebar_section_line{
	float:left;
	margin: 0.8em 0 0 0;
	width: 100%;
}

#nu_rightcol .centered{
	text-align: center;
}



/*
					---------------------------------
					Sidebar sections - inner content
					----------------------------------

*/	
	
#nu_rightcol .number_wrapper { padding: 5px 0 0px 0;}


#nu_rightcol .double_margin{
	margin: 0.85em 0;
	padding-top: 8px;
	*padding-bottom: 8px;
}

#nu_rightcol .pdf_text{
	float:left;
	padding-left: 30px;
	margin-left: 0px;
	height: auto;
	background: url('http://www.pwc.com/en_GX/gx/ceo-survey/2014-assets/image/th-pdf-rose.png')  no-repeat 0px 4px;
	
	text-decoration: inherite;
}

#nu_rightcol .text-b4-img-in-full .text-two { display: none;}
#nu_rightcol .text-b4-img-in-full .text-one { display: block;}

#nu_rightcol .number_wrapper {text-indent: -300px; overflow: hidden;}
/* sidebar percentages */
#nu_rightcol .percent30 {background: url('../images/nu-sidebar/percentage/30pc_rose.gif')  no-repeat 0px 4px; height: 48px;}
#nu_rightcol .percent44 {background: url('../images/nu-sidebar/percentage/44pc_rose.gif')  no-repeat 0px 4px; height: 48px;}
#nu_rightcol .pounds200 {background: url('../images/our-strategy/sidebar-text_200m.gif')  no-repeat 0px 4px; height: 48px;}
#nu_rightcol .k722 {background: url('../images/financial-results/sidebar-text_722k.gif')  no-repeat 0px 4px; height: 25px;}
#nu_rightcol .m2814 {background: url('../images/financial-results/sidebar-text-2814m.gif')  no-repeat 0px 4px; height: 25px;}
.financial-results #nu_rightcol .sidebar_section_line {margin-top:2px;}
.financial-results #nu_rightcol .sidebar_section.group {margin-top:20px;} 
.financial-results #nu_rightcol img.staff {margin-top: 10px; margin-bottom: 5px;}
					
 /* Special infographics content
 */
#nu_rightcol .img_1{ 
	width: auto !important; float: left;
}

/*
				---------------------------------
				Text
				----------------------------------

*/	

h2 {font-style: italic; color: #404041 !important;}

#nu_rightcol .linktext { text-decoration: underline; color: #ffffff;}
			
#nu_rightcol .text, #nu_rightcol .text_small{
	font-size: 12px;
	letter-spacing: 0.004em;
	margin: 0em 0em;
}

#nu_rightcol .bigger_text{
	font-size: 14px;
	letter-spacing: 0.004em;
	margin: 0em 0em;
}

#nu_rightcol .number1, #nu_rightcol .number2{
	letter-spacing: 0.004em;
	margin: 0em 0em;
}

#nu_rightcol .number2{
	font-size: 50px;
}

#nu_rightcol .number1{
	font-size: 60px;
}

#nu_rightcol .bold{
	font-weight: bold;
}	

#nu_rightcol .no_underlined{
	text-decoration: none !important;
}	

#nu_rightcol .number_wrapper { font-family: Georgia, "Times New Roman"; serif;}

#nu_rightcol .special_big_text{
	font-family: Georgia, serif;
	font-size: 24px;
	font-style: italic;
}

#nu_rightcol .special_medium_text{
	font-family: Georgia, serif;
	font-size: 13px;
	font-style: italic;
}

#nu_rightcol .special_small_text{
	font-family: Georgia, serif;
	font-size: 11px;
}
			
/*
				-----------------------------------------------
				Text Colours, Background Colours and borders 
				-----------------------------------------------

*/			
#nu_rightcol .background_rose{
	background-color: #db536a;
}

#nu_rightcol .background_tangarine{	
	background-color: #eb8c00;
}

#nu_rightcol .rose{
	color: #db536a;
}

#nu_rightcol .tangerine{
	color: #eb8c00;
}

#nu_rightcol .white{
	color: #FFFFFF;
}

#nu_rightcol .orange{
	color: #dc6900;
}

#nu_rightcol .red{
	color: #e0301e;
}

#nu_rightcol .maroon{
	color: #602320;
}

#nu_rightcol .green{
	color: #968c6d;
}

#nu_rightcol .burgundy{
	color: #a32020;
}
		
#nu_rightcol .text.white{
	color: #FFFFFF;
	background-color: transparent;
}
		
#nu_rightcol .with_dotted_border{
	border-top: 1px dotted #FFFFFF;
}

#nu_rightcol .with_rose_superborder{
	border-top: 5px solid  #db536a;
}

#nu_rightcol .with_tangerine_superborder{
	border-top: 5px solid  #eb8c00;
}


#nu_rightcol .with_orange_superborder{
	border-top: 5px solid #dc6900;
}

#nu_rightcol .with_red_superborder{
	border-top: 5px solid #e0301e;
}

#nu_rightcol .with_maroon_superborder{
	border-top: 5px solid #602320;
}

#nu_rightcol .with_green_superborder{
	border-top: 5px solid #968c6d;
}

#nu_rightcol .with_burgundy_superborder{
	border-top: 5px solid #a32020;
}

#nu_rightcol .with_gray_dotted_superborder{
	border-top: 2px dotted #6d6e71;
	padding-bottom: 10px;
}

/*
			---------------------------------
			Separators
			----------------------------------

*/

#nu_rightcol .separator_7, #nu_rightcol .separator_15, #nu_rightcol .separator_30{	
	float:left;
	width: 100%;
}
			
#nu_rightcol .separator_7{
	height: 7px;
}

#nu_rightcol .separator_15{
	height: 15px;
}

#nu_rightcol .separator_30{
	height: 30px;
}


/* --------
-----------
Annual Report Desktop only Styles 
-----------
-----------
________________________________________________________________________________________________ */

@media only screen and (min-width: 769px){
#nu_rightcol .inner_right { float: left; width: 100%;}
#nu_rightcol {margin: 0.85em 0 0 0;}
}

/* --------
-----------
Annual Report Mobile only Styles
-----------
-----------
________________________________________________________________________________________________ */
   

@media only screen and (max-width: 750px){

	.fordesktop{
		display:none;
	}
	
	.formobile{
		display: inline;
	}
	

	
	.hero-image{
		display: none;
	}
	
	.sidebarlogo{
		float: left;
		width:120px;
		height: 140px;
		margin-right:20px; 
	}
	
	.body-logos-container .sidebarlogo{
		width: auto;
	}
		
	.logo1 img{
		padding-top: 49px;
		padding-bottom: 49px;
	}
	
	.logo2 img{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	.logo3 img{
		padding-top: 5px;
		padding-bottom: 10px;
	}
	
	.logo4 img{
		padding-bottom: 15px;
	}
	
	.logo5 img{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	
	/* nu_rightcol special infographics styles*/
	#nu_rightcol .special{	
		width: auto !important;
	}
	
	#nu_rightcol .img_1{ 
		text-align: left;
		padding-top: 62px;
		margin-left: -65px;
	}	
	
	/* END nu_rightcol special infographics styles*/

	#nu_rightcol .50_desktop{
		width: 100%;
	}
	
	#nu_rightcol .inner_left {float:left;
    background-repeat: no-repeat;
	}

	#nu_rightcol .wrapper .inner_right {
	overflow:hidden; 

    float: none;
	}

	#nu_rightcol, #nu_leftcol {
	/*float: none;*/
	float: left;
    width: auto;
 	}

	#nu_rightcol .sidebar, #nu_rightcol .container{
		width: 100%;
	}

	#nu_rightcol .sidebar {margin-bottom: 30px;}
	
	#nu_rightcol .wrapper_mobile{
  		 position :relative;
   		 width: 100%;
   		 margin: 0px auto;
   		 height: 100%;
   		 float: left;
   		 overflow: hidden;
	}
	
	#nu_rightcol .left_aligned{
		/*float:left;*/
		width: 120px;
		min-height: 78px;
	}
	
	#nu_rightcol .right_aligned{
		/*float: right;
		width: 60%;*/
		
		position :relative;

	}	
		
	#nu_rightcol .separator_30{
		height: 8px;
	}
	
	#nu_rightcol .sidebar_section_wrapper{
		width: 98%;
	}
	
	/* TEST */

	#nu_rightcol .wrapper{
    margin-top:10px;

    position :relative;
    width: 100%;
    margin: 0px auto;
	}
	#nu_rightcol .inner_left {

  width: 130px;


	}


	#nu_rightcol .sidebar_section_line.view_bar  {background-color: transparent; margin: 0.4em 0 0; font-weight: bold;}
	#nu_rightcol .with_rose_superborder .linktext  { color: #db536a;} 
	#nu_rightcol .with_tangerine_superborder .linktext { color: #eb8c00;}
	#nu_rightcol .with_orange_superborder .linktext { color: #dc6900;} 
	#nu_rightcol .with_red_superborder .linktext { color: #e0301e;}
	#nu_rightcol .with_maroon_superborder .linktext { color: #602320;}
	#nu_rightcol .with_burgundy_superborder .linktext { color: #a32020;}
	#nu_rightcol .with_green_superborder .linktext { color: #968c6d;}

	#nu_rightcol .linktext { text-decoration: underline;}

	#nu_rightcol .view_bar .sidebar_section_wrapper { padding: 0px;}

	#nu_rightcol .superborder .text {
    font-size: 16px;
    line-height: 19px;
	}
	#nu_rightcol .superborder .bigger_text{
    font-size: 18px;
    line-height: 21px;
	}
	#nu_rightcol .text_small{
		font-size: 12px;
    	line-height: 19px;
	}
	#nu_rightcol .pdf_text { min-height: 25px; padding-top: 8px;}

	#nu_rightcol .text-b4-img-in-full .text-one { display: none;}
	#nu_rightcol .text-b4-img-in-full .text-two { display: block;}

	#nu_rightcol .centered{
		text-align: left;
	}
	
	#nu_rightcol .logo{		
		height: auto;
   		margin-bottom: 10px;
    	margin-top: 10px;
    	min-height: 40px;
	}

}	/* end mobile styles */




	        