.mm-pic-left {float: left; margin-right: 10px; width: 125px;}
.mm-play-icon {bottom: 23px; left: -3px; position: relative; width: 23px;}
.mm-play-time {margin: 0; display: inline; bottom: 30px; left: 58px; position: relative; background-color: #404041; width: 70px; color: #fff; padding: 3px;}
.mm-content-right {float: right; width: 400px;}
.mm-content-right h3 {margin:0px;}
.mm-content-right p {margin:5px 0px;}
.podcast-icon {background-image: url(/en_UK/uk/assets/images/pcicon.gif)!important; background-repeat: no-repeat !important; background-position: 0 !important; padding-left: 35px !important; line-height: 150% !important;}
.webcast-icon {background-image: url(/en_UK/uk/assets/images/wcicon.gif)!important; background-repeat: no-repeat !important; background-position: 0 !important; padding-left: 35px !important; line-height: 150% !important;}
.play-icon {background-image: url(/en_GX/webadmin/assets/image/media-play-button.gif)!important; background-repeat: no-repeat !important; background-position: 0 !important; padding-left: 35px !important; line-height: 150% !important;}

.media-pane h2 {font-family: Georgia,"Times New Roman",Times,serif; font-size: 0.95em; font-style: italic; color:#dc6900; margin-bottom:15px;}
ul.sub-nav-items {   
list-style: none outside none;
    margin: 0 !important;
margin-left:0px !important;
    padding: 0 !important;}
ul.sub-nav-items li{
list-style: none outside none !important;
padding: 0 !important;
float: left;
width: 55px;
height: 20px;
border-right:solid 1px #dc6900;
padding:0 10px !important;
}

ul.sub-nav-items li a,
ul.sub-nav-items li a:visited,
ul.sub-nav-items li a:active
ul.sub-nav-items li a:hover{
text-decoration: underline;
color: #dc6900 !important;
font-style:italic;
}
.rhbox li {
border-bottom: 1px dotted #968C6D; padding-bottom:3px;
}
.rhbox li h4 {
background-position: 0 top !important; min-height:25px;
}