
.winners_right {
    float: right;
    margin: 0px 0px 0px 12px;
}

h2.small {
    font-size: 105%;
    padding-bottom: 0px;
}

.black {
    background-color: #6d6e71 !important;
}


.info-block {
	width:192px;
	margin:0;
	padding:0;
	color: #ffffff !important;
	text-align:left;
}

.info-block h2 { font-size: 100%;
    font-weight: normal;
	font-family:arial;
	margin: 0 10px 5px 10px;
	padding:10px 0 0 0;
	color: #ffffff !important;
	text-align:left;
	}

.info-block h3 {
    display: block;
    font-family: georgia;
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
    padding:0px;
	margin: 5px 10px;
	text-align:left;
	color: #ffffff !important;
}

.burgundy {}

.info-block  p {
	margin: 0px 10px 5px 10px;
	padding:0px;
	text-align:left;
}


.info-block a, .info-block a:hover {
    color: #ffffff !important;
	text-decoration: none;
}

.info-block p a, .info-block p a:hover{ text-decoration: underline;}

.info-block img { margin: 5px 10px;}

img.pdf {float:left; margin:0px 5px 10px 0px;}

.clearer {clear:both; margin:0; padding:0;}

.burgundy-box {
	background:#a32020;
	padding:8px;
	font-family:georgia;
	font-style: italic;
	font-weight: bold;
	font-size:1.2em;
	margin:5px 10px 0 0;
	color: #ffffff !important;
	}
	
.burgundy-box a {
	color: #ffffff !important;
	text-decoration:none !important;
	}