/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins{text-decoration: none;}
del{text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/* ********* Headers ********** */

h1, h2, h3, h4, h5, h6, h7{
font-family: georgia;
font-weight: bold;
}

h1{
color: #DC6900 !important; 
font-size: 1.4em;
font-weight: bold;
margin-bottom: 1em;
}

h2{
font-size:  125%;
font-style: italic; 
padding-bottom: 6px;
color: #404041 !important
}

h3 {color: #a32020; }

h4 {
font-family: Arial,Helvetica,sans-serif;
font-size:0.95em;
font-weight: bold;}

h5{
font-size:  150%;
font-style: italic;
color: #a32020 !important;
margin-bottom: 6px;
border-top: 4px solid #a32020;
padding-top:6px;
}

h6{
font-size:  150%;
font-style: italic;
color: #dc6900 !important;
margin-bottom: 6px;
border-top: 4px solid #dc6900;
padding-top:6px;
}

blockquote {
font-size: 150%;
font-style: italic;
font-weight:normal;
color: #eb8c00;
font-family: georgia;
margin-left:0;
margin-right:40px;
line-height:1.2em;
}

hr{
color: #fff; 
background-color: #fff; 
border: 1px dotted #C7C8CA; 
border-style: none none dotted; 
}

p {
font-size: 0.95em;
margin: 0.85em 0;
letter-spacing: 0.004em;
}


/* ********** GENERIC ENDS ********** */

/* ********** CUSTOM STYLE ********** */
.block_sm {color: e0301e; font-size: 1.1em; width: 220px; float: left; margin: 0 20px;}

/* ********** CONTENT SECTION BEGINS ********** */	
		
#content-banner {margin-bottom: 10px;}

#content-section a, 
#content-section a:visited{
color:#404041 !important;
text-decoration:underline !important;
}

#content-section a:hover {
color: #EB8C00 !important; /*colour change */
text-decoration:underline !important;
}

#content-section a:link {color:#404041 !important; /*colour change */
text-decoration:underline !important;
}
#content-section a:visited {color: #404041 !important; /*colour change */
text-decoration:underline !important;
}

#content-section ul a:link {
color:#EB8C00; /* colour change */
text-decoration:none;
}

#content-section ul a:hover {text-decoration:underline !important; color: #EB8C00 !important;}
#content-section ul{margin-bottom:15px;}
#content-section ul li {color:#404041; /* colour change */
list-style: outside;    
list-style-type: square;
margin-left: 20px;
margin-top:10px;   
}
		
/* ********** CONTENT SECTION ENDS ********** */
		

/*general*/
/*colours*/

#content-section a:visited {color: #404041 !important; /*colour change */
text-decoration:underline !important;
}
.selectbox{
border-top:4px solid;
font-family:Arial,Helvetica,sans-serif;
margin-bottom:10px;
font-weight: bold;
padding: 5px 12px 10px 12px !important;
height: 190px;
line-height: 1.5em;
float: right;
width:168px;
}
.selectbox p{
font-family:georgia;
margin-bottom:0.1em;
color:#6D6E71;
}

.cs-selectbox{
border-top:4px solid;
font-family:Arial,Helvetica,sans-serif;
margin-bottom:10px;
font-weight: bold;
padding: 5px 12px 10px 12px !important;
height: 190px;
line-height: 1.5em;
float: right;
width:168px;
height:285px;
}
.cs-selectbox p{
font-family:georgia;
margin-bottom:0.1em;
color:#6D6E71;
}

/*case studies page*/

/*.highlightbox {
margin:0px 10px 10px 10px;
padding: 5px 12px 10px 12px !important;
height: auto;
width: 170px;
line-height: 1.2em;
float: right;
background-color:transparent;
color: #404041;
}

.highlightbox  { margin-right: 10px; }

.highlightbox p {
font-weight: normal;
font-style:italic;
background-color:transparent;
color: #404041;
}

#content-section .highlightbox{
border-top:0 none;
font-size:14px;
padding:10px;
width:192px;
background-color:transparent;
color: #404041;}*/

#content-section .left{
float:left;
margin-right:15px;
}
#content-section .right{
float:right;
margin-left:15px;
}
.main_block{width: 980px;}

/**infoblock rhs **/
.infoblock{
float: left;
width:192px;
height: 164px;
margin-top: 10px;
margin-bottom: 12px;
background-repeat: no-repeat; }

.infoblock p 
{font-family: Arial,Helvetica,sans-serif;
color:#fff;
padding-left: 10px;
padding-right: 6px;
font-size:12px;
margin:0;
}

.infoblock  a:visited{
color:#fff !important;
text-decoration:none !important;
}

.infoblock  a:hover {
color:#fff !important;
text-decoration:none !important;
}
.infoblock  a:link {color:#fff !important;
text-decoration:none !important;
}

.infoblock  a:visited {color:#fff !important;
text-decoration:none !important;
}

/** Webtiles **/
.infoblock h3 strong  {
font-family:arial;
font-weight:normal;
font-style:normal;
font-size: 12px;
padding-right: 10px
}
.webtile {text-align:left;}

.infoblock h3
{font-style:italic;
font-weight:bold;
font-size:15px;
padding-left: 10px;
padding-right: 6px;
padding-top:0;
color:#fff;
margin-bottom:5px;
margin-top: 95px;
}

.infoblock div a h3, .infoblock div a p { margin-top:!important; }


/***standfirst***/

.orange_para, .tangerine_para, .red_para, .rose_para, .burgundy_para, .grey_para {font-weight:bold;}
.orange_para, .orange {color: #dc6900 !important;}
.tangerine_para, .tangerine {color:#eb8c00 !important;}
.red_para, .red {color:#e0301e !important;}
.rose_para, .rose {color:#db536a !important;}
.burgundy_para, .burgundy {color:#a32020 !important;}

.subtitle { 
font-size:1em;
padding:0px 0px 4px 0px;
color:#6d6e71 !important;
font-weight:bold;
font-style:normal;
font-family: arial, helvetica;
border-bottom:1px dotted #6d6e71;
border-top:1px solid #6d6e71;}

/** CASE STUDIES **/
.case-study {font-size:0.8em;}

img.case-study-image {float:left; margin-bottom:0px;}

blockquote.case-study-quote {
	margin-left:330px;
	font-size:1em;
	font-weight: bold;
	line-height: 1.3em;} 
	
p.case-study-byline {width:310px; color:#6e6d71; font-weight:bold; padding-top: 3px; padding-bottom:3px; border-top: 2px solid #6d6e71; border-bottom: 1px dotted #6d6e71; margin-bottom:0;}

p.case-study-byline2 {color: #6e6d71; margin-top:0; padding-top:3px; margin-bottom:0;}

hr.grey-bar {
  border:1px solid #6D6E71;
	width: 310px;
	margin:0;
}


.case-study a {color:#404041 !important;}
.case-study a:hover {color:#404041 !important; text-decoration:none;}

/** Modal video transcript links **/
#media-details a {font-weight:bold; color:#404041 !important;}
#media-details a:hover {color: #404041 !important; text-decoration:none;}


/***kpi***/

.kpi_container {
width: 100%;
height: 250px;
background-image: url(/en_uk/uk/annualreport/assets/2012/kpi-holder.jpg); 
background-position: left top;
background-repeat: no-repeat;}

.kpi_box { 
width: 270px;
margin:15px 65px 15px 15px;
color:#ffffff !important;
float:right;
background-color: #dc6900;
font-family:georgia;
font-style: italic;
}
.sm_box { background-color: #e0301e !important; margin: 15px 0px 5px 178px; float: left; width: 370px;}

.kpi_title {
width: 190px;
margin:0px 65px 15px 15px;
float:right;
}

.sm_title  {margin: 5px 0px 5px 208px; float: left;}

.kpi_title h3 {
margin:0;
font-size:1em;
padding:0px 0px 4px 0px;
color:#6d6e71 !important;
font-weight:bold;
font-style:normal;
font-family: arial, helvetica;
border-bottom:1px dotted #6d6e71;
}

.kpi_title p {
margin:0px ;
padding:0px;
font-size:1em;
color:#6d6e71 !important;
font-family: arial, helvetica;
}

.kpi_box h2{
margin:15px;
padding:0px 0px 7px 0px;
color:#ffffff !important;
font-size:1.3em;
border-bottom:1px dotted #ffffff;
border-top:none;
}

.kpi_box h4 { 
margin: 25px 15px 15px 15px;
padding:0px 0px 7px 0px;
color:#ffffff !important;
font-size:1.1em;
border:none;
font-family:georgia;
font-style: italic;
}

.kpi_box p{
margin: 15px;
font-size: 64px;
font-weight: bold;
font-style: italic;
color:#ffffff !important;
padding: 10px 0px ;
}

.kpi_box blockquote { 
color: #ffffff !important; 
margin: 15px;
}
/****/
.profile_container {
height: 170px;
width: 100%; 
background-position: left top;
background-repeat: no-repeat;
 }

.profile_boxright {
width: 370px;
margin: 15px 0 10px 10px;
color: #ffffff !important;
float: right;
background-color: #e0301e;
}

.profile_titleright {
width: 190px;
margin: 0px 75px 15px 15px;
float: right;
font-weight:bold;
border-top: 1px dotted #6d6e71;
}

.profile_box { 
width: 370px;
margin: 15px 0 15px 0px;
color: #ffffff !important;
float: left;
background-color: #a32020;
}

.profile_title {
 width: 150px;
 margin: 195px 30px 15px 0px;
 float: left;
}

.profile_container p {font-size: 1.1em; margin:8px 15px; color: #ffffff; font-family: georgia, serif; font-style:italic;}
.profile_container h2 { margin:15px; padding:0px 0px 7px 0px; color:#ffffff !important; font-size:1.1em; border-bottom:1px dotted #ffffff !important; border-top:none; font-family:georgia;
font-style: italic;}

.profile_title h3 , .profile_titleright h3{
margin:0;
font-size:1em;
padding:0px 0px 4px 0px;
color:#6d6e71 !important;
font-weight:bold;
font-style:normal;
font-family: arial, helvetica;
border-bottom:1px dotted #6d6e71;
}

.profile_title p, .profile_titleright p {
margin:0px ;
padding:0px;
font-size:1em;
color:#6d6e71 !important;
font-family: arial, helvetica;
font-weight:normal;
}

/*** profile casestudy boxes***/
.profilebox {  position: relative; width: 280px; float: left;}
.profilebox .kpi_title {margin: 15px 0; width:180px; float: none;}
.box_casestudy {background-color: #dc6900; position: absolute; top: 190px; left: 210px; width: 360px; color:#ffffff !important; margin-bottom:20px;}
.box_casestudy p {font-size: 0.95em; margin:8px 15px; color: #ffffff;
font-family: Arial, Helvetica, sans-serif;}
.box_casestudy h2 { margin:15px; padding:0px 0px 7px 0px; color:#ffffff !important; font-size:1.1em; border-bottom:1px dotted #ffffff !important; border-top:none; font-family:georgia;
font-style: italic;}

.main_box { 
width:97%;
margin:0;
padding: 10px;
color:#ffffff !important;
}
.main_box  h3 {color:#ffffff !important; }

.bg_tangerine {color:#000000 !important; background-color: #eb8c00;}
.bg_red {background-color: #e0301e !important;}
.bg_orange {background-color: #dc6900 !important;}
.bg_burgundy {background-color: #a32020 !important;}

/*** image and text overlay div ***/
.image { 
   position: relative; 
   width: 280px; /* for IE 6 */
   float:left;
}

.image h3 { 
   position: absolute; 
   top: 5px; 
   left: 10px; 
   width: 240px;
  font-size:1.4em   
}
/***achievement popup***/
.iconbox_left {
width:275px;
margin-right:20px;
float:left;
background-image: url(/en_uk/uk/annualreport/assets/2012/iconbox_bg.jpg); 
background-position: bottom left;
background-repeat: no-repeat;
}

.iconbox_left img , .iconbox_right img { float:left;}
.iconbox_left p, .iconbox_right p { }

.iconbox_right {
width:275px;
float: right;
background-image: url(/en_uk/uk/annualreport/assets/2012/iconbox_bg.jpg); 
background-position: bottom left;
background-repeat: no-repeat;
}

.colone {
width: 265px;
margin-right: 20px;
float: left;
}

.coltwo {
width: 265px;
float: right;
}

/* AR13 webtiles */
.wbtilepara {
color: #FFFFFF;
display: block;
font-family: Arial,"Times New Roman";
font-style: normal;
font-weight: normal;
line-height: 1.2em;
margin: 0 0 10px;
padding: 0;
}
.webtileimage a {margin-top:0 !important;}

/* MOBILE SPECIFIC */
#pwcmobile .kpi_container {background-image:none; float:none; height:auto;width:100%;}
#pwcmobile .kpi_box {width:100%; float:none; margin:0; padding:3px;}
#pwcmobile .kpi_title {float:none; margin:0;}

#pwc-mobile .kpi_box {padding-top:1px;}
#pwcmobile .infoblock {background-color:rgba(163, 32, 32, .95); width:100%; height:auto;}
#pwcmobile blockquote {margin:5px;}

/*casestudy modal box*/
#pwcmobile .case-study {width:auto; height:auto !important; }
#pwcmobile p.case-study-byline {width:auto;}
#pwcmobile img.case-study-image {float:none;}
#pwcmobile .case-study p {width:auto !important;}
#pwcmobile div#media-inline-html-div {height:auto !important; width:auto !important; padding:0px !important;}
#pwcmobile #media-player {width:auto !important;}
#pwcmobile .top-block {background-image: none; width:100%; height: 100%; font-size: 1.4em; font-weight: bold;  margin-bottom: 1em; padding: 10px; font-style:italic; color:#db536a;}
#pwcmobile .profile_container { width:auto; height:auto !important; float:none; padding-top:195px;}
#pwcmobile .nobg {background:none !important; padding-top:0px !important;}
#pwcmobile .profile_box, #pwcmobile .profile_boxright {width:98%; height:auto;  float:none; padding:10px; margin-left:0px;}
#pwcmobile .profile_container h2 { margin:0px 0px 7px 0px !important;}
#pwcmobile .profile_box p, #pwcmobile .profile_boxright  p { margin-left:0px !important;}
#pwcmobile .profile_title, #pwcmobile .profile_titleright {width:auto; height:auto; float:none; clear:both; margin:0px;}

/* 2013 NEW */
.top-block {background-image: url ('/en_uk/uk/annualreport/assets/2013/ian-powell-conversation.jpg'); width:536px; height: 420px; font-size: 1.4em; font-weight: bold;  margin-bottom: 1em; padding: 10px; font-style:italic; color:#fff;}
.grey-feature {background-color: #F4F5F0; border-top: 4px solid #DC6900; float: right; margin: 5px 0 10px 10px; padding: 10px; width: 220px;}
.grey-feature span {color:#dc6900; font-weight:bold; display:block; margin:0 0 8px 0;}
.grey-feature p {margin:0;}