@charset "windows-1250";
/* CSS Document */

#gew{width:556px; float:left; margin-top:1px;}

#gew h3{ font-family:Georgia, "Times New Roman", Times, serif; font-size:1.4em; font-weight:bold; font-style:italic; margin:0px 0px 5px 0px !important; padding:0px !important; border-top: none !important;}
#gew h3 a{ text-decoration:none !important;}
#gew h3 a:hover{ text-decoration:underline !important;}

#gew h4{ font-family:Georgia, "Times New Roman", Times, serif; font-size:1.3em; font-weight:normal; font-style:normal; margin:0px 0px 5px 0px; padding:0px;}
#gew h4 a{ text-decoration:none !important;}
#gew h4 a:hover{ text-decoration:underline !important;}

#gew p{margin:0px 0px 5px 0px !important; padding:0px !important;}
#gew p a{ text-decoration:none !important; font-family:Arial, Helvetica, sans-serif; }
#gew p a:hover{ text-decoration:underline !important;}

.panel{padding:10px; float:left; background-position:center bottom; background-color:#f0f0f0; background-repeat:no-repeat;}

.panel .img_bottom{ position:absolute; bottom:10px;}


/* START Panels with background color */
.bg_tangerine{background-color:#eb8c00; color:#FFF !important;}
.bg_orange{background-color:#dc6900; color:#FFF !important;}
.bg_red{background-color:#e0301e; color:#FFF !important;}
.bg_rose{background-color:#db536a; color:#FFF !important;}
.bg_burgundy{background-color:#a32020; color:#FFF !important;}
.bg_maroon{background-color:#602320; color:#FFF !important;}
.bg_black{background-color:#6d6e71; color:#FFF !important;}

.bg_tangerine h3, .bg_orange h3, .bg_red h3, .bg_rose h3, .bg_burgundy h3, .bg_maroon h3, .bg_black h3, .bg_tangerine h3 a, .bg_orange h3 a, .bg_red h3 a, .bg_rose h3 a, .bg_burgundy h3 a, .bg_maroon h3 a, .bg_black h3 a{color:#fff !important;}

.bg_tangerine h4, .bg_orange h4, .bg_red h4, .bg_rose h4, .bg_burgundy h4, .bg_maroon h4, .bg_black h4, .bg_tangerine h4 a, .bg_orange h4 a, .bg_red h4 a, .bg_rose h4 a, .bg_burgundy h4 a, .bg_maroon h4 a, .bg_black h4 a{color:#fff !important;}

.bg_tangerine p, .bg_orange p, .bg_red p, .bg_rose p, .bg_burgundy p, .bg_maroon p, .bg_black p, .bg_tangerine p a, .bg_orange p a, .bg_red p a, .bg_rose p a, .bg_burgundy p a, .bg_maroon p a, .bg_black p a{color:#fff !important;}
/* END Panels with background color */

.tangerine{color:#eb8c00;}
.orange{color:#dc6900;}
.red{color:#e0301e;}
.rose{color:#db536a;}
.burgundy{color:#a32020;}
.maroon{color:#602320;}
.black{color:#6d6e71;}

.tangerine h3, .tangerine h4{color:#eb8c00 !important;}
.orange h3, .orange h4{color:#dc6900 !important;}
.red h3, .red h4{color:#e0301e !important;}
.rose h3, .rose h4 a{color:#db536a !important;}
.burgundy h3, .burgundy h4 a{color:#a32020 !important;}
.maroon h3, .maroon h4 a{color:#602320 !important;}
.black h3, .black h4 a{color:#6d6e71 !important;}

.tangerine h3 a, .tangerine h4 a, .tangerine p a{color:#eb8c00 !important;}
.orange h3 a, .orange h4 a, .orange p a{color:#dc6900 !important;}
.red h3 a, .red h4 a, .red p a{color:#e0301e !important;}
.rose h3 a, .rose h4 a, .rose p a{color:#db536a !important;}
.burgundy h3 a, .burgundy h4 a, .burgundy p a{color:#a32020 !important;}
.maroon h3 a, .maroon h4 a, .maroon p a{color:#602320 !important;}
.black h3 a, .black h4 a, .black p a{color:#6d6e71 !important;}



/* START 3 panels 1 feature */
#gew .threePanels_oneFeature{width:556px; }
#gew .threePanels_oneFeature .A{width:258px; margin:0px 1px 1px 0px; height:261px; position:relative;}
#gew .threePanels_oneFeature .A div.bg_transparent{ width:258px;}
#gew .threePanels_oneFeature .B{width:256px;  height:120px; margin:0px 1px 1px 0px; margin-right:1px; padding:10px; position:relative;} 
#gew .threePanels_oneFeature .B div.bg_transparent{ width:256px;}
#gew .threePanels_oneFeature .C{width:256px; height:120px; margin:0px 1px 1px 0px; margin-right:1px; padding:10px; position:relative;} 
#gew .threePanels_oneFeature .C div.bg_transparent{ width:256px;}
/* END 3 panels 1 feature */

/* START 3 panels 2 feature */
#gew .threePanels_twoFeature{width:556px;}
#gew .threePanels_twoFeature .A{width:258px; margin:0px 1px 1px 0px; height:399px; position:relative;}
#gew .threePanels_twoFeature .A div.bg_transparent{ width:258px;}
#gew .threePanels_twoFeature .B{width:256px; height:120px; margin:0px 1px 1px 0px; padding:10px; position:relative;}
#gew .threePanels_twoFeature .B div.bg_transparent{ width:256px;}
#gew .threePanels_twoFeature .C{width:256px; height:258px; margin:0px 1px 1px 0px; padding:10px; position:relative;}
#gew .threePanels_twoFeature .C div.bg_transparent{ width:256px;}
/* END 3 panels 2 feature */

/* START 5 panels 2 feature */
#gew .fivePanels_twoFeature{width:556px;}
#gew .fivePanels_twoFeature .A{width:257px; height:259px; margin:0px 1px 1px 0px; position:relative;}
#gew .fivePanels_twoFeature .A div.bg_transparent{ width:257px;}
#gew .fivePanels_twoFeature .B{width:257px;  height:259px; margin:0px 1px 1px 0px; padding:10px; position:relative;}
#gew .fivePanels_twoFeature .B div.bg_transparent{ width:257px;}
#gew .fivePanels_twoFeature .C{width:165px; height:129px; margin:0px 1px 1px 0px; padding:10px; position:relative;} 
#gew .fivePanels_twoFeature .C div.bg_transparent{ width:165px;}
#gew .fivePanels_twoFeature .D{width:164px; height:129px; margin:0px 1px 1px 0px; padding:10px; position:relative;} 
#gew .fivePanels_twoFeature .D div.bg_transparent{ width:164px;}
#gew .fivePanels_twoFeature .E{width:164px; height:129px; padding:10px; position:relative; margin:0px 1px 1px 0px;} 
#gew .fivePanels_twoFeature .E div.bg_transparent{ width:164px;}
/* END 5 panels 2 feature */

/* START 5 panels 1 feature */
#gew .fivePanels_oneFeature{width:556px;}
#gew .fivePanels_oneFeature .A{width:350px; height:259px; position:relative; margin:0px 1px 1px 0px;}
#gew .fivePanels_oneFeature .A div.bg_transparent{ width:350px;}
#gew .fivePanels_oneFeature .B{width:164px;  height:259px; padding:10px; position:relative; margin:0px 1px 1px 0px;}
#gew .fivePanels_oneFeature .B div.bg_transparent{ width:164px;}
#gew .fivePanels_oneFeature .C{width:165px; height:129px; padding:10px; position:relative; margin:0px 1px 1px 0px;} 
#gew .fivePanels_oneFeature .C div.bg_transparent{ width:165px;}
#gew .fivePanels_oneFeature .D{width:164px; height:129px; padding:10px; position:relative; margin:0px 1px 1px 0px;} 
#gew .fivePanels_oneFeature .D div.bg_transparent{ width:164px;}
#gew .fivePanels_oneFeature .E{width:164px; height:129px; padding:10px; position:relative; margin:0px 1px 1px 0px;} 
#gew .fivePanels_oneFeature .E div.bg_transparent{ width:164px;}
/* END 5 panels 1 feature */


/* START Opacity */
.bg_transparent {filter: alpha(opacity=95); opacity: 0.95; position:absolute; bottom:0px;padding:10px; left:0px;  color:#FFF !important;}

.bg_transparent h3, .bg_transparent h3 a, .bg_transparent h4, .bg_transparent h4 a, .bg_transparent p, .bg_transparent p a{color:#FFF !important;}

.bg_transparent.bg_transparent_tangerine{background-color:#eb8c00;}
.bg_transparent.bg_transparent_orange{background-color:#dc6900;}
.bg_transparent.bg_transparent_red{background-color:#e0301e;}
.bg_transparent.bg_transparent_rose{background-color:#db536a;}
.bg_transparent.bg_transparent_burgundy{background-color:#a32020;}
.bg_transparent.bg_transparent_maroon{background-color:#602320;}
.bg_transparent.bg_transparent_black{background-color:#6d6e71;}

/* END Opacity */
