
	/* Form specific */
	* html form { position: relative; z-index: -1; } /* Fixes highlighting bug in IE6 */
	
	form h2 {
		font-weight: normal;
	}
	
	.formbox {
		background-color: #e7e7e8;
		padding: 10px;
		border: 1px solid #c7c8ca;
		margin-bottom: 20px;
		display: block;
    	font-size: 9pt;
	}
	.formbox p { font-size: 1em !important; }
	* html .formbox { padding: 5px; display: inline-block} /* Triggers hasLayout for IE6 */
	
	.formsingle {}
	.formsingle2 {}
	.formdouble {
		width: 363px;
		float: left;
		position: static;
	}
	* html .formdouble { width: 365px; }

	.forminline .formfield {
		float: left;
		margin-right: 10px;
	}
	
	.formfield {
		padding: 3px;
		display: inherit;
		margin-bottom: 2px;
		margin-right: 2px;
	}
	
	.formrequired {
		color: #e0301e;
		font-size: 1.5em;
		display: inline;
	}
	
	.formfield label {
		display: block;
		width: 150px;
		float: left;
		line-height: 1em;
		margin: 6px 10px 0 2px;
	}
	* html .formfield label { width: 145px; }
	
	.formsingle2 .formfield label {
		width: 230px;
	}
	
	.labelval { 	color: #e0301e; }
	
	.formfield input, .formfield select {
		font-size: 1em;
		line-height: 22px;
		width: 153px;
		height: 22px;
		padding: 0;
		margin: 0;
		margin-right: 2px;
		vertical-align: middle;
	}
	.formsingle2 .formfield input {
		width: 240px;
	}
	.formfield select {
		height: 24px;
		margin-right: 2px;
	}
	.formsingle2 .formfield select {
		width: 240px;
	}
	.formfield textarea {
		width: 310px;
		font-size: 1em;
		margin-right: 2px;
		margin-top: 2px;
		clear: all;
	}
	.formsingle .formfield textarea { width: 670px; }
	
	.formsingle2 .formfield textarea { width: 480px; }
	
	.fieldhelp img {
		margin-bottom: -5px;
		border: 0;
		display: none;
	}
	*html .fieldhelp img { margin-bottom: 0; }
	*:first-child+html .fieldhelp img { margin-bottom: 0; }
	.fieldhelpon {
		display: inline !important;
	}
		
	.formfield .pwcrad {
		margin-right: 2px;
		width: 15px;
		border: 0;
		vertical-align: middle;
		width: auto !important;
	}
	
	.formfield .pwcchk {
		margin-right: 5px;
		width: 15px;
		border: 0;
		vertical-align: middle;
		width: auto !important;
	}
	.formfield .fieldjustify { margin-left: 162px; }
	* html .formfield .fieldjustify { margin-left: 160px; }
	.formsingle2 .formfield .fieldjustify { margin-left: 242px; }
	* html .formsingle2 .formfield .fieldjustify { margin-left: 247px; }
	
	.formfield .form-yy, .formfield .form-mm, .formfield .form-dd { /* Smaller date fields */
		width: 47px;
		text-align: center;
		margin-right: 4px;
	}
	
	.formfield .form-phone {
		text-align: center;
	}
	.formfield .fieldhalf { width: 77px; }
	.labelhalf { width: 60px !important; }
	* html .labelhalf { width: 55px !important; }
	.labelmulti { margin-top: 0 !important; }
	label.radlabel, label.chklabel {
		display: inline;
		width: auto;
		float: none;
		line-height: 1em;
		margin-right: 2px;
	}
	.labelabove { width: 100% !important;}
	.formsingle2 .labelabove { width: 480px !important; margin-right: 30px; }
	* html .formsingle2 .labelabove { width: 450px !important; margin-right: 30px; }
	* html .formsingle .labelabove { width: 650px !important; }
	
	div.form2column div { float: left; width: 49%; }
	div.form3column div { float: left; width: 32%; }
	
	.formfield .buttonsubmit, .formfield .buttonreset {
		width: auto;
		height: auto;
		color: #ffffff;
		font-size: 1.2em;
		font-weight: normal;
		padding: 5px 10px;
		border: 0;
	}
	.formfield .buttonreset {
		background-color: #c7c8ca !important;
		border: 1px solid #3c393a !important;
		color: #3c393a;
		margin-left: 10px;
	}
	
	#formbuttons {
		padding: 0 !important;
		margin: 0 !important;
		background-color: #ffffff !important;
	}
	* html #formbuttons { position: relative; z-index: +1 !important; }

	.fieldhighlighton {
		border: 1px solid #c7c8ca;
		padding: 2px;
	}
	
	.fieldhighlightval {
		background-color: #ffffff;
		border: 1px solid #ff0000;
		padding: 2px;
	}
	.fieldhighlightval2 {
		border: 1px solid #ff0000 !important;
		background-color: #fbeef0;
	}
	.fieldhighlightoff {
		background-color: #e7e7e8;
		border: 0;
		padding: 3px;
	}
	.fieldvalidateoff {
		background-color: #ffffff;
	}
	
	.clear {
		 clear: both;
		 display: block;
		 overflow: hidden;
		 visibility: hidden;
		 width: 0;
		 height: 0;
	}
	
/* Tooltip CSS */

	a.fieldhelp{
		position:relative;
		z-index:24;
	}
	a.fieldhelp span{ display: none; }
	
	/*background:; ie hack, something must be changed in a for ie to execute it*/
	a.fieldhelp:hover{ z-index:25; text-decoration: none !important;}
	a.fieldhelp:hover span.tooltip{
		display:block;
		position:absolute;
		bottom: 25px;
		right: 0;
		padding: 15px 0 0 0;
		width:160px;
		color: #000000;
		font-weight: normal;
		filter: alpha(opacity:90);
		KHTMLOpacity: 0.90;
		MozOpacity: 0.90;
		opacity: 0.90;
	}
	* html a.fieldhelp:hover span.tooltip { /* IE 6 positioning not ideal */
		left: -140px;
		bottom: 100%;
	}
	a.fieldhelp:hover span.top{
		display: block;
		padding: 5px 5px 0;
		background: url(/en_GX/webadmin/assets/image/formbubble.gif) no-repeat top;
		height: 0;
	}
	a.fieldhelp:hover span.middle{ /* different middle bg for stretch */
		display: block;
		padding: 0 5px; 
		background: url(/en_GX/webadmin/assets/image/formbubble-filler.gif) repeat bottom; 
	}
	a.fieldhelp:hover span.bottom{
		display: block;
		padding:5px 5px 15px;
		color: #548912;
		background: url(/en_GX/webadmin/assets/image/formbubble.gif) no-repeat bottom;
		height: 0;
	}

/* Override 2010 contacts tooltip */

.tooltip {
	margin: 0 !important;
	background-color: none !important;
}
span.tooltip{ 
	display: block;
	width: 160px !important;
	padding: 15px 0 0 0 !important;
	background-image: none !important;
}
