/*** START The Basics ***/

	h1 {
		color: #e0301e;
		border-top: 4px solid #e0301e;
	}
	hr { color: #e0301e; }	
	
	/* Start legacy COLOUR styles */

	.mediumtext, .strongtext, .largeststrong, .mediumText, .strongText, .largestStrong { color: #e0301e; }
	.largestbright, .largestBright { color: #e0301e; }
	
	.contentLink { background-image: url(/en_GX/webadmin/assets/image/red_square.gif); }
	.contentLink a:link { text-decoration: underline; color: #404041; }
	.contentLink a:visited { text-decoration: underline; color: #6d6e71; }
	.contentLink a:hover { text-decoration: underline; color: #e0301e; }

	.indexListSplit ul li, .contentList ul li { list-style-image: url(/en_GX/webadmin/assets/image/red_square.gif); }
	.indexListSplit a:link, .contentList a:link { text-decoration: underline; color: #404041; }
	.indexListSplit a:visited, .contentList a:visited { text-decoration: underline; color: #6d6e71; }
	.indexListSplit a:hover, .contentList a:hover { text-decoration:underline; color: #e0301e;  } 

	.contentLink a:link, .contentArea ul li a:link, .ContentArea ul li a:link, .rightCell a:link, .leftCell a:link, .careersContentArea ul li a:link, .contentArea ul li a:link, .ContentArea ul li a:link, .micrositeContentArea ul li a:link, .popupContentArea ul li a:link { text-decoration: underline; color: #404041; }
	.contentLink a:visited, .contentArea ul li a:visited, .ContentArea ul li a:visited, .rightCell a:visited, .leftCell a:visited, .careersContentArea ul li a:visited, .contentArea ul li a:visited, .ContentArea ul li a:visited, .micrositeContentArea ul li a:visited, .popupContentArea ul li a:visited { text-decoration: underline; color: #6d6e71; }
	.contentLink a:hover, .contentArea ul li a:hover, .ContentArea ul li a:hover, .rightCell a:hover, .leftCell a:hover, .careersContentArea ul li a:hover, .contentArea ul li a:hover, .ContentArea ul li a:hover, .micrositeContentArea ul li a:hover, .popupContentArea ul li a:hover { text-decoration:underline; color: #e0301e;  } 	
	
	.white, td.white { background-color: #FFFFFF; color: #000000; }
	.white a:link, td.white a:link { text-decoration: underline; color: #404041; background-color: #ffffff; }
	.white a:visited, td.white a:visited { text-decoration: underline; color: #6d6e71; background-color: #ffffff; }
	.white a:hover, td.white a:hover { text-decoration:none; color: #e0301e;  }

	.light, td.light, .neutral, td.neutral {  color: #000000; }
	.light a:link, td.light a:link, .neutral a:link, td.neutral a:link { text-decoration: underline; color: #404041;  }
	.light a:visited, td.light a:visited, .neutral a:visited, td.neutral a:visited { text-decoration: underline; color: #6d6e71;  }
	.light a:hover, td.light a:hover, .neutral a:hover, td.neutral a:hover { text-decoration: none; color: #e0301e; background-color: #ffffff; }

	.medium, td.medium { background-color: #ffffff; color: #000000; }
	.medium a:link, td.medium a:link { text-decoration: underline; color: #404041; background-color: #ffffff; }
	.medium a:visited, td.medium a:visited { text-decoration: underline; color: #6d6e71; background-color: #ffffff; }
	.medium a:hover, td.medium a:hover { text-decoration:none; color: #e0301e;  }

	.strong, td.strong { background-color: #e0301e; color: #ffffff; }
	.strong a:link, td.strong a:link { text-decoration: underline; color: #FFFFFF; background-color: #e0301e; }
	.strong a:visited, td.strong a:visited { text-decoration: underline; color: #FFFFFF; background-color: #e0301e; }
	.strong a:hover, td.strong a:hover { text-decoration:none; color: #e0301e;  }

	/* GX BONUS */
	div.plainborder, table.plainborder, table.plainborder td { border: 1px solid #e0301e; border-collapse: collapse; }
	
/*** END The Basics ***/

/*** START The Shell ***/

	/* Applied to whole areas - individually overwritten further down in smaller places */
	#header a:link, #countriesbox a:link, #media-details a:link, #mobilefooter a:link { text-decoration: none; color: #e0301e; }
	#header a:visited, #countriesbox a:visited, #media-details a:visited, #mobilefooter a:visited { text-decoration: none; color: #6d6e71; }
	#countriesbox a:hover, #media-details a:hover, #mobilefooter a:hover { text-decoration:underline; color: #e0301e; } 
		
	#header .langlink a:link, #header .langlink a:visited { text-decoration: none; color: #6d6e71; }
	#header .langlink a:hover { text-decoration:underline; color: #e0301e;  } 

	#translation a:link, #translation a:visited { text-decoration: none; }
	
/*** END The Shell ***/

/*** START Search ***/

	#livesearch { /* Live search results box */
		border: 1px solid #e0301e;
		border-top: 1px dotted #e0301e;
	}
	
/*** END Search ***/

/*** START Primary Nav ***/

/*** END Primary Nav ***/

/*** START Left column ***/
	
	.leftnav { border-top: 4px solid #e0301e; }
	
	/* Hover for non-selected items */
	.leftnav div:hover { color: #e0301e; }
	.leftnav #selected .lhnentry { background-image: url(/en_GX/webadmin/assets/image/sprites-arrow.gif); background-position: -420px center; background-repeat: no-repeat; }
	
	/* Links */
	.lhnentry a:hover { text-decoration: none; color: #e0301e; }
	
	.leftnav #selected .lhnentry a:link, .leftnav #selected .lhnentry a:visited { color: #e0301e; }
	.leftnav #selected ul li .lhnentry a:hover { color: #e0301e !important; } /* No colour on lower li's */
	
/*** END Left column ***/

/*** START Content area ***/

	#center a:hover, #home a:hover, #right a:hover { text-decoration: underline; color: #e0301e; }
	
	#center ul a:link, #home ul a:link { text-decoration: none; color: #e0301e; }
	#center ul a:visited, #home ul a:visited { text-decoration: none; color: #dc6900;}
	
	#center ul li, #home ul li { list-style-image: url(/en_GX/webadmin/assets/image/red_square.gif); }
	* html #center ul li, * html #home ul li, *:first-child+html #center ul li, *:first-child+html #home ul li  { list-style-image: url(/en_GX/webadmin/assets/image/red_square_ie.gif); }
	
	/* START Basic (default) table styles */
	table.datatablecolour th {
		background-color: #e0301e;
		color: #FFFFFF;
	}
	table.datatablecolour th { border: 1px solid #e0301e; }
	table.datatablecolour tr, table.datatablecolour td, table.datatablecolour td+td { 	border: 1px solid #e0301e; }
	table.datatablecolour .tablecellmid, table.datatablecolour td.tablecellmid {
		background-color: #e0301e;
		color: #FFFFFF;
	}
	/* END table styles

	/* New publication layout */
	.pubdownload {
		background-color: #e0301e;
	}
	.pubdownload a {
		background-image: url(/en_GX/webadmin/assets/image/red_pubdownload.gif);
	}
	#pubfeature .rhbox ul li {list-style-image:url(/en_GX/webadmin/assets/image/red_arrow.gif);}
	#pubfeature .rhbox .publink ul li {list-style-image:url(/en_GX/webadmin/assets/image/red_arrow.gif);}

/* 2010 design content features */
.contentfeature small { color: #939598; }
.contentfeature p { color: #6d6e71; }
.dark h2 {
	color: #e0301e;
	border-bottom: 4px solid #e0301e;
}
.bright h2 {
	color: #e0301e;
	border-bottom: 4px solid #e0301e;
}

/*** END Content area ***/

/*** START Right column ***/
	
	.rhtitle, .RHTitle { color: #dc6900; } 
	.rhbox ul li a:hover, .contactlink a:hover, .RHBox ul li a:hover, .contactLink a:hover { text-decoration:none; color: #e0301e;  } 
	.rhcontacts a:hover, .RHContacts a:hover { text-decoration: underline !important; color: #e0301e;  } 

	.rhbox ul, .RHBox ul {
		border-top: 4px solid #dc6900;
		background-color: #fceae9;
	}
	
	.contactlink, .contactLink{ background-image: url(/en_GX/webadmin/assets/image/red_arrow.gif); }
	ul#pagetools li, ul#shareicons li { list-style: none; } /* Overide .rhbox icons above */
	
/*** END Right column ***/

/*** START Footer ***/


/*** END Footer ***/

/*** START Homepage specific ***/

	.homesubheading { color: #e0301e; }
	
	.hometile { background-color: #e0301e; }
	
	.hometile a:hover { background-color: #e0301e; }

/*** END Homepage specific ***/

/*** START R2 Form specific ***/
	
	form h2 { color: #e0301e; }	
	.labelhighlight { color: #e0301e; }	
	.formfield input, .formfield select { border: 1px solid #e0301e; }
	.formfield textarea { border: 1px solid #e0301e; }
	.formfield .buttonsubmit, .formfield .buttonreset {
		background-color: #e0301e;
		border: 1px solid #e0301e !important;
	}
	.fieldvalidateoff { border: 1px solid #e0301e !important; }
	.fieldhighlighton { background-color: #fceae9 !important; }
	
/*** END R2 Form specific ***/

/* 2010 Webtiles */

	.bgbright { background-color: #dc6900; }
	.bgbase { background-color: #e0301e; }
	
/* Generic Colours */

.bg100 { background-color: #e0301e; }
.bg25 { background-color: #f7cbc7; }
.bg10 { background-color: #fceae9; }

.fg100 { color: #e0301e; }
.fg25 { color: #f7cbc7; }
.fg10 { color: #fceae9; }

/* MEDIA TABS CSS */
ul.media-tabs { 	border-bottom:1px solid #e0301e;}
ul.media-tabs-doubleheight { border-bottom:1px solid #e0301e;	}
ul.media-tabs li a:hover, #center ul.media-tabs li a:hover {
	border-top:4px solid #e0301e;
	color:#e0301e;
}
ul.media-tabs-doubleheight li a:hover, #center ul.media-tabs-doubleheight li a:hover {
	border-top:4px solid #e0301e;
	color:#e0301e;
}
ul.media-tabs a.current, ul.media-tabs a.current:hover, ul.media-tabs li.current a, ul.media-tabs-doubleheight a.current, ul.media-tabs-doubleheight a.current:hover, ul.media-tabs-doubleheight li.current a, #center ul.media-tabs a.current, #center ul.media-tabs a.current:hover, #center ul.media-tabs li.current a, #center ul.media-tabs-doubleheight a.current, #center ul.media-tabs-doubleheight a.current:hover, #center ul.media-tabs-doubleheight li.current a,ul.media-tabs a.current:visited,ul.media-tabs li.current a:visited,#center ul.media-tabs a.current:visited,#center ul.media-tabs li.current a:visited,ul.media-tabs-doubleheight a.current:visited,ul.media-tabs-doubleheight li.current a:visited,#center ul.media-tabs-doubleheight a.current:visited,#center ul.media-tabs-doubleheight li.current a:visited {
	color:#e0301e;
	border-bottom:1px solid #fff;
	border-left:1px solid #e0301e;
	border-right:1px solid #e0301e;
	border-top:4px solid #e0301e;
}

/* 2010 Expander widget */

.expander h2 { color: #dc6900; border-bottom: 4px solid #dc6900; }
.expander ul li a:hover { color: #dc6900 !important; }
.expander { background-color: #fbf0e5; }

.expander .bulleted ul li {
	list-style-image: url(/en_GX/webadmin/assets/image/orange_square.gif) !important;
	list-style: url(/en_GX/webadmin/assets/image/orange_square.gif) !important;
}
* html .expander .bulleted ul li {
	list-style-image: url(/en_GX/webadmin/assets/image/orange_square_ie.gif) !important;
	list-style: url(/en_GX/webadmin/assets/image/orange_square_ie.gif) !important;
}
*:first-child+html .expander .bulleted ul li {
	list-style-image: url(/en_GX/webadmin/assets/image/orange_square_ie.gif) !important;
	list-style: url(/en_GX/webadmin/assets/image/orange_square_ie.gif) !important;
}

.expander h3 {	background-image: url(/en_GX/webadmin/assets/image/orange_plus.gif);}
.expander .longlist h3 {  background-image: url(/en_GX/webadmin/assets/image/orange_minus.gif); }
.expander .shortlist h3 { background-image: url(/en_GX/webadmin/assets/image/orange_plus.gif); }

/* Landing page Media feature */
#center .media-feature-tabs a,#center .media-feature-tabs a:visited, #center .media-feature-tabs a:link, #home .media-feature-tabs a,#home .media-feature-tabs a:visited, #home .media-feature-tabs a:link, #right .media-feature-tabs a,#right .media-feature-tabs a:visited, #right .media-feature-tabs a:link { color:#e0301e;}
#center .media-feature-tabs a:hover, #home .media-feature-tabs a:hover, #right .media-feature-tabs a:hover { color:#e0301e; background-color:#f7cbc7;  }
#center .media-feature-tabs a.current,#center .media-feature-tabs a.current:link,#center .media-feature-tabs a.current:visited, #home .media-feature-tabs a.current,#home .media-feature-tabs a.current:link,#home .media-feature-tabs a.current:visited, #right .media-feature-tabs a.current,#right .media-feature-tabs a.current:link,#right .media-feature-tabs a.current:visited { color:#ffffff; background-color:#e0301e;	}

/* Accordion & Expander components */
#accordion h2, .accordion h2 {
	background-color: #e0301e;
	background-image: url(/en_GX/webadmin/assets/image/red_plus.gif);
}

#promopanels ul.pagecolor li a { border-top: 3px solid #e0301e; }
#promopanels ul.pagecolor li a:hover, #promopanels  ul.pagecolor li a.active { background-color: #f7cbc7; }
#landingwrapper .leftnav .lhn1 { border-color: #e0301e; }
#landingwrapper .leftnav .lhn1 div a { color: #e0301e; }

/* Mobile Friendly CSS */
#mobilefooter { border-top: 4px solid #e0301e; }

#pwcslider .sliderhead, #pwcsliderauto .sliderhead { background-color: #e0301e; }

/* YouTube multiplayer - TvH April 2013 */
.multi-playlist-header h3 {
	/* 70% black */
	color: #6d6e71;
	/* 100% color */
	border-top:4px solid #e0301e;
}
.multi-player-bottom-border {
	/* 70% black */
	border-top:1px dotted #6d6e71;
}
.multi-playlist-item {
	/* 10% color  */
	background-color:#fceae9;
	/* 25% color  */
	border:1px solid #f7cbc7;
	/* 100%  color */
	border-top:2px solid #e0301e;
}
.multi-playlist-item-m {
	/* 10% color  */
	background-color:#fceae9;
	/* 25% color  */
	border:1px solid #f7cbc7;
	/* 100% color  */
	border-top:2px solid #e0301e;
}
.multi-item-np {
	/* 100% color  */
	background-color:#e0301e;
	color:#ffffff;
}
.multi-item-desc {
	/* 10% color  */
	background-color:#fceae9;
}
.multi-expanding-section h3 {
	/* 10% neutral grey */
	background-color: #f5f4f0;
	/* 70% black */
	color: #6d6e71;
}
.multi-background-color-10 {
	/* 10% color  */
	background-color : #fceae9;
}
.multi-background-color-25 {
	/* 25% color  */
	background-color : #f7cbc7;
}
.multi-header-closed {
	/* 10% color  */
	background-color: #fceae9;
}
.multi-nextup-prefix {
	/* 100% color */
	color:#e0301e;
	
}
